<template>
  <div id="systemSetting">
    <div class="shareHeader">
      <div class="title">三维模型智能管理平台</div>
    </div>
    <div class="horLine"></div>
    <DivSecond></DivSecond>
    <div class="centerHeader">
      <TabBar
        ref="tabBar"
        class="tabBar"
        :data="tabData"
        @change="tabHandler"
      ></TabBar>
    </div>
    <div style="text-align: right">
      <el-button
        class="marginL20"
        type="primary"
        v-if="tabIndex != 1"
        @click="clickCUHandler()"
        >新建</el-button
      >
      <el-button
        class="marginL20"
        type="primary"
        v-if="tabIndex == 1"
        @click="addHandlerBtn"
        >添加</el-button
      >
    </div>
    <div class="tableClass">
      <div class="tableQP">
        <Table
          v-if="tabIndex == 1"
          ref="tableRef"
          :data="tableData1"
          class="yuyu"
        >
          <el-table-column
            class="haveInputCalss"
            prop="name"
            label="名称"
            :key="50"
          >
            <template slot-scope="scope">
              <el-input
                :disabled="!scope.row.isInput"
                class="table_input"
                v-model="scope.row.name"
                @change="inputChangeHandler($event, scope.row)"
                placeholder="请输入内容"
              ></el-input>
            </template>
          </el-table-column>
          <el-table-column width="150" align="center" label="操作">
            <template slot-scope="scope">
              <div class="operation">
                <span
                  @click="addtypeHandler(scope.row)"
                  :class="scope.row.isInput ? 'margin5 isdisabled' : 'margin5'"
                  >添加</span
                >|<span
                  @click="deltypeHandler(scope.row)"
                  :class="scope.row.isInput ? 'margin5 isdisabled' : 'margin5'"
                  >删除</span
                >
              </div>
            </template>
          </el-table-column>
        </Table>
        <Table
          v-if="tabIndex != 1"
          ref="tableRef"
          :data="tableData"
          style="width: 100%"
        >
          <el-table-column
            width="55"
            align="center"
            type="index"
            label="序号"
          ></el-table-column>
          <el-table-column
            align="center"
            v-for="item in tabHeader"
            :key="item.key"
            show-overflow-tooltip
            :prop="item.prop"
            :label="item.label"
          ></el-table-column>
          <el-table-column width="240" align="center" label="操作">
            <template slot-scope="scope">
              <div class="operation">
                <span @click="setHandler(scope.row)" v-if="tabIndex == 5"
                  >设置</span
                >
                <!-- <span v-else @click="pushHandlerBtn(false, scope.row)">
                修改
              </span> -->
                <span v-else @click="clickCUHandler(scope.row)">修改</span
                >|<span>删除</span>
                <span v-if="tabIndex == 4">|</span>
                <span v-if="tabIndex == 4" class="margin5"> 手动同步 </span>
              </div>
            </template>
          </el-table-column>
        </Table>
      </div>
      <div class="rightList_main_pagination" v-show="tabIndex != 1">
        <el-pagination
          background
          @current-change="currentChange"
          layout="prev, pager, next"
          :page-size="pageSize"
          :current-page="currentPage"
          :total="total"
        >
        </el-pagination>
        <span class="info"
          >当前显示{{ tableData.length }}条，当前记录共{{ total }}条</span
        >
      </div>
    </div>
    <el-dialog
      lock-scroll
      :title="textCU"
      :visible.sync="visible"
      width="35%"
      top="25vh"
      @close="closeHandler"
      @open="openHandler"
    >
      <el-form
        ref="bzform"
        class="form"
        :rules="bzrules"
        :model="bzform"
        label-position="left"
        v-if="tabIndex == 0"
      >
        <el-form-item prop="name">
          <div style="display: flex; align-items: center">
            <span class="formlabel"><i class="star">*</i>标准名称:</span>
            <el-input v-model="bzform.name" placeholder="请输入内容"></el-input>
            <el-upload
              class="upload-demoaaa"
              action="/api/v1/upload/file"
              multiple
              ref="uploadel"
              :limit="1"
              :on-success="successHandler"
              :before-upload="beforeUpload"
              :show-file-list="false"
            >
              <el-button class="fgfg" type="primary">导入标准文件</el-button>
            </el-upload>
          </div>
        </el-form-item>

        <el-form-item prop="file_type">
          <span class="formlabel"><i class="star">*</i>模型用途:</span>
          <el-select v-model="bzform.file_type" placeholder="请选择">
            <el-option
              v-for="m in filetypeListS"
              :label="m.name"
              :value="m.id"
              :key="m.id + 239"
            ></el-option>
          </el-select>
        </el-form-item>

        <el-form-item>
          <span
            class="formlabel"
            style="
              vertical-align: top;
              padding-left: 25px;
              box-sizing: border-box;
            "
            >标准说明:</span
          >
          <el-input
            :rows="5"
            type="textarea"
            v-model="bzform.describe"
            placeholder="请输入内容"
          ></el-input>
        </el-form-item>
        <el-form-item style="text-align: center">
          <el-button type="primary" @click="onSubmit('bzform', 0)"
            >确定</el-button
          >
          <el-button @click="visible = false" class="marginL20">返回</el-button>
        </el-form-item>
      </el-form>
      <el-form
        v-if="tabIndex == 2"
        ref="csform"
        class="form"
        :rules="csrules"
        :model="csform"
        label-position="left"
      >
        <el-form-item prop="name">
          <span class="formlabel"><i class="star">*</i>名称:</span>
          <el-input v-model="csform.name" placeholder="请输入内容"></el-input>
        </el-form-item>
        <el-form-item prop="jname">
          <span class="formlabel"><i class="star">*</i>简称:</span>
          <el-input v-model="csform.jname" placeholder="请输入内容"></el-input>
        </el-form-item>
        <el-form-item>
          <span
            class="formlabel"
            style="
              vertical-align: top;
              padding-left: 25px;
              box-sizing: border-box;
            "
            >说明:</span
          >
          <el-input
            :rows="5"
            type="textarea"
            v-model="csform.describe"
            placeholder="请输入内容"
          ></el-input>
        </el-form-item>
        <el-form-item style="text-align: center">
          <el-button type="primary" @click="onSubmit('csform')">确定</el-button>
          <el-button @click="visible = false" class="marginL20">返回</el-button>
        </el-form-item>
      </el-form>
      <el-form
        v-if="tabIndex == 3"
        ref="ccform"
        class="form ccform"
        :rules="ccrules"
        :model="ccform"
        label-position="left"
      >
        <el-form-item prop="name">
          <span class="formlabel"><i class="star">*</i>名称:</span>
          <el-input v-model="ccform.name" placeholder="请输入内容"></el-input>
        </el-form-item>
        <el-form-item prop="address">
          <span class="formlabel"><i class="star">*</i>地址:</span>
          <el-input
            v-model="ccform.address"
            placeholder="请输入内容"
          ></el-input>
        </el-form-item>
        <el-form-item prop="area">
          <span class="formlabel"><i class="star">*</i>地域:</span>
          <el-input v-model="ccform.area" placeholder="请输入内容"></el-input>
        </el-form-item>
        <el-form-item prop="bucket">
          <span class="formlabel"><i class="star">*</i>Bucket:</span>
          <el-input v-model="ccform.bucket" placeholder="请输入内容"></el-input>
        </el-form-item>
        <el-form-item prop="accesskey">
          <span class="formlabel"><i class="star">*</i>Access key:</span>
          <el-input
            v-model="ccform.accesskey"
            placeholder="请输入内容"
          ></el-input>
        </el-form-item>
        <el-form-item prop="secret">
          <span class="formlabel"><i class="star">*</i>Secret:</span>
          <el-input v-model="ccform.secret" placeholder="请输入内容"></el-input>
        </el-form-item>
        <el-form-item style="text-align: center">
          <el-button type="primary" @click="onSubmit('ccform')">确定</el-button>
          <el-button @click="visible = false" class="marginL20">返回</el-button>
        </el-form-item>
      </el-form>
      <el-form
        v-if="tabIndex == 4"
        ref="tbform"
        class="form"
        :rules="tbrules"
        :model="tbform"
        label-position="left"
      >
        <el-form-item prop="name">
          <span class="formlabel"><i class="star">*</i>名称:</span>
          <el-input v-model="tbform.name" placeholder="请输入内容"></el-input>
        </el-form-item>
        <el-form-item prop="address">
          <span class="formlabel"><i class="star">*</i>地址:</span>
          <el-input
            v-model="tbform.address"
            placeholder="请输入内容"
          ></el-input>
        </el-form-item>
        <el-form-item prop="radio">
          <span class="formlabel uu">自动同步:</span>
          <el-radio-group v-model="tbform.radio">
            <el-radio :label="true">开启</el-radio>
            <el-radio :label="false">关闭</el-radio>
          </el-radio-group>
        </el-form-item>
        <el-form-item prop="time">
          <span class="formlabel uu">同步时间:</span>
          <el-time-picker
            v-model="tbform.time"
            :picker-options="{
              selectableRange: '00:00:00 - 23:59:59',
            }"
            placeholder="请选择时间"
          >
          </el-time-picker>
        </el-form-item>
        <el-form-item style="text-align: center">
          <el-button type="primary" @click="onSubmit('tbform')">确定</el-button>
          <el-button @click="visible = false" class="marginL20">返回</el-button>
        </el-form-item>
      </el-form>

      <el-form
        v-if="tabIndex == 5"
        ref="zdform"
        class="form"
        :rules="zdrules"
        :model="zdform"
        label-position="left"
      >
        <el-form-item prop="name">
          <span class="formlabel"><i class="star">*</i>类型名称:</span>
          <el-input v-model="zdform.name" placeholder="请输入内容"></el-input>
        </el-form-item>
        <el-form-item prop="address">
          <span class="formlabel"><i class="star">*</i>类型标识:</span>
          <el-input
            v-model="zdform.address"
            placeholder="请输入内容"
          ></el-input>
        </el-form-item>

        <el-form-item style="text-align: center">
          <el-button type="primary" @click="onSubmit('zdform')">保存</el-button>
          <el-button @click="visible = false" class="marginL20">返回</el-button>
        </el-form-item>
      </el-form>
    </el-dialog>

    <el-dialog
      lock-scroll
      title="地区"
      :visible.sync="fvisible"
      width="40%"
      top="25vh"
      @close="zdCloseHandler"
    >
      <div class="FFF">
        <div class="TTTheader FFFheader">
          <span>字典名称</span>
          <span>字典值</span>
          <span>操作</span>
        </div>
        <div style="max-height: 500px; overflow: auto">
          <div
            v-for="(item, index) in zdRowData"
            :style="{
              background:
                parseInt(index / 2) == index / 2
                  ? '#fff'
                  : 'rgb(245, 251, 250)',
            }"
            class="TTTheader"
            :key="index + 54"
          >
            <span>
              <el-input
                class="zd_input"
                placeholder="请输入"
                v-model="item.name"
              >
              </el-input>
            </span>

            <span>
              <el-input
                class="zd_input"
                placeholder="请输入"
                v-model="item.name"
              >
              </el-input>
            </span>
            <div class="btnsClass">
              <img
                class="imgWH_24"
                src="../../assets/image/topa.png"
                alt=""
                @click="clickHandler({ item, index }, 'add_top')"
                title="上方添加行"
              />
              <img
                class="imgWH_24"
                src="../../assets/image/bota.png"
                alt=""
                @click="clickHandler({ item, index }, 'add_bot')"
                title="下方添加行"
              />
              <img
                class="imgWH_24"
                src="../../assets/image/topb.png"
                @click="clickHandler({ item, index }, 'move_top')"
                alt=""
                title="上移一行"
              />
              <img
                class="imgWH_24"
                src="../../assets/image/botb.png"
                @click="clickHandler({ item, index }, 'move_bot')"
                alt=""
                title="下移一行"
              />
              <img
                class="imgWH_24"
                src="../../assets/image/error.png"
                @click="clickHandler({ item, index }, 'delete')"
                alt=""
                title="删除"
              />
            </div>
          </div>
        </div>
      </div>
    </el-dialog>
    <!-- <JsonEdit></JsonEdit> -->
  </div>
</template>

<script>
// import { pushHandler } from "@/utils/shUtils.js";
// import JsonEdit from "../../components/jsonEdit.vue";
import {
  getGroups,
  auditStandard,
  deleteGroups,
  createGroups,
  auditAdd,
} from "@/http/api";
export default {
  name: "systemSetting",
  components: {
    // JsonEdit,
  },
  data() {
    return {
      tableData: [],
      total: 0,
      tabIndex: 0,
      fvisible: false,
      visible: false,
      tableData1: [],
      filetypeListS: [
        { id: 1, name: "数字化移交" },
        { id: 2, name: "精细化模型" },
        { id: 3, name: "实景三维点云" },
      ],
      tabHeader: [
        { label: "标准名称", key: 0, prop: "name" },
        { label: "标准说明", key: 1, prop: "desc" },
        // { label: "审核项个数", key: 2, prop: "" },
      ],
      tabHeaderArr: [
        // 审核标准
        [
          { label: "标准名称", key: 3, prop: "name" },
          { label: "标准说明", key: 4, prop: "desc" },
          //   { label: "审核项个数", key: 5, prop: "" },
        ],
        // 模型分类
        [],
        // 厂商管理
        [
          { label: "名称", key: 6, prop: "" },
          { label: "简称", key: 7, prop: "" },
          { label: "说明", key: 8, prop: "" },
        ],
        // 存储设置
        [
          { label: "名称", key: 9, prop: "" },
          { label: "地址", key: 10, prop: "" },
          { label: "地域", key: 11, prop: "" },
          { label: "Bucket", key: 12, prop: "" },
          { label: "Access key", key: 13, prop: "" },
          { label: "Secret", key: 14, prop: "" },
        ],
        // 同步设置
        [
          { label: "名称", key: 15, prop: "" },
          { label: "地址", key: 16, prop: "" },
          { label: "自动同步时间", key: 17, prop: "" },
          { label: "自动同步设置", key: 18, prop: "" },
        ],
        // 字典设置
        [
          { label: "类型名称", key: 19, prop: "name" },
          { label: "类型标识", key: 20, prop: "type" },
        ],
      ],
      table_ref: null,
      pushText: "新建标准",
      tabData: [
        { id: 0, name: "审核标准" },
        { id: 1, name: "模型分类" },
        { id: 2, name: "厂商管理" },
        { id: 3, name: "存储设置" },
        { id: 4, name: "同步设置" },
        { id: 5, name: "字典设置" },
      ],
      pageSize: 20,
      currentPage: 1,
      textCU: "",
      bzform: {
        describe: "",
        name: "",
        file_type: "",
      },
      bzrules: {
        name: [{ required: true, message: "请输入标准名称" }],
        file_type: [{ required: true, message: "请输入模型用途" }],
      },
      csform: {
        describe: "",
        name: "",
        jname: "",
      },
      csrules: {
        name: [{ required: true, message: "请输入标准名称" }],
        jname: [{ required: true, message: "请输入标准名称" }],
      },
      ccform: {
        name: "",
        address: "",
        area: "",
        bucket: "",
        accesskey: "",
        secret: "",
      },
      ccrules: {
        name: [{ required: true, message: "请输入标准名称" }],
        address: [{ required: true, message: "请输入地址" }],
        area: [{ required: true, message: "请输入地域" }],
        bucket: [{ required: true, message: "请输入Bucket" }],
        accesskey: [{ required: true, message: "请输入Access key" }],
        secret: [{ required: true, message: "请输入Secret" }],
      },
      tbform: {
        name: "",
        address: "",
        radio: true,
        time: "",
      },
      tbrules: {
        name: [{ required: true, message: "请输入标准名称" }],
        address: [{ required: true, message: "请输入地址" }],
      },
      zdKeys: [
        { name: "所属地区", key: "areaList", type: 1 },
        { name: "变电站电压等级", key: "voltageList", type: 2 },
        { name: "所属站点", key: "site_nameList", type: 3 },
        { name: "设备间隔", key: "device_spaceList", type: 4 },
        { name: "设备电压等级", key: "device_voltageList", type: 5 },
        //   {name:"设备分类",key:"device_typeList",type:7},
        { name: "模型用途", key: "fileTypeList", type: 8 },
      ],
      zdform: {
        name: "",
        sdress: "",
      },
      zdRowData: [],
      zdrules: {
        name: [{ required: true, message: "请输入类型名称" }],
        sdress: [{ required: true, message: "请输入类型标识" }],
      },

      file_path: "",
      rowData: {},
      device_typeList: [],
      modelBaseGroups: null,
    };
  },
  computed: {},
  watch: {},
  created() {
    let modelBaseGroups = JSON.parse(sessionStorage.getItem("MODELBASEGROUPS"));
    this.modelBaseGroups = modelBaseGroups;
    this.device_typeList = modelBaseGroups.device_typeList;
  },
  mounted() {
    let index = this.$route.query.query
      ? JSON.parse(this.$route.query.query).type
      : "no";
    if (index != "no") {
      this.$refs.tabBar.setIndex({ id: index });
      this.tabHandler({ index });
    }
    this.table_ref = this.$refs.tableRef.$refs.table;
    this.getHandler_0();
  },
  methods: {
    addtypeHandler(params) {
      // params.id
      // params.name
      // params.parent_id
      // params.sub_list
      // params.type
      if (!params.isInput) {
        let obj = {
          name: "",
          parent_id: params.id,
          id: 99998 + params.id,
          isInput: true,
        };
        if (params.sub_list) {
          params.sub_list.push(obj);
        } else {
          params.sub_list = [obj];
        }
      }
    },
    clearData() {},
    clickCUHandler(row) {
      let str = row ? "修改" : "新建";
      let titleArr = ["标准", "", "厂商", "存储", "同步", "字典"];
      this.textCU = str + titleArr[this.tabIndex];
      if (row) {
        this.rowData = row;
        this.file_path = row.file_path;
        switch (this.tabIndex) {
          case 0:
            this.bzform.describe = row.desc;
            this.bzform.name = row.name;
            this.bzform.file_type = row.file_type ? row.file_type : 1;
            break;

          default:
            break;
        }
      }

      //  0 审核标准
      //  1 模型分类
      //  2 厂商管理
      //  3 存储设置
      //  4 同步设置
      //  5 字典设置
      this.visible = true;
    },
    inputChangeHandler(text, row) {
      let { name, parent_id } = { ...row };
      let para = {
        paraent_id: parent_id,
        name,
        type: 7,
        uid: sessionStorage.getItem("MODELUSERID"),
        describe: "none",
      };
      this.createGroupsHandler(para);
    },
    createGroupsHandler(params) {
      createGroups(params).then((res) => {
        if (res.code == 0) {
          this.$message.success("创建成功");
          this.getGroupsHandler();
        }
      });
    },
    deltypeHandler(row) {
      if (!row.isInput) {
        this.$confirm("您确定要删除吗?", "提示", {
          confirmButtonText: "确定",
          cancelButtonText: "取消",
          type: "warning",
        })
          .then(() => {
            deleteGroups({ id: row.id }).then((res) => {
              if (res.code == 0) {
                this.$message({
                  type: "success",
                  message: "删除成功!",
                });
                this.getGroupsHandler();
              }
            });
          })
          .catch(() => {
            this.$message({
              type: "info",
              message: "已取消删除",
            });
          });
      }
    },
    getGroupsHandler() {
      //   1 所属地区
      //   2  变电站电压等级
      //   3 所属站点
      //   4 设备间隔
      //   5 设备电压等级
      //   6
      //   7 设备分类
      //   8 模型用途
      getGroups().then((res) => {
        if (res.code == 0) {
          //   this.device_typeList = [];
          let areaList = res.list["1"] ? res.list["1"] : [];
          let voltageList = res.list["2"] ? res.list["2"] : [];
          let site_nameList = res.list["3"] ? res.list["3"] : [];
          let device_spaceList = res.list["4"] ? res.list["4"] : [];
          let device_voltageList = res.list["5"] ? res.list["5"] : [];
          let device_typeList = res.list["7"] ? res.list["7"] : [];
          let fileTypeList = res.list["8"] ? res.list["8"] : [];

          //   this.device_typeList = device_typeList;
          device_typeList.forEach((item, index) => {
            this.$set(this.device_typeList, index, item);
          });

          let params = {
            areaList,
            voltageList,
            site_nameList,
            device_spaceList,
            device_voltageList,
            device_typeList,
            fileTypeList,
          };
          sessionStorage.removeItem("MODELBASEGROUPS");
          sessionStorage.setItem("MODELBASEGROUPS", JSON.stringify(params));
        }
      });
    },

    getHandler_0() {
      auditStandard().then((res) => {
        let data = res.list;
        let arr = [];
        for (const key in data) {
          arr = arr.concat(data[key]);
        }
        this.tableData = arr;
      });
    },
    getHandler_1() {
      this.tableData1 = this.device_typeList;
    },
    getHandler_2() {},
    getHandler_3() {},
    getHandler_4() {},
    getHandler_5() {
      let zdKeys = JSON.parse(JSON.stringify(this.zdKeys));
      // tableData
      let modelBaseGroups = this.modelBaseGroups;
      zdKeys.forEach((item) => {
        for (const key in modelBaseGroups) {
          if (item.key == key) {
            item.childrenlist = modelBaseGroups[key];
          }
        }
      });
      this.tableData = zdKeys;
      // modelBaseGroups
    },
    // pushHandlerBtn(name, params) {
    //     console.log(name,params)
    //   let text = null;
    //   switch (this.tabIndex) {
    //     //   '审核标准'
    //     case 0:
    //       text = "新建标准";
    //       break;
    //     //   模型分类
    //     case 1:
    //       break;
    //     //   厂商管理
    //     case 2:
    //       text = "新建厂商";
    //       break;
    //     //   存储设置
    //     case 3:
    //       text = "新建存储";
    //       break;
    //     //   同步设置
    //     case 4:
    //       text = "新建同步";
    //       break;
    //     //   字典设置
    //     case 5:
    //       break;
    //     default:
    //       break;
    //   }

    //   //   if (!params && params != "undefined") {
    //   //     pushHandler(text, this);
    //   //   } else {
    //   //     pushHandler(text, this, params);
    //   //   }
    // },
    currentChange(currentPage) {
      this.currentPage = currentPage;
    },
    setHandler(row) {
      this.zdRowData = row.childrenlist;
      this.fvisible = true;
    },
    zdCloseHandler() {
      this.zdRowData = [];
    },
    clickHandler(params, type) {
      let { item, index } = { ...params };
      let arrVar = JSON.parse(JSON.stringify(this.zdRowData));
      this.zdRowData = [];
      switch (type) {
        case "add_top":
          arrVar.splice(index, 0, { name: "" });
          break;
        case "add_bot":
          arrVar.splice(index + 1, 0, { name: "" });
          break;
        case "move_top":
          if (index > 0) {
            arrVar.splice(index, 1);
            arrVar.splice(index - 1, 0, item);
          }
          break;
        case "move_bot":
          if (index < arrVar.length - 1) {
            arrVar.splice(index, 1);
            arrVar.splice(index + 1, 0, item);
          }
          break;
        case "delete":
          arrVar.splice(index, 1);
          break;

        default:
          break;
      }
      //    = ;
      this.zdRowData = arrVar;
    },
    tabHandler(params) {
      let index = params.id;
      if (index != 1) {
        this.tabHeader = this.tabHeaderArr[index];
      }
      this.tableData = [];
      this.clearData();
      this.tabIndex = index;
      let handler = "getHandler_" + index;
      this[handler]();
    },
    addHandlerBtn() {
      this.tableData1.push({
        name: "",
        parent_id: 0,
        id: 6666,
        isInput: true,
      });
    },
    formClearData() {
      this.rowData = {};
      if (this.$refs.bzform) {
        this.bzform.describe = "";
        this.bzform.name = "";
        this.bzform.file_type = "";
        this.$refs.bzform.clearValidate();
        // this.$refs.bzform.resetFields();
      }
      if (this.$refs.csform) {
        this.csform.describe = "";
        this.csform.name = "";
        this.csform.jname = "";
        this.$refs.csform.clearValidate();
        // this.$refs.csform.resetFields();
      }
      if (this.$refs.ccform) {
        this.ccform.name = "";
        this.ccform.address = "";
        this.ccform.area = "";
        this.ccform.bucket = "";
        this.ccform.accesskey = "";
        this.ccform.secret = "";
        this.$refs.ccform.clearValidate();
        // this.$refs.ccform.resetFields();
      }
      if (this.$refs.tbform) {
        this.tbform.name = "";
        this.tbform.address = "";
        this.tbform.radio = true;
        this.tbform.time = "";
        this.$refs.tbform.clearValidate();
      }
      if (this.$refs.zdform) {
        this.zdform.name = "";
        this.zdform.address = "";
        this.$refs.zdform.clearValidate();
      }
      this.file_path = "";
    },
    closeHandler() {
      this.formClearData();
    },
    openHandler() {
      this.$nextTick(() => {
        if (this.textCU.includes("新建")) {
          this.formClearData();
        }
      });
    },
    // 标准弹框
    successHandler(response) {
      this.$message.success("文件导入成功");
      this.file_path = response.file_access_url;
    },
    beforeUpload(file) {
      if (file.type == "application/json") {
        return true;
      } else {
        this.$message.warning("仅支持json格式");
        return false;
      }
    },
    auditAddHandler() {
      if (!this.file_path || this.file_path == "") {
        this.$message.warning("请先导入标准文件");
        return;
      }
      let params = {
        name: this.bzform.name,
        describe: this.bzform.describe,
        file_type: this.bzform.file_type,
        file_path: this.file_path,
      };
      console.log(params, "paramsparamsparams");
      auditAdd(params).then((res) => {
        if (res.code == 0) {
          this.$message.success("新建成功");
          this.file_path = "";
          this.$refs.uploadel.clearFiles();
          this.visible = false;
          this.getHandler_0();
        } else {
          // this.$message.error("新建失败")
        }
      });
    },
    onSubmit(formName, type) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          //   let func = "getHandler_" + type;
          //  0 审核标准
          //  1 模型分类
          //  2 厂商管理
          //  3 存储设置
          //  4 同步设置
          //  5 字典设置
          switch (type) {
            case 0:
              this.auditAddHandler();
              break;

            default:
              break;
          }
          //   this[func]()
        } else {
          return false;
        }
      });
    },
  },
  //
};
</script>

<style lang="less">
#systemSetting {
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  .topHeader {
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-content: center;
    padding: 0 0 20px 0;
    box-sizing: border-box;
    border-bottom: 1px solid var(--borderColor); /*no*/
    .title {
      line-height: 40px;
      font-size: 18px;
    }
  }
  .centerHeader {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .tableClass {
    width: 100%;
    height: calc(100% - 255px);
    margin-top: 20px;
  }
  .rightList_main_pagination {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 10px;
    .info {
      margin: 0 20px;
    }
  }
  .table_input {
    display: inline-block;
    max-width: 600px;
    .el-input__inner {
      background: transparent !important;
      border: 0;
      color: #666666;
    }
  }
}
.FFF {
  .TTTheader {
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    > span {
      display: inline-block;
      width: 200px;
    }
  }
  .FFFheader {
    background: rgb(206, 227, 213);
    color: #333;
    font-weight: bold;
  }
  .btnsClass {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    img {
      margin: 0 5px;
      cursor: pointer;
    }
  }
  .zd_input {
    .el-input__inner {
      border: 0;
      background: transparent;
      text-align: center;
    }
  }
}
.upload-demoaaa {
  display: inline-block;
  margin-left: 40px;
}
.form {
  width: 100%;
  // border: 1px solid var(--borderColor);
  //   margin-top: 20px;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
  .example {
    font-size: 16px;
    margin-left: 20px;
  }
  .el-input {
    width: 200px;
  }
  .el-textarea {
    width: 380px;
  }
  .el-form-item__error {
    left: 150px;
  }
  .formlabel {
    font-size: 16px;
    text-align: left;
    color: #333;
    width: 100px;
    display: inline-block;
    margin-right: 20px;
  }
}
.ccform {
  .formlabel {
    width: 130px;
  }
}
.isdisabled {
  color: rgb(144, 147, 153);
  cursor: not-allowed;
}
.yuyu {
  width: 100%;
  height: calc(100% - 50px);
}
.fgfg {
  padding: 10px 20px;
}
.uu {
  padding-left: 25px;
  box-sizing: border-box;
}
</style>
