html,
body,
#vueapp,
#vueAPPid {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
  color: #333;
  font-family: "Microsoft YaHei", "微软雅黑";
}
p {
  margin: 0;
}
i,
em {
  font-style: normal;
}
::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 10px; /*高宽分别对应横竖滚动条的尺寸*/
  height: 10px;
}
::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 6px;
  //   box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: #d6dddc;
}
::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  //   box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background: #fff;
}
div {
  scrollbar-color: #d6dddc #fff; //设置滚动条颜色
  scrollbar-width: thin;
}
.scrollbar {
  height: 100%;
  .el-scrollbar__wrap {
    overflow-x: hidden;
  }
  //   .el-scrollbar__bar {
  //     background-color: #eeeeee;
  //   }
  .el-scrollbar__thumb {
    background-color: #d6dddc;
  }
  .el-scrollbar__wrap {
    margin-right: -10px !important;
  }
}
div[data-name="dist-vue"] {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
:root {
  --borderColor: rgb(210, 210, 210);
  --shareColor: rgb(0, 161, 135);
  --priceColor: #ff715e;
}
// ******************第三方组件通用样式******************
div.shareTable {
  width: 100%;
  .headerRowclassName {
    height: 50px;
    background-color: #cee3d5;
    th.el-table__cell {
      background-color: #cee3d5;
      color: #333333;
      font-size: 16px;
    }
  }
  tr.el-table__row {
    background-color: #cee3d5;
    font-size: 16px;
    font-size: #666666;
  }
  .el-table__body tr.current-row > td.el-table__cell {
    background: none;
    color: #333333;
  }
  .sort-caret.ascending {
    border-bottom-color: #333333;
  }
  .sort-caret.descending {
    border-top-color: #333333;
  }
  .ascending .sort-caret.ascending {
    border-bottom-color: var(--shareColor);
  }
  .descending .sort-caret.descending {
    border-top-color: var(--shareColor);
  }

  .el-table__body tr.hover-row.current-row > td.el-table__cell,
  .el-table__body
    tr.hover-row.el-table__row--striped.current-row
    > td.el-table__cell,
  .el-table__body tr.hover-row.el-table__row--striped > td.el-table__cell,
  .el-table__body tr.hover-row > td.el-table__cell {
    background-color: transparent !important;
  }
  //   .el-table__fixed {
  //     background: rgb(217, 233, 223) !important;
  //   }

  col[width="55"] {
    width: 55px;
  }
  col[width="100"] {
    width: 100px;
  }
  col[width="110"] {
    width: 110px;
  }
  col[width="120"] {
    width: 120px;
  }
  col[width="130"] {
    width: 130px;
  }
  col[width="140"] {
    width: 140px;
  }
  col[width="150"] {
    width: 150px;
  }
  col[width="160"] {
    width: 160px;
  }
  col[width="170"] {
    width: 170px;
  }
  col[width="180"] {
    width: 180px;
  }
  col[width="200"] {
    width: 200px;
  }
  col[width="210"] {
    width: 210px;
  }
  col[width="220"] {
    width: 220px;
  }
  col[width="230"] {
    width: 230px;
  }
  col[width="250"] {
    width: 250px;
  }
  .cell {
    width: 100% !important;
  }
}
.shareTable.el-table--enable-row-hover
  .el-table__body
  tr:hover
  > td.el-table__cell {
  color: #333333;
  background: none;
}
.formw70 {
  width: 70px !important;
}
// ================================
button.el-button--primary {
  background: var(--shareColor);
  color: #fff;
  border: 1px solid var(--shareColor);
  border-radius: 4px;
  padding: 12px 20px;
  font-size: 16px;
}
button.el-button--primary:hover,
button.el-button--primary.is-active,
button.el-button--primary:active,
button.el-button--primary:focus {
  background: var(--shareColor);
  color: #fff;
}
button.el-button--default {
  background: #fff;
  color: var(--shareColor);
  border: 1px solid var(--shareColor);
  border-radius: 4px;
  padding: 12px 20px;
  font-size: 16px;
}
button.el-button--default:hover,
button.el-button--default.is-active,
button.el-button--default:active,
button.el-button--default:focus {
  background: #fff;
  color: var(--shareColor);
}

button.el-button--primary.is-disabled,
button.el-button--primary.is-disabled:active,
button.el-button--primary.is-disabled:focus,
button.el-button--primary.is-disabled:hover {
  background-color: rgba(0, 161, 135, 0.5);
  border-color: rgba(0, 161, 135, 0.5);
}

div.el-input-group__append,
div.el-input-group__prepend {
  background-color: var(--shareColor);
  color: #fff;
  border: 1px solid var(--shareColor); /*no*/
}

.el-button.inputButton {
  height: 36px;
  padding: 0 10px;
  line-height: 36px;
}
.el-icon-arrow-up:before {
  content: "" !important;
  color: rgb(153, 153, 153);
  font-size: 20px;
}
.el-icon-arrow-down:before {
  content: "" !important;
  color: rgb(153, 153, 153);
  font-size: 20px;
}

button.bigPadd.el-button {
  padding: 12px 50px;
  margin: 20px 50px;
}

// ================================
.el-dropdown-menu.el-popper {
  min-width: 200px;
  text-align: center;
}

// ================================
.el-pagination {
  text-align: center;
}
.el-pagination.is-background ul.el-pager li:not(.disabled).active {
  background: var(--shareColor);
}
.el-pagination.is-background ul.el-pager li:not(.disabled):hover {
  color: #fff;
  background: var(--shareColor);
}
div.el-pagination.is-background .btn-next,
div.el-pagination.is-background .btn-prev,
div.el-pagination.is-background .el-pager li {
  color: var(--shareColor);
}
div.el-pagination.is-background .el-pager li {
  background: none;
  border: 1px solid var(--shareColor);
}
div.el-pagination.is-background .btn-next,
div.el-pagination.is-background .btn-prev {
  background: var(--shareColor);
  color: #fff;
}
div.el-pagination.is-background .btn-next.disabled,
div.el-pagination.is-background .btn-next:disabled,
div.el-pagination.is-background .btn-prev.disabled,
div.el-pagination.is-background .btn-prev:disabled {
  color: #fff;
  background: rgba(0, 161, 135, 0.5);
}
// ================================
div.el-dialog {
  border-radius: 8px;
  div.el-dialog__header {
    background: #e7e7e7;
    padding: 0 0 0 30px;
    height: 50px;
    line-height: 50px;
    color: #333;
    font-size: 16px;
    border-radius: 8px 8px 0 0;
    button.el-dialog__headerbtn {
      top: 16px;
      right: 30px;
      font-size: 20px;
    }
  }
  .el-dialog__footer {
    padding: 10px 20px;
    .el-button {
      margin: 0 10px;
    }
  }
}
// .el-dialog__wrapper {
//   background: rgba(0, 0, 0, 0.55);
// }
// =======================
.el-input {
  .el-input__inner {
    height: 36px;
    padding-left: 10px;
    border-color: var(--borderColor);
  }
  .el-input__inner:hover {
    border-color: var(--shareColor);
  }
}
.el-input.is-active input.el-input__inner,
input.el-input__inner:focus {
  border-color: var(--shareColor);
}
// =======================
.el-select {
  width: 210px;
}
div.el-select .el-input.is-focus .el-input__inner,
div.el-select .el-input__inner:focus,
div.el-select:hover .el-input__inner {
  border-color: var(--shareColor);
}
// =======================

// ******************end******************

.shareHeader {
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-content: center;
  padding: 0 0 20px 0;
  box-sizing: border-box;
  .title {
    line-height: 40px;
    font-size: 18px;
  }
}
.horLine {
  display: block;
  width: 100%;
  height: 1px /*no*/;
  background: var(--borderColor);
}
.verLine {
  display: inline-block;
  height: 100%;
  width: 1px; /*no*/
  background: var(--borderColor);
}
.star {
  color: #ff0000;
  margin: 0 10px;
}
// 图标尺寸
.imgWH_14 {
  width: 14px;
  height: 14px;
}
.imgWH_24 {
  width: 24px;
  height: 24px;
}
.imgWH_32 {
  width: 32px;
  height: 32px;
}
.imgWH_64 {
  width: 64px;
  height: 64px;
}
.imgWH_128 {
  width: 128px;
  height: 128px;
}
.imgWH_192 {
  width: 192px;
  height: 192px;
}
.imgWH_256 {
  width: 256px;
  height: 256px;
}

.operation {
  color: var(--shareColor);
  > span {
    margin: 0 5px;
    cursor: pointer;
  }
}
.breadcrumb {
  margin-bottom: 20px;
}

.tableInput {
  .el-input__inner {
    border: none;
    background-color: transparent;
    text-align: center;
  }
}

.image-slot {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ccc;
  i {
    font-size: 30px;
    color: #ccc;
  }
}
.rightList_main_pagination {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 10px;
  .info {
    margin: 0 20px;
  }
}

.form20 {
  margin-top: 20px;
}
.tableQP {
  width: 100%;
  height: calc(100% - 40px);
}
.marginL50 {
  margin-left: 50px!important;
}
.marginL10 {
  margin-left: 10px!important;
}
.marginL20 {
  margin-left: 20px!important;
}
.marginLR10{
    margin: 0 10px!important;
}
.marginLR80 {
  margin: 0 80px!important;
}
.width200 {
  width: 200px;
}
.descClass {
  padding-left: 30px;
  vertical-align: top;
  box-sizing: border-box;
}
.paddL170 {
  padding-left: 170px;
}
.paddL160 {
  padding-left: 160px;
}
.el-table__empty-block {
  width: auto !important;
}
.height36 {
  .el-input__inner {
    height: 36px !important;
  }
}
.marginLR100 {
  margin: 0 100px;
}
.marginTB20 {
  margin: 20px 0;
}
.marginT20 {
  margin-top: 20px;
}