<template>
  <div id="home">
    <div class="shareHeader">
      <div class="title">三维模型智能管理平台</div>
    </div>
    <div class="horLine"></div>
    <Divider
      :data="[
        '模型管理',
        '购物车',
        '发布管理',
        '会员管理',
        '订单管理',
        '财务管理',
        '系统设置',
        '个人信息',
      ]"
    ></Divider>
    <div class="conte">
      <div class="fourDiv">
        <p>模型总数量</p>
        <p>{{ data.num }}</p>
      </div>
      <div class="fourDiv">
        <p>发布模型总数量</p>
        <p>{{ data.pulish_num }}</p>
      </div>
      <div class="fourDiv">
        <p>站点总数量</p>
        <p>{{ data.site_name_num }}</p>
      </div>
      <div class="fourDiv">
        <p>生产厂商总数量</p>
        <p>{{ data.device_company_num }}</p>
      </div>
    </div>
  </div>
</template>

<script>
import { getGroups, modelIndex } from "@/http/api";
export default {
  name: "home",
  data() {
    return {
      data: {},
    };
  },
  computed: {},
  watch: {},
  mounted() {
    let routers = this.$router.options.routes;
    this.routerArr = this.getRouters(routers);
    let modelBaseGroups = sessionStorage.getItem("MODELBASEGROUPS");
    // if (!modelBaseGroups) {
    this.getGroupsHandler();
    // }
    sessionStorage.setItem("MODELUSERID", 1000);
    this.modelIndexHandler();
  },
  methods: {
    modelIndexHandler() {
      modelIndex().then((res) => {
        this.data = res.data;
      });
    },
    getRouters(router) {
      let routersArr = [];
      getRoutersByfor(router);
      function getRoutersByfor(router) {
        router.forEach((item) => {
          let namepath = { name: "", path: "" };
          if (item.meta && item.meta.title) {
            namepath.name = item.meta.title;
            namepath.path = item.path;
            routersArr.push(namepath);
          }
          if (item.children && item.children.length > 0) {
            getRoutersByfor(item.children);
          }
        });
      }
      return routersArr;
    },
    getGroupsHandler() {
      //   1 所属地区
      //   2  变电站电压等级
      //   3 所属站点
      //   4 设备间隔
      //   5 设备电压等级
      //   6
      //   7 设备分类
      //   8 模型用途
      getGroups().then((res) => {
        let areaList = res.list["1"] ? res.list["1"] : [];
        let voltageList = res.list["2"] ? res.list["2"] : [];
        let site_nameList = res.list["3"] ? res.list["3"] : [];
        let device_spaceList = res.list["4"]
          ? res.list["4"]
          : [{ name: "2.6", id: "333" }];
        let device_voltageList = res.list["5"] ? res.list["5"] : [];
        let device_typeList = res.list["7"] ? res.list["7"] : [];
        let fileTypeList = res.list["8"] ? res.list["8"] : [];

        let params = {
          areaList,
          voltageList,
          site_nameList,
          device_spaceList,
          device_voltageList,
          device_typeList,
          fileTypeList,
        };
        sessionStorage.setItem("MODELBASEGROUPS", JSON.stringify(params));
      });
    },
  },
};
</script>

<style lang="less">
#home {
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  .topHeader {
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-content: center;
    padding: 0 0 20px 0;
    box-sizing: border-box;
    .title {
      line-height: 40px;
      font-size: 18px;
    }
  }
  .conte {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 200px;
    width: 100%;
    box-sizing: border-box;
    height: calc(100% - 155px);
    .fourDiv {
      width: 300px;
      height: 300px;
      border: 1px solid var(--borderColor);
      margin: 20px 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #333;
      font-size: 30px;
      border-radius: 10px;
      p {
        margin: 10px 0;
      }
    }
  }
}
</style>
