<template>
  <el-breadcrumb v-if="breadcrumbData.length > 0" separator=">">
    <el-breadcrumb-item
      v-for="item in breadcrumbData"
      :to="{ path: item.path, query: item.query ? { query: item.query } : {} }"
    >
      {{ item.name }}
    </el-breadcrumb-item>
  </el-breadcrumb>
</template>
<script>
import { getPathByName } from "@/utils/shUtils.js";
export default {
  name: "breadcrumb",
  props: ["breadcrumb"],
  data() {
    return {
      breadcrumbData: [],
      routerArr: [],
    };
  },
  computed: {},
  watch: {},
  created() {
    let newval = this.breadcrumb;
    newval.forEach((item, n) => {
      if (typeof item == "object") {
        let el = item.name;
        let path = getPathByName(el);
        let obj = {
          name: el,
          path,
          query: item.query,
        };
        this.breadcrumbData.push(obj);
      } else {
        let path = getPathByName(item);
        let obj = {
          name: item,
          path,
          query: null,
        };
        this.breadcrumbData.push(obj);
      }
    });
  },
  methods: {},
};
</script>

<style>
.el-breadcrumb {
  display: inline-block;
}
.el-breadcrumb__item {
  font-size: 16px;
}
.el-breadcrumb__inner a:hover,
.el-breadcrumb__inner.is-link:hover {
  color: var(--shareColor);
}
</style>
