<template>
  <div id="divider">
    <!-- <div id="wheelId" style="display: flex; justify-content: space-between"> -->
    <div
      :class="
        index == data.length - 1
          ? 'dividerMainWrap width18'
          : 'dividerMainWrap width292'
      "
      v-for="(item, index) in data"
      :key="item"
    >
      <div
        :class="
          routePtitle == item || routeTitle == item
            ? 'dividerMain active'
            : 'dividerMain'
        "
        @click="pushHandlerBtn(item)"
      >
        <p>{{ item }}</p>
        <div class="dividerCircle"><span></span></div>
      </div>
      <div
        class="line"
        :style="{ width: index == data.length - 1 ? '0' : '100%' }"
      ></div>
    </div>
    <!-- </div> -->
  </div>
</template>

<script>
import { pushHandler, getPathByName } from "@/utils/shUtils.js";
export default {
  name: "divider",
  props: {
    data: {
      type: Array,
      default: function () {
        return [];
      },
    },
  },
  data() {
    return {
      active: 2,
      routeTitle: "",
      routePtitle: null,
      dom: null,
    };
  },
  computed: {},
  watch: {},
  created() {
    let row = this.$route.query.query
      ? JSON.parse(this.$route.query.query)
      : null;
    console.log(row, "this.$route.query.query");
    if (row && (row.name == "发布管理" || row.name == "模型管理")) {
      this.routePtitle = row.name;
    } else {
      this.routePtitle = this.$route.meta.ptitle
        ? this.$route.meta.ptitle
        : null;
    }
    this.routeTitle = this.$route.meta.title;
  },
  mounted() {
    this.dom = document.getElementById("divider");
    this.dom.scrollLeft = sessionStorage.getItem("DIVIDERSCROLL");
    this.dom.addEventListener("DOMMouseScroll", this.handleScroll);
    this.dom.addEventListener("mousewheel", this.handleScroll);
  },
  methods: {
    aa() {
      console.log("11111111");
    },
    handleScroll(e) {
      e.preventDefault();
      if (e.deltaY > 0 || e.detail > 0) {
        this.dom.scrollLeft += 80;
      } else {
        this.dom.scrollLeft -= 80;
      }
      sessionStorage.setItem("DIVIDERSCROLL", this.dom.scrollLeft);
    },
    pushHandlerBtn(name) {
      let bol = sessionStorage.getItem("MYUPLOAD");

      let arr = ["全站模型", "设备模型", "我的上传", "收藏夹"];
      if (arr.indexOf(bol) >= 0 && name == "模型管理") {
        console.log(bol, name, "模型管理子集");
        pushHandler(bol, this);
      } else {
        let path = getPathByName(name);
        // console.log(path, "0-0-0-0-");
        if (path) {
          pushHandler(name, this);
        }
      }
    },
  },
};
</script>

<style lang="less">
#divider::-webkit-scrollbar {
  width: 0 !important;
  height: 0;
}
.width18 {
  width: 18px;
}
.width292 {
  //   width: 292px;
  width: 100%;
}
#divider {
  width: 100%;
  box-sizing: border-box;
  padding: 60px 40px 20px 40px;
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
  /*隐藏滚动条，当IE下溢出，仍然可以滚动*/
  -ms-overflow-style: none;
  /*火狐下隐藏滚动条*/
  scrollbar-width: none;
  .el-divider__text {
    padding: 0;
  }
  //   .el-divider__text.is-left {
  //     left: 0;
  //   }
  //   .el-divider__text.is-right {
  //     right: 0;
  //   }
  .dividerMainWrap {
    position: relative;
  }
  .line {
    position: absolute;
    background: #eeeeee;
    width: 100%;
    height: 1px;
    left: 16px;
    top: 50%;
  }
  .dividerMain {
    width: 20px;
    .dividerCircle {
      width: 16px;
      height: 16px;
      border: 1px solid rgb(236, 236, 236); /*no*/
      border-radius: 50%;
      display: flex;
      justify-content: center;
      background: rgb(236, 236, 236);
      align-items: center;
      cursor: pointer;
      span {
        display: block;
        border-radius: 50%;
        background: var(--borderColor);
        width: 10px;
        height: 10px;
      }
    }
    p {
      white-space: nowrap;
      position: absolute;
      top: -30px;
      left: -25px;
      cursor: pointer;
      //   font-weight: bold;
      font-size: 16px;
      color: #666666;
      height: 40px;
    }
  }
  .dividerMain.active,
  .dividerMain:hover {
    .dividerCircle {
      background: rgb(204, 236, 231);
      border: 1px solid rgb(204, 236, 231); /*no*/
      span {
        background: var(--shareColor);
      }
    }
    p {
      color: var(--shareColor);
      font-weight: bold;
    }
  }
}
</style>
