<template>
  <Divider1
    :data="[
      '模型管理',
      '购物车',
      '发布管理',
      '会员管理',
      '订单管理',
      '财务管理',
      '系统设置',
      '个人信息',
    ]"
  ></Divider1>
</template>

<script>
import Divider1 from "./divider.vue";
export default {
  name: "",
  components: {
    Divider1,
  },
  data() {
    return {};
  },
  computed: {},
  watch: {},
  mounted() {},
  methods: {},
};
</script>

<style></style>
