<template>
  <div>
    <BAceEditor
      v-model="json"
      :wrap="true"
      lang="json"
      theme="vibrant_ink"
      ref="editor"
      :options="options"
      :useSoftTabs="true"
    ></BAceEditor>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "",
  components: {
  },
  data() {
    return {
      json: "",
      options: {
        useSoftTabs: true,
      },
    };
  },
  computed: {},
  watch: {},
  mounted() {
    axios.get("/static/audit/gim.json#").then((res) => {
    //   let t = res.data.replaceAll("\r\n", "").replaceAll("\\", "");
      this.json = JSON.stringify(res.data, null, 2);
    });
    console.log(this, "000");
  },
  methods: {
    onJsonChange(value) {
      console.log("value:", value);
    },
    onJsonSave(value) {
      console.log("value:", value);
    },
    onError(value) {
      console.log("value:", value);
    },
  },
};
</script>

<style></style>
