<template>
  <TabBar
    ref="taBar"
    class="tabBar"
    :data="fileTypeListh"
    @change="tabHandler"
  ></TabBar>
</template>

<script>
export default {
  name: "",
  props: {
    type: Array,
    default: function () {
      return [];
    },
  },
  data() {
    return {};
  },
  computed: {},
  watch: {},
  mounted() {},
  methods: {},
};
</script>

<style></style>
