<template>
  <div id="tabBar">
    <div
      v-for="(item, index) in data"
      @click="tabHandler(item)"
      :style="{ borderRadius: borderRadius(index) }"
      :class="activeIndex_btn == item.id ? 'active_btn' : ''"
    >
      {{ item.name }}
    </div>
  </div>
</template>

<script>
export default {
  name: "TabBar",
  props: {
    data: {
      type: Array,
      default: function () {
        return [];
      },
    },
    index: {
      default: function () {
        return 0;
      },
    },
  },
  data() {
    return {
      activeIndex_btn: 0,
    };
  },
  computed: {},
  watch: {
    index(newval) {
      this.activeIndex_btn = newval;
    },
  },
  mounted() {},
  methods: {
    borderRadius(index) {
      let len = this.data.length;
      let style = "0 0 0 0";
      if (this.data.length > 1) {
        if (index == 0) {
          style = "4px 0 0 4px";
        } else if (index == len - 1) {
          style = "0 4px 4px 0";
        }
      } else {
        style = "4px 4px 4px 4px";
      }
      return style;
    },
    setIndex(item) {
      this.activeIndex_btn = item.id;
      //   this.$emit("change", item);
    },
    tabHandler(item) {
      this.activeIndex_btn = item.id;
      this.$emit("change", item);
    },
  },
};
</script>

<style lang="less">
#tabBar {
  display: flex;
  > div {
    padding: 5px 40px;
    border: 1px solid var(--shareColor);
    color: var(--shareColor);
    cursor: pointer;
    transition: all 0.5s;
  }
  //   > div:first-child {
  //     border-radius: 4px 0 0 4px;
  //   }
  //   > div:last-child {
  //     border-radius: 0 4px 4px 0;
  //   }
  > div:hover {
    color: #fff;
    background: var(--shareColor);
  }
  .active_btn {
    color: #fff;
    background: var(--shareColor);
  }
}
</style>
