<template>
  <div id="favorites">
    <!-- <Breadcrumb
      class="breadcrumb"
      :breadcrumb="['模型列表', '我的模型']"
    ></Breadcrumb>
    <div class="horLine"></div>
    <div>
      <Divider
        :data="['购物车', '我的订单', '我的上传', '收藏夹', '个人信息']"
      ></Divider>
    </div> -->
    <!-- <ShareHeader></ShareHeader> -->
    <div class="tableClass">
      <div class="tableQP">
        <Table
          ref="tableRef"
          :data="tableData"
          @selectionChange="selectionChange"
          style="width: 100%"
          rowKey="model_version_id"
        >
          <el-table-column
            type="selection"
            align="center"
            width="55"
            :key="10"
          ></el-table-column>
          <el-table-column
            width="130"
            align="center"
            show-overflow-tooltip
            label="序号"
            sortable="custom"
            type="index"
          ></el-table-column>
          <el-table-column
            width="150"
            align="center"
            show-overflow-tooltip
            prop="name"
            label="模型名称"
          ></el-table-column>
          <el-table-column
            width="130"
            align="center"
            show-overflow-tooltip
            prop="device_num"
            label="设备型号"
          ></el-table-column>
          <el-table-column
            align="center"
            show-overflow-tooltip
            prop="device_voltage"
            label="设备电压等级"
          ></el-table-column>
          <el-table-column
            align="center"
            show-overflow-tooltip
            prop="device_company"
            label="生产厂商"
          ></el-table-column>
          <el-table-column
            align="center"
            show-overflow-tooltip
            prop="site_name"
            label="模型用途"
          >
            <template slot-scope="scope">
              <span>{{ getFileTypeByNum(scope.row.fileType) }}</span>
            </template>
          </el-table-column>
          <el-table-column
            align="center"
            show-overflow-tooltip
            prop="price"
            label="价格"
          >
            <template slot-scope="scope">
              <span style="color: red">
                {{ scope.row.price ? "￥" : "" }}{{ scope.row.price }}
              </span>
            </template>
          </el-table-column>
          <el-table-column width="250" align="center" label="操作">
            <template slot-scope="scope">
              <div class="operation">
                <span @click="lookHandler(scope.row)"> 查看 </span>
                |
                <span>加入购物车</span>|
                <span @click="cancelCollect(scope.row)">取消收藏</span>
              </div>
            </template>
          </el-table-column>
        </Table>
      </div>
      <div
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
        "
      >
        <!-- <div>
          <el-checkbox
            @change="checkboxChange"
            :indeterminate="indeterminate"
            style="margin: 20px"
            v-model="checkboxVal"
            >全选</el-checkbox
          >
          <span class="jyClass" @click="deleteHandler">删除选中模型</span>
          <span class="jyClass" @click="moveHandler">移入收藏夹</span>
        </div> -->
        <div></div>
        <div class="rightList_main_pagination">
          <el-pagination
            background
            @current-change="currentChange"
            layout="prev, pager, next"
            :page-size="pageSize"
            :current-page="currentPage"
            :total="total"
          >
          </el-pagination>
          <span class="info"
            >当前显示{{ tableData.length }}条，当前记录共{{ total }}条</span
          >
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// import MyTableBar from "../components/myTableBar.vue";
// import ShareHeader from "../components/shareHeader.vue";
import { getColletcList, delColletc } from "@/http/api.js";
import { pushHandler } from "@/utils/shUtils.js";
export default {
  name: "favorites",
  components: {
    // MyTableBar,
    // ShareHeader,
  },
  data() {
    return {
      tableData: [],
      total: 0,
      checkboxVal: false,
      indeterminate: false,
      selectTable: [],
      table_ref: null,
      pageSize: 20,
      currentPage: 1,
    };
  },
  computed: {},
  watch: {},
  created() {
    sessionStorage.setItem("MYUPLOAD", "收藏夹");
    let modelBaseGroups = JSON.parse(sessionStorage.getItem("MODELBASEGROUPS"));
    this.fileTypeList = modelBaseGroups.fileTypeList;
  },
  mounted() {
    // this.table_ref = this.$refs.tableRef.$refs.table;
    this.getColletcListHandler();
  },
  methods: {
    rowStyle({ row, rowIndex }) {
      let num = rowIndex / 2;
      return parseInt(num) == num
        ? { background: "#fff" }
        : { background: "rgb(245, 251, 250)" };
    },
    getFileTypeByNum(type) {
      let key = null;
      this.fileTypeList.forEach((item) => {
        if (item.id == "9") {
          item.name = "FBX";
        }
        if (item.id == type) {
          key = item.name;
        }
      });
      console.log(key, type, "ssssssssss");
      return key;
    },
    getColletcListHandler() {
      getColletcList({
        page: this.currentPage,
        page_size: this.pageSize,
        uid: 1000,
      }).then((res) => {
        this.tableData = res.list ? res.list : [];
        this.total = res.pager.total_rows;
      });
    },
    lookHandler(params) {
      if (params.model_id && params.model_id != "") {
        this.pushHandlerBtn("模型详情", {
          id: params.model_id,
          status: params.status,
        });
      } else {
        this.$message.warning("缺少必要参数");
      }
    },
    pushHandlerBtn(name, params) {
      pushHandler(name, this, params);
    },
    selectionChange(params) {
      this.selectTable = params;
      this.checkboxVal = this.tableData.length == params.length;
      this.indeterminate =
        params.length > 0 && this.tableData.length > params.length;
    },
    cancelCollect(row) {
      if (row.model_version_id && row.model_version_id != "") {
        this.delColletcHandler(row.model_version_id);
      } else {
        this.$message.warning("缺少必要参数");
      }
    },
    delColletcHandler(id) {
      delColletc(id).then((res) => {
        this.getColletcListHandler();
      });
    },
    deleteHandler() {
      if (this.selectTable.length <= 0) {
        this.$message.warning("请选择模型");
        return;
      } else {
      }
    },
    moveHandler() {
      if (this.selectTable.length <= 0) {
        this.$message.warning("请选择模型");
        return;
      }
    },
    checkboxChange(bol) {
      this.table_ref.clearSelection();
      if (bol) {
        this.table_ref.toggleAllSelection();
      }
    },
    currentChange(currentPage) {
      this.currentPage = currentPage;
      this.table_ref.clearSelection();
      this.getColletcListHandler();
    },
  },
};
</script>

<style lang="less">
#favorites {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  .tableClass {
    width: 100%;
    margin-top: 20px;
    height: 100%;
  }
  .rightList_main_pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    .info {
      margin: 0 20px;
    }
  }
  .jyClass {
    font-size: 16px;
    cursor: pointer;
    margin: 0 10px;
  }
  .jyClass:hover {
    color: var(--shareColor);
  }
}
</style>
