<template>
  <div id="modelupload">
    <div class="shareHeader">
      <div class="title">三维模型智能管理平台</div>
    </div>
    <div class="horLine"></div>
    <DivSecond></DivSecond>
    <!-- <TabBar
      class="tabBar"
      ref="taBar"
      :data="tabData"
      @change="tabHandler"
    ></TabBar> -->
    <!-- <div style="height: calc(100% - 90px)"> -->
    <div class="oioioi">
      <el-scrollbar class="scrollbar">
        <el-form
          v-show="!isAllowNext"
          ref="form"
          class="form"
          :rules="rules"
          :model="form"
          label-position="left"
        >
          <el-form-item prop="area">
            <span class="formlabel"><i class="star">*</i>所属地区:</span>
            <el-select v-model="form.area" placeholder="请选择">
              <el-option
                v-for="(item, index) in areaList"
                :label="item.name"
                :value="item.name"
                :key="item.name + item.id"
              ></el-option>
            </el-select>
          </el-form-item>

          <el-form-item prop="site_name">
            <span class="formlabel"><i class="star">*</i>所属站点:</span>
            <el-select v-model="form.site_name" placeholder="请选择">
              <el-option
                v-for="(item, index) in site_nameList"
                :label="item.name"
                :value="item.name"
                :key="item.name + item.id"
              ></el-option>
            </el-select>
          </el-form-item>
          <el-form-item v-if="tabIndex == 1" prop="device_num">
            <span style="color: rgba(0, 0, 0, 0)" class="example"
              >例：csc-103a</span
            >
            <span class="formlabel"><i class="star">*</i>设备型号:</span>
            <el-input
              v-model="form.device_num"
              placeholder="请输入内容"
            ></el-input>
            <span class="example">例：csc-103a</span>
          </el-form-item>
          <el-form-item v-if="tabIndex == 1" prop="device_voltage">
            <span class="formlabel"><i class="star">*</i>设备电压等级:</span>
            <el-select v-model="form.device_voltage" placeholder="请选择">
              <el-option
                v-for="(item, index) in device_voltageList"
                :label="item.name"
                :value="item.name"
                :key="item.name + item.id"
              ></el-option>
            </el-select>
          </el-form-item>

          <el-form-item v-if="tabIndex == 1" prop="device_company">
            <span class="formlabel"><i class="star">*</i>设备生产厂商:</span>
            <el-dropdown
              placement="bottom"
              trigger="click"
              @command="commandHandler"
            >
              <el-input
                class="width200"
                placeholder="请输入设备生产厂商"
                v-model="form.device_company"
                @input="inputHandler"
              >
              </el-input>
              <el-dropdown-menu slot="dropdown">
                <el-dropdown-item
                  v-for="(item, index) in dropdownList"
                  :command="item"
                  :key="index + 239"
                >
                  {{ item }}
                </el-dropdown-item>
              </el-dropdown-menu>
            </el-dropdown>
          </el-form-item>
          <el-form-item prop="name">
            <span class="formlabel"><i class="star">*</i>模型名称:</span>
            <el-input
              :disabled="isDisabledupload"
              v-model="form.name"
              placeholder="请输入内容"
            ></el-input>
          </el-form-item>
          <el-form-item prop="voltage">
            <span class="formlabel"><i class="star">*</i>变电站电压等级:</span>
            <el-select
              :disabled="isDisabledupload && isQAllow && tabIndex == 1"
              v-model="form.voltage"
              placeholder="请选择"
            >
              <el-option
                v-for="(item, index) in voltageList"
                :label="item.name"
                :value="item.name"
                :key="item.name + item.id"
              ></el-option>
            </el-select>
          </el-form-item>
          <el-form-item v-if="tabIndex == 1" prop="device_space">
            <span class="formlabel"><i class="star">*</i>设备间隔:</span>
            <el-select
              :disabled="isDisabledupload"
              v-model="form.device_space"
              placeholder="请选择"
            >
              <el-option
                v-for="(item, index) in device_spaceList"
                :label="item.name"
                :value="item.name"
                :key="item.name + item.id"
              ></el-option>
            </el-select>
          </el-form-item>

          <el-form-item v-if="tabIndex == 1" prop="device_type">
            <span class="formlabel"><i class="star">*</i>设备分类:</span>
            <el-cascader
              :disabled="isDisabledupload"
              @change="handleNodeClick"
              v-model="form.device_type"
              :options="device_typeList"
              :props="props"
              :show-all-levels="false"
            ></el-cascader>
          </el-form-item>

          <el-form-item>
            <span class="formlabel descClass">说明:</span>
            <el-input
              :disabled="isDisabledupload && tabIndex == 1"
              :rows="5"
              type="textarea"
              v-model="form.describe"
              placeholder="请输入内容"
            ></el-input>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="onSubmit('form')"
              >下一步</el-button
            >
          </el-form-item>
        </el-form>

        <div class="uploadItemClass" v-show="isAllowNext">
          <p>
            <span class="formlabel"><i class="star">*</i>文件上传:</span>
            <span class="waringClass">
              数字化移交/精细化模型/实景三维点云必须都上传才能发布
            </span>
          </p>
          <div class="uploadItemClass_div">
            <Upload
              :isDisabledupload="isDisabledupload_0"
              ref="upload0"
              :all_sites="all_sites"
              :model_id="uploadmodel_id"
              fileTypeName="实景三维点云"
              fileTypes="las,laz,pcl,e57l"
              @process="processHandler"
              @processMd5="processHandler($event, 'md5')"
              @success="successHandler($event, 0)"
              @error="errorHandler($event, 0)"
              :isAllowUpload="isAllowUpload[0]"
            ></Upload>
            <Upload
              :isDisabledupload="isDisabledupload_0"
              ref="upload1"
              :all_sites="all_sites"
              :model_id="uploadmodel_id"
              fileTypeName="精细化模型"
              fileTypes="max"
              @process="processHandler"
              @processMd5="processHandler($event, 'md5')"
              @success="successHandler($event, 1)"
              @error="errorHandler($event, 1)"
              :isAllowUpload="isAllowUpload[1]"
            ></Upload>
            <Upload
              :isDisabledupload="isDisabledupload_0"
              ref="upload2"
              :all_sites="all_sites"
              :model_id="uploadmodel_id"
              fileTypeName="数字化移交"
              fileTypes="gim"
              @process="processHandler"
              @processMd5="processHandler($event, 'md5')"
              @success="successHandler($event, 2)"
              @error="errorHandler($event, 2)"
              :isAllowUpload="isAllowUpload[2]"
            ></Upload>
          </div>
          <div class="butclass">
            <!-- <el-button type="primary" @click="isAllowNext = false"
              >继续修改</el-button
            > -->
            <el-button class="marginL20" @click="backHandler">返回</el-button>
          </div>
        </div>
      </el-scrollbar>
    </div>
    <el-dialog
      lock-scroll
      title="模型上传"
      :visible.sync="visible"
      @close="closeHandler"
      width="30%"
      top="25vh"
    >
      <div class="fileSuccess" v-if="fileStatus == 'success'">
        <i class="el-icon-success"></i>
        <div>
          <p class="a">上传成功</p>
          <p>进入审核阶段，请注意查收审核邮件！</p>
        </div>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="visible = false" type="primary">{{
          okBtnText
        }}</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import Upload from "@/components/upload.vue";
import {
  createModel,
  checkUpload,
  searchList,
  modeldetails,
  updateModel,
} from "@/http/api";
export default {
  name: "modelupload",
  components: {
    Upload,
  },
  data() {
    return {
      isAllowNext: false,
      visible: false,
      rules: {
        area: [{ required: true, message: "请输入所属地区" }],
        voltage: [{ required: true, message: "请输入变电站电压等级" }],
        site_name: [{ required: true, message: "请输入所属站点" }],
        name: [
          { required: true, message: "请输入模型名称" },
          { min: 1, max: 39, message: "长度不能超过40个字符" },
        ],
      },
      isQAllow: true,
      props: {
        expandTrigger: "hover",
        children: "sub_list",
        label: "name",
        value: "id",
        emitPath: false,
      },
      tabData: [
        { id: 2, name: "全站模型" },
        { id: 1, name: "单体模型" },
      ],
      tabIndex: 0,
      fileStatus: "",
      form: {
        area: "",
        voltage: "",
        site_name: "",
        device_space: "",
        device_voltage: "",
        device_type: "",
        name: "",
        device_company: "",
        device_num: "",
        describe: "",
      },
      okBtnText: "确定",
      fileSuccessList: ["", "", ""],
      areaList: [],
      site_nameList: [],
      voltageList: [],
      device_spaceList: [],
      uploadmodel_id: "",
      device_voltageList: [],
      device_typeList: [],
      //   device_companyList: [{ name: "国泰电器", id: "12339" }],
      isDisabledupload: false,
      isDisabledupload_0: false,
      all_sites: 2,
      isAllowUpload: [true, true, true],
      upload0: null,
      upload1: null,
      nocheck: true,
      dropdownList: [],
      debounceTime: null,
      disaBack: false,
    };
  },
  computed: {},
  watch: {
    form: {
      handler(newval) {
        if (this.tabIndex == 1) {
          let { device_num, site_name, device_voltage, device_company } = {
            ...newval,
          };
          let bol =
            device_num &&
            device_num != "" &&
            site_name &&
            site_name != "" &&
            device_voltage &&
            device_voltage != "" &&
            device_company &&
            device_company != "";
          this.isDisabledupload = !bol;
          this.isQAllow = !bol;
          if (bol && this.nocheck) {
            this.checkUploadHandler();
            this.nocheck = false;
          }
        }
      },
      deep: true,
    },
  },
  created() {
    this.row = this.$route.query.query
      ? JSON.parse(this.$route.query.query)
      : null;
    if (this.row) {
      this.modelId = this.row.id;
      let modelBaseGroups = JSON.parse(
        sessionStorage.getItem("MODELBASEGROUPS")
      );
      this.uploadmodel_id = this.modelId;
      this.areaList = modelBaseGroups.areaList;
      this.voltageList = modelBaseGroups.voltageList;
      this.site_nameList = modelBaseGroups.site_nameList;
      this.device_spaceList = modelBaseGroups.device_spaceList;
      this.device_voltageList = modelBaseGroups.device_voltageList;
      this.device_typeList = modelBaseGroups.device_typeList;
      this.getModeldetails();
    }
  },
  mounted() {
    this.upload0 = this.$refs.upload0.$refs.uploaderRef.uploader;
    this.upload1 = this.$refs.upload0.$refs.uploaderRef.uploader;
    this.upload2 = this.$refs.upload0.$refs.uploaderRef.uploader;
  },
  destroyed() {
    if (this.upload0) {
      this.upload0.cancel();
    }
    if (this.upload1) {
      this.upload1.cancel();
    }
    if (this.upload2) {
      this.upload2.cancel();
    }
  },
  methods: {
    getModeldetails() {
      modeldetails({ id: this.modelId, status: this.row.status }).then(
        (res) => {
          this.form.area = res.data.area ? res.data.area : "";
          this.form.voltage = res.data.voltage ? res.data.voltage : "";
          this.form.site_name = res.data.site_name ? res.data.site_name : "";
          this.form.device_space = res.data.device_space
            ? res.data.device_space
            : "";
          this.form.device_voltage = res.data.device_voltage
            ? res.data.device_voltage
            : "";
          this.form.device_type = res.data.device_type
            ? res.data.device_type
            : "";
          this.form.name = res.data.name ? res.data.name : "";
          this.form.device_company = res.data.device_company
            ? res.data.device_company
            : "";
          this.form.device_num = res.data.device_num ? res.data.device_num : "";
          this.form.describe = res.data.describe ? res.data.describe : "";
          this.id = res.data.id;
          this.uploadmodel_id = res.data.id;
          this.tabHandler({ id: res.data.all_sites });
        }
      );
    },
    searchListHandler() {
      searchList({ type: 2, name: this.form.device_company }).then((res) => {
        this.dropdownList = res.data;
      });
    },
    inputHandler() {
      this.debounce();
    },
    debounce() {
      let that = this;
      if (that.debounceTime) {
        clearTimeout(that.debounceTime);
      }
      that.debounceTime = setTimeout(function () {
        that.searchListHandler();
        that.debounceTime = null;
      }, 1000);
    },
    commandHandler(command) {
      this.form.device_company = command;
      //   this.searchValue = "";
      //   this.searchValueCompany = "";
      //   if (this.selectVal == 1) {
      //     this.searchValue = command;
      //   } else {
      //     this.searchValueCompany = command;
      //   }
      //   this.modelListHandler();
    },
    updateModelHandler() {
      let obj = {
        id: this.uploadmodel_id,
      };
      Object.assign(obj, this.form);
      updateModel(obj).then((res) => {
        if (res.code == 0) {
          this.$message.success("修改成功");
          this.isAllowNext = true;
        } else {
          this.$message.error("修改失败");
        }
      });
    },
    backHandler() {
      if (this.disaBack) {
        this.$confirm("文件上传中,此操作将取消当前正在上传的文件！", "提示", {
          confirmButtonText: "确定",
          cancelButtonText: "取消",
          type: "warning",
        })
          .then(() => {
            this.upload0.cancel();
            this.upload1.cancel();
            this.upload2.cancel();
            this.$message({
              type: "success",
              message: "已取消上传文件!",
            });
            this.$router.back(-1);
          })
          .catch(() => {});
      } else {
        this.$router.back(-1);
      }
    },
    // createModelHandler() {
    //   let obj = {
    //     all_sites: this.all_sites,
    //     area: this.form.area,
    //   };
    //   Object.assign(obj, this.form);
    //   createModel(obj).then((res) => {
    //     if (res.model_id) {
    //       this.fileStatus = "success";
    //       this.$message.success("模型信息修改成功");
    //       this.uploadmodel_id = res.model_id;
    //       this.isAllowUpload = [true, true, true];
    //       this.isDisabledupload_0 = false;
    //       this.isAllowNext = true;
    //     } else {
    //       this.isDisabledupload_0 = true;
    //       this.isAllowUpload = [false, false, false];
    //       this.$message.error("模型信息修改失败");
    //     }
    //   });
    // },
    processHandler(val, type) {
      if (type == "md5" || (parseInt(val) >= 0 && parseInt(val) < 99)) {
        this.disaBack = true;
      }
    },
    checkUploadHandler() {
      let params = {
        site_name: this.form.site_name, //站点名称
        device_num: this.form.device_num, // 设备型号
        device_company: this.form.device_company, //厂商
        all_sites: this.all_sites, //模型的分类 1- 单体模型 2-全站模型
        device_voltage: this.form.device_voltage, //设备电压等级
      };
      checkUpload(params).then((res) => {
        if (!res.list || res.list == "") {
        } else {
        }
      });
    },
    remoteMethod(query) {},
    closeHandler() {
      this.fileStatus = "";
      this.okBtnText = "确 定";
    },
    clearData() {
      let index = this.tabIndex;
      this.rules = {
        area: [{ required: true, message: "请输入所属地区" }],
        voltage: [{ required: true, message: "请输入变电站电压等级" }],
        site_name: [{ required: true, message: "请输入所属站点" }],
        device_space: [{ required: index == 1, message: "请输入设备间隔" }],
        device_voltage: [
          { required: index == 1, message: "请输入设备电压等级" },
        ],
        device_type: [{ required: index == 1, message: "请输入设备分类" }],
        name: [
          { required: true, message: "请输入模型名称" },
          { min: 1, max: 39, message: "长度不能超过40个字符" },
        ],
        device_company: [
          { required: index == 1, message: "请输入设备生产厂商" },
        ],
        device_num: [{ required: index == 1, message: "请输入设备型号" }],
      };
      this.$nextTick(() => {
        this.$refs.form.resetFields();
      });
      if (index == 0) {
        //全站模型
        // this.isAllowUpload = [true, true, true];
        // this.$set(this.form, "area", "");
        this.$delete(this.form, "device_space");
        this.$delete(this.form, "device_voltage");
        this.$delete(this.form, "device_type");
        this.$delete(this.form, "device_company");
        this.$delete(this.form, "device_num");
        this.isDisabledupload = false;
        this.isDisabledupload_0 = false;
        this.isQAllow = false;
      } else {
        // 单体模型
        this.isAllowUpload = [false, false, false];
        // this.$delete(this.form, "area");
        this.$set(this.form, "device_space", "");
        this.$set(this.form, "device_voltage", "");
        this.$set(this.form, "device_type", "");
        this.$set(this.form, "device_company", "");
        this.$set(this.form, "device_num", "");
        this.isDisabledupload = true;
        this.isDisabledupload_0 = true;
        this.isQAllow = true;
      }
      this.fileSuccessList = [{}, {}, {}];
      this.upload0.cancel();
      this.upload1.cancel();
      this.upload2.cancel();
    },
    successHandler(params, type) {
      let { file, response } = { ...params };
      if (response) {
        this.fileSuccessList[type] = JSON.parse(response);
      }
      this.visible = true;
      this.fileStatus = "success";
      this.disaBack = false;
    },
    errorHandler(params, type) {
      //   this.visible = true;
      //   this.fileStatus = "error";
      this.disaBack = false;
    },
    handleNodeClick(data, node) {},
    tabHandler(params) {
      let index = params.id;
      this.tabIndex = index;
      this.all_sites = index;
      //   this.clearData();
    },
    onSubmit(formName) {
      let isTrue = this.fileSuccessList.every((item) => item.AccessUrl);
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.updateModelHandler();
        } else {
          return false;
        }
      });
    },
  },
};
</script>

<style lang="less" scoped>
#modelupload {
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  .tabBar {
    margin: 20px 0;
    // justify-content: center;
  }
  .oioioi {
    height: calc(100% - 170px);
  }
  .uploadItemClass {
    display: flex;
    flex-direction: column;
    align-items: center;
    > p {
      margin: 10px 0;
      .formlabel {
        margin-right: 100px;
      }
    }
    // .el-form-item__content {
    //   display: flex;
    //   width: 100%;
    //   .uploadItemClass_div {
    //     width: 100%;
    //   }
    // }
  }
  .form {
    width: 100%;
    // border: 1px solid var(--borderColor);
    text-align: center;
    border-radius: 10px;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    .example {
      font-size: 16px;
      margin-left: 20px;
    }
    /deep/.el-input {
      width: 360px;
    }
    .el-textarea {
      width: 360px;
    }
    /deep/.el-form-item__error {
      left: 200px;
    }
    .sbxhc {
      /deep/.el-form-item__error {
        left: 315px;
      }
    }
    .el-select {
      width: auto;
    }
    .formlabel {
      font-size: 16px;
      text-align: left;
      color: #333;
      width: 170px;
      display: inline-block;
      margin-right: 20px;
    }
  }
  .waringClass {
    color: #666;
    padding: 10px 0;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 200px;
  }
}

.el-dropdown-menu.el-popper {
  width: 360px;
}
.butclass {
  display: flex;
  justify-content: center;
  align-items: center;
  .el-button {
    margin: 10px;
  }
}
</style>
