<template>
  <div id="modeldetails">
    <!-- <Breadcrumb
      class="breadcrumb"
      :breadcrumb="['模型列表', '模型详情']"
    ></Breadcrumb>
    <div class="horLine"></div> -->
    <div class="shareHeader">
      <div class="title">三维模型智能管理平台</div>
    </div>
    <div class="horLine"></div>
    <DivSecond></DivSecond>
    <TabBar
      ref="taBar"
      class="tabBar"
      :data="fileTypeListh"
      @change="tabHandler"
    ></TabBar>
    <div class="contentWrap">
      <div @click="lookHandler">
        <img
          class="imgWH_192"
          v-show="detailFilterData.thumbnail_url == 'none'"
          src="../../../assets/image/max.jpg"
          alt=""
        />
        <el-image
          class="imgWH_192"
          v-show="detailFilterData.thumbnail_url !== 'none'"
          :src="detailFilterData.thumbnail_url"
          style="cursor: pointer"
        >
          <div slot="error" class="image-slot">
            <i class="el-icon-picture-outline"></i>
            <span>暂无图片</span>
          </div>
        </el-image>
      </div>

      <div class="rightContent">
        <p>{{ detailData.name }}</p>
        <div class="rightContentCenter">
          <div>模型分类：{{ detailFilterData.file_type_text }}</div>
          <div>数据来源：自有/第三方</div>
          <div>更新时间：{{ detailFilterData.uploadTime }}</div>
          <div>使用站点数：{{ detailData.num }}</div>
          <div>文件格式：{{ detailFilterData.fileformat }}</div>
          <div>设备型号：{{ detailData.device_num }}</div>
        </div>
        <div class="rightContentBottom">
          <span class="price marginRight20"
            >价格:￥{{
              detailFilterData.price ? detailFilterData.price : "--"
            }}</span
          >
          <span class="price marginRight20"
            >全部打包价格:￥{{
              detailData.price ? detailData.price : "--"
            }}</span
          >
          <el-button class="marginRight20">加购物车</el-button>
          <el-button class="marginRight20" @click="addCollectHandler"
            >收藏</el-button
          >
          <el-button class="marginRight20" type="primary">购买</el-button>
          <el-button
            @disabled="detailFilterData.file_path != ''"
            @click="clickHandler"
            class="marginRight20"
            type="primary"
            >下载</el-button
          >
        </div>
      </div>
    </div>
    <p class="marginTB20" style="font-weight: bold">模型简介</p>
    <ModelInfo :data="modelInfoList"></ModelInfo>
  </div>
</template>

<script>
import ModelInfo from "../components/modelInfo.vue";
import { modeldetails, addColletc, getGroups } from "@/http/api";
import { pushHandler } from "@/utils/shUtils.js";
export default {
  name: "modeldetails",
  components: {
    ModelInfo,
  },
  data() {
    return {
      modelInfoList: [],
      detailData: {},
      detailFilterData: {},
      fileTypeText: [],
      modelId: null,
      userID: sessionStorage.getItem("MODELUSERID") || 1000,
      fileTypeListh: [],
    };
  },
  computed: {},
  watch: {},
  created() {
    this.row = this.$route.query.query
      ? JSON.parse(this.$route.query.query)
      : null;

    this.modelId = null;
    if (this.row) {
      this.modelId = this.row.id
        ? this.row.id
        : this.row.model_id
        ? this.row.model_id
        : null;
    }

    let modelBaseGroups = JSON.parse(sessionStorage.getItem("MODELBASEGROUPS"));
    this.fileTypeText = modelBaseGroups.fileTypeList;
  },
  mounted() {
    console.log("前台详情");
    if (this.modelId) {
      this.getModeldetails();
    }
  },
  methods: {
    addCollectHandler() {
      let model_id = this.detailFilterData.model_id;
      let model_version_id = this.detailFilterData.id;
      let colletc_uid = this.detailFilterData.uid;
      if (colletc_uid && model_version_id && model_id) {
        let params = {
          colletc_uid, // 模型创建人的Id
          uid: this.userID, // 用户Id
          model_id: model_id ? model_id : "", // 模型Id
          model_version_id: model_version_id ? model_version_id : "", //模型的版本Id
        };
        addColletc(params).then((res) => {
          if (res.code == 0) {
            this.$message.success("收藏成功");
          } else {
            this.$message.error("收藏失败");
          }
        });
      } else {
        this.$message.warning("缺少必要参数");
      }
    },
    tabHandler(params) {
      this.filterHandler(params);
    },
    lookHandler() {
      if (
        this.detailData.ModelVersionList &&
        this.detailData.ModelVersionList.length > 0
      ) {
        this.pushHandlerBtn("模型查看", {
          id: this.detailData.id,
          file_type: this.detailFilterData.file_type,
          file_path: this.detailFilterData.file_path,
          status: this.detailData.status,
          name: "模型管理",
        });
      }
    },
    pushHandlerBtn(name, params) {
      if (params.id) {
        pushHandler(name, this, params);
      }
    },
    filterHandler(params) {
      this.detailFilterData = {};
      let detailFilterData = this.detailData.ModelVersionList.filter((item) => {
        let path = item.file_path ? item.file_path.split(".") : null;
        if (path) {
          item.fileformat = path[path.length - 1];
          if (item.fileformat == "max") {
            item.thumbnail_url = "none";
          }
        }
        if (params.id == item.file_type) {
          item.file_type_text = params.name;
          return true;
        }
        return false;
      });
      console.log(detailFilterData, "detailFilterData");
      this.detailFilterData =
        detailFilterData.length > 0 ? detailFilterData[0] : {};
    },
    clickHandler() {
      window.location.href = this.detailFilterData.file_path;
      //   window.open(this.detailFilterData.file_path);
    },
    getModeldetails() {
      modeldetails({ id: this.modelId, status: this.row.status }).then(
        (res) => {
          let data = res.data.ModelVersionList ? res.data.ModelVersionList : [];
          this.detailData = res.data;
          this.modelInfoList = [
            { name: "变电站电压等级", content: this.detailData.voltage },
            { name: "设备间隔", content: this.detailData.device_space },
            { name: "设备电压等级", content: this.detailData.device_voltage },
            { name: "设备生产厂商", content: this.detailData.device_company },
          ];
          this.$nextTick(() => {
            let arr = [];
            this.fileTypeText.forEach((item) => {
              item.aname = item.name;
              if (item.aname == "默认") {
                item.name = "优化格式";
              }
              data.forEach((m, n) => {
                if (item.id == m.file_type) {
                  arr.push(item);
                }
              });
              if (this.row.file_type && item.id == this.row.file_type) {
                this.$refs.taBar.setIndex(item);
                this.filterHandler(item);
              }
            });
            this.fileTypeListh = arr;
            if (!this.row.file_type) {
              this.$refs.taBar.setIndex(this.fileTypeListh[0]);
              this.filterHandler(this.fileTypeListh[0]);
            }
          });
        }
      );
    },
  },
};
</script>

<style lang="less">
#modeldetails {
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  .tabBar {
    margin: 20px 0;
    justify-content: center;
  }
  .contentWrap {
    width: 100%;
    height: auto;
    border: 1px solid var(--borderColor);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 20px 20px;
    .el-image {
      border-radius: 10px;
      border: 1px solid var(--borderColor);
    }
    img {
      border-radius: 10px;
      border: 1px solid var(--borderColor);
      cursor: pointer;
    }
    .rightContent {
      flex: 1;
      height: 192px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 20px;
      p {
        font-weight: bold;
        font-size: 20px;
      }
      .rightContentCenter {
        display: flex;
        flex-wrap: wrap;
        div {
          width: 30%;
          overflow: hidden;
          margin: 10px 0;
        }
      }
      .rightContentBottom {
        display: flex;
        align-items: center;
        .price {
          color: red;
          font-size: 20px;
        }
        .marginRight20 {
          margin-right: 20px;
        }
      }
    }
  }
}
</style>
