<template>
  <div id="favorites">
    <!-- <Breadcrumb
      class="breadcrumb"
      :breadcrumb="['模型列表', '我的模型']"
    ></Breadcrumb>
    <div class="horLine"></div>
    <div>
      <Divider
        :data="['购物车', '我的订单', '我的上传', '收藏夹', '个人信息']"
      ></Divider>
    </div> -->
    <!-- <ShareHeader></ShareHeader> -->
    <div class="shareHeader">
      <div class="title">三维模型智能管理平台</div>
    </div>
    <div class="horLine"></div>
    <DivSecond></DivSecond>
    <MyTableBar
      :data="[
        { id: '655', name: '购物车' },
        { id: '556', name: '我的订单' },
      ]"
    ></MyTableBar>

    <div class="centerHeader">
      <TabBar
        class="tabBar"
        :data="[
          { id: 0, name: '全部' },
          { id: 1, name: '待付款' },
          { id: 2, name: '已付款' },
        ]"
        @change="tabHandler"
      ></TabBar>

      <span class="datespan">下单时间：</span>
      <el-date-picker
        v-model="date"
        type="daterange"
        clearable
        format="yyyy-MM-dd"
        value-format="yyyy-MM-dd"
        @change="dateChange"
        range-separator="至"
        start-placeholder="开始日期"
        end-placeholder="结束日期"
      >
      </el-date-picker>
    </div>

    <div class="tableClass">
      <Table ref="tableRef" :data="tableData" style="width: 100%">
        <el-table-column
          width="130"
          align="center"
          show-overflow-tooltip
          label="订单编号"
          sortable="custom"
          :key="11"
        ></el-table-column>
        <el-table-column
          width="150"
          align="center"
          show-overflow-tooltip
          prop="name"
          label="模型名称"
          :key="12"
        ></el-table-column>
        <el-table-column
          width="130"
          align="center"
          show-overflow-tooltip
          prop="device_num"
          label="设备型号"
          :key="13"
        ></el-table-column>
        <el-table-column
          align="center"
          show-overflow-tooltip
          prop="device_voltage"
          label="设备电压等级"
          :key="14"
        ></el-table-column>
        <el-table-column
          align="center"
          show-overflow-tooltip
          prop="device_company"
          label="生产厂商"
          :key="15"
        ></el-table-column>
        <el-table-column
          align="center"
          show-overflow-tooltip
          prop="site_name"
          label="模型用途"
          :key="16"
        ></el-table-column>
        <el-table-column
          align="center"
          show-overflow-tooltip
          prop="price"
          label="价格"
          :key="21"
        >
          <template slot-scope="scope">
            <span style="color: red">
              {{ scope.row.price ? "￥" : "" }}{{ scope.row.price }}
            </span>
          </template>
        </el-table-column>
        <el-table-column
          align="center"
          show-overflow-tooltip
          prop="site_name"
          label="下单时间"
          :key="22"
        ></el-table-column>
        <el-table-column
          align="center"
          show-overflow-tooltip
          prop="site_name"
          label="支付时间"
          :key="23"
        ></el-table-column>
        <el-table-column :key="26" width="200" align="center" label="操作">
          <template slot-scope="scope">
            <div class="operation">
              <span @click="downloadBtn(scope.row)">下载</span>|
              <span>取消</span>
            </div>
          </template>
        </el-table-column>
      </Table>
      <div class="rightList_main_pagination">
        <el-pagination
          background
          @current-change="currentChange"
          layout="prev, pager, next"
          :total="total"
        >
        </el-pagination>
        <span class="info"
          >当前显示{{ tableData.length }}条，当前记录共{{ total }}条</span
        >
      </div>
    </div>
    <el-dialog
      lock-scroll
      title="模型下载"
      :visible.sync="visible"
      width="30%"
      top="25vh"
    >
      <div class="dialogMain">
        <p>
          <span>优化格式</span>
          <i>aa.mo</i>
        </p>
        <p>
          <span>数字化移交</span>
          <i>aa.gim</i>
        </p>
        <p>
          <span>精细化模型</span>
          <i>aa.max</i>
        </p>
        <p>
          <span>实景三维点云</span>
          <i>aa.e571</i>
          <i>aa.e571</i>
          <i>aa.e571</i>
          <i>aa.e571</i>
        </p>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import MyTableBar from "../components/myTableBar.vue";
export default {
  name: "favorites",
  components: {
    MyTableBar,
  },
  data() {
    return {
      tableData: [],
      total: 0,
      table_ref: null,
      date: [],
      visible: false,
      currentRow: {},
    };
  },
  computed: {},
  watch: {},
  mounted() {
    this.table_ref = this.$refs.tableRef.$refs.table;
  },
  methods: {
    downloadBtn(row) {
      this.currentRow = row;
      this.visible = true;
    },
    dateChange(date) {},
    tabHandler(params) {
      let { item, index } = { ...params };
      switch (index) {
        case 0:
          break;
        //   待对比
        case 1:
          break;
        //   待发布
        case 2:
          break;

        default:
          break;
      }

      this.tableData = [
        { address: "20200001" },
        { address: "零序电流互感器" },
        { address: "电气一次/变压器/220v" },
      ];
      this.tabIndex = params.index;
    },
    deleteHandler() {
      if (this.selectTable.length <= 0) {
        this.$message.warning("请选择模型");
        return;
      }
    },
    moveHandler() {
      if (this.selectTable.length <= 0) {
        this.$message.warning("请选择模型");
        return;
      }
    },
    currentChange(currentPage) {
      this.table_ref.clearSelection();
    },
  },
};
</script>

<style lang="less">
#favorites {
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  .tableClass {
    width: 100%;
    margin-top: 20px;
  }
  .centerHeader {
    width: 100%;
    display: flex;
    align-items: center;
    .datespan {
      margin: 0 10px 0 20px;
    }
  }
  .jyClass {
    font-size: 16px;
    cursor: pointer;
    margin: 0 10px;
  }
  .jyClass:hover {
    color: var(--shareColor);
  }
}
.dialogMain {
  font-size: 16px;
  p {
    margin: 10px;
    > span {
      display: inline-block;
      width: 120px;
    }
    i {
      display: inline-block;
      margin: 0 5px;
      color: var(--shareColor);
      cursor: pointer;
    }
  }
}
</style>
