<template>
  <div id="orderPay">
    <!-- <Breadcrumb
      class="breadcrumb"
      :breadcrumb="['模型列表', '订单购买']"
    ></Breadcrumb>
    <div class="horLine"></div> -->
    <div class="shareHeader">
      <div class="title">三维模型智能管理平台</div>
    </div>
    <div class="horLine"></div>
    <DivSecond></DivSecond>
    <div class="ASD">
      <div>
        <div class="lefta">
          <p>支付金额 <span>¥1999.99</span></p>
          <img class="imgWH_256" src="../../../assets/image/ewm.png" alt="" />
          <p class="desc">请用{{ methods }}扫码支付</p>
        </div>
        <div class="righta">
          <p>订单编号：xxxxxxxxxxxx</p>
          <p>商家名称：xxxxxxxxxxxx</p>
          <p>创建时间：2021-10-11 12:00:55</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "orderPay",
  data() {
    return {
      methods: null,
    };
  },
  computed: {},
  watch: {},
  created() {
    let methods = this.$route.query.query
      ? JSON.parse(this.$route.query.query).methods
      : null;
    this.methods = methods && methods == "wx" ? "微信" : "支付宝";
  },
  mounted() {},
  methods: {},
};
</script>

<style lang="less">
#orderPay {
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  .ASD {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    > div {
      display: flex;
      align-items: center;
      .lefta {
        text-align: center;
        p {
          margin: 20px;
        }
        .desc {
          font-size: 20px;
        }
        span {
          color: red;
        }
      }
      .righta {
        height: 256px;
        padding-left: 80px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }
    }
  }
}
</style>
