<template>
  <div id="OrderPurchase">
    <!-- <Breadcrumb
      class="breadcrumb"
      :breadcrumb="['模型列表', '订单购买']"
    ></Breadcrumb>
    <div class="horLine"></div> -->
    <div class="shareHeader">
      <div class="title">三维模型智能管理平台</div>
    </div>
    <div class="horLine"></div>
    <DivSecond></DivSecond>
    <div class="topTitle">
      <span>你的订单已提交</span>
      <span>待支付 <i>¥0.00</i></span>
    </div>

    <div class="tableClass">
      <Table ref="tableRef" :data="tableData" style="width: 100%">
        <el-table-column
          align="center"
          show-overflow-tooltip
          label="订单编号"
        ></el-table-column>
        <el-table-column
          align="center"
          show-overflow-tooltip
          prop="name"
          label="模型名称"
        ></el-table-column>
        <el-table-column
          align="center"
          show-overflow-tooltip
          prop="device_num"
          label="设备型号"
        ></el-table-column>
        <el-table-column
          align="center"
          show-overflow-tooltip
          prop="device_voltage"
          label="设备电压等级"
        ></el-table-column>
        <el-table-column
          align="center"
          show-overflow-tooltip
          prop="device_company"
          label="生产厂商"
        ></el-table-column>
        <el-table-column
          align="center"
          show-overflow-tooltip
          prop="fileType"
          label="模型用途"
        >
          <template slot-scope="scope">
            <span>{{ getFileTypeByNum(scope.row.fileType) }}</span>
          </template>
        </el-table-column>
        <el-table-column
          align="center"
          show-overflow-tooltip
          prop="price"
          label="价格"
        >
          <template slot-scope="scope">
            <span style="color: red">{{
              scope.row.price ? "￥" + scope.row.price : "-"
            }}</span>
          </template>
        </el-table-column>
      </Table>
    </div>
    <p class="ppp">选择支付方式</p>

    <div class="payClass">
      <p
        @click="payHandler('wx')"
        :class="activeIndex == 'wx' ? 'activeClass' : ''"
      >
        <img
          class="imgWH_32"
          src="../../../assets/image/wxPayIcon.jpeg"
          alt=""
        /><span>微信支付</span>
      </p>
      <p
        @click="payHandler('zfb')"
        :class="activeIndex == 'zfb' ? 'activeClass' : ''"
      >
        <img
          class="imgWH_32"
          src="../../../assets/image/zfbPay.jpeg"
          alt=""
        /><span>支付宝支付</span>
      </p>
    </div>
    <el-button @click="toPay" class="payBtn" type="primary"
      >确认支付￥0.00</el-button
    >
  </div>
</template>

<script>
import { pushHandler } from "@/utils/shUtils.js";
import {} from "@/http/api";
export default {
  name: "OrderPurchase",
  data() {
    return {
      tableData: [],
      activeIndex: "",
      fileTypeList: [],
    };
  },
  computed: {},
  watch: {},
  created() {
    let modelBaseGroups = JSON.parse(sessionStorage.getItem("MODELBASEGROUPS"));
    this.fileTypeList = modelBaseGroups.fileTypeList;
  },
  mounted() {},
  methods: {
    payHandler(type) {
      this.activeIndex = type;
    },
    toPay() {
      if (this.activeIndex == "") {
        this.$message.warning("请选择支付方式");
      } else {
        pushHandler("订单支付", this, { methods: this.activeIndex });
      }
    },
    getFileTypeByNum(type) {
      let key = null;
      this.fileTypeList.forEach((item) => {
        if (item.id == "9") {
          item.name = "FBX";
        }
        if (item.id == type) {
          key = item.name;
        }
      });
      console.log(key, type, "ssssssssss");
      return key;
    },
  },
};
</script>

<style lang="less">
#OrderPurchase {
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  .topTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #333;
    font-size: 20px;
    margin-top: 20px;
    i {
      color: red;
    }
  }
  .tableClass {
    width: 100%;
    margin-top: 20px;
  }
  .ppp {
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0;
  }
  .payClass {
    display: flex;
    padding: 0 20px;
    p {
      display: flex;
      align-items: center;
      margin: 0 20px;
      cursor: pointer;
      padding: 10px 20px;
      border: 1px solid transparent;
      span {
        margin: 0 20px;
      }
    }
    p:hover {
      border: 1px solid var(--shareColor);
    }
    .activeClass {
      border: 1px solid var(--shareColor);
    }
  }
  .payBtn {
    border-radius: 20px;
    margin: 20px 60px;
    box-shadow: 1px 2px 4px 2px #ccc; /*no*/
  }
  .payBtn:hover {
    box-shadow: 0 0 0 0; /*no*/
  }
}
</style>
