<template>
  <div id="personalInfo">
    <div class="shareHeader">
      <div class="title">三维模型智能管理平台</div>
    </div>
    <div class="horLine"></div>
    <DivSecond></DivSecond>
    <MyInfo></MyInfo>
  </div>
</template>

<script>
import MyInfo from "../components/myInfo.vue";
export default {
  name: "personalInfo",
  components: {
    MyInfo,
  },
  data() {
    return {};
  },
  computed: {},
  watch: {},
  mounted() {},
  methods: {},
};
</script>

<style lang="less">
#personalInfo {
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}
</style>
