<template>
  <div id="shoppingCart">
    <!-- <Breadcrumb
      class="breadcrumb"
      :breadcrumb="['模型列表', '我的模型']"
    ></Breadcrumb>
    <div class="horLine"></div>
    <div>
      <Divider
        :data="['购物车', '我的订单', '我的上传', '收藏夹', '个人信息']"
      ></Divider>
    </div> -->
    <div class="shareHeader">
      <div class="title">三维模型智能管理平台</div>
    </div>
    <div class="horLine"></div>
    <DivSecond></DivSecond>
    <MyTableBar
      :data="[
        { id: '655', name: '购物车' },
        { id: '556', name: '我的订单' },
      ]"
    ></MyTableBar>
    <div class="tableClass">
      <Table
        ref="tableRef"
        :data="tableData"
        @selectionChange="selectionChange"
        style="width: 100%"
      >
        <el-table-column
          type="selection"
          align="center"
          width="55"
          :key="10"
        ></el-table-column>
        <el-table-column
          width="130"
          align="center"
          show-overflow-tooltip
          label="序号"
          sortable="custom"
          :key="11"
        ></el-table-column>
        <el-table-column
          width="150"
          align="center"
          show-overflow-tooltip
          prop="name"
          label="模型名称"
          :key="12"
        ></el-table-column>
        <el-table-column
          width="130"
          align="center"
          show-overflow-tooltip
          prop="device_num"
          label="设备型号"
          :key="13"
        ></el-table-column>
        <el-table-column
          align="center"
          show-overflow-tooltip
          prop="device_voltage"
          label="设备电压等级"
          :key="14"
        ></el-table-column>
        <el-table-column
          align="center"
          show-overflow-tooltip
          prop="device_company"
          label="生产厂商"
          :key="15"
        ></el-table-column>
        <el-table-column
          align="center"
          show-overflow-tooltip
          prop="site_name"
          label="模型用途"
          :key="16"
        ></el-table-column>
        <el-table-column
          align="center"
          show-overflow-tooltip
          prop="price"
          label="价格"
          :key="21"
        >
          <template slot-scope="scope">
            <span style="color: red">
              {{ scope.row.price ? "￥" : "" }}{{ scope.row.price }}
            </span>
          </template>
        </el-table-column>
        <el-table-column :key="26" width="200" align="center" label="操作">
          <template slot-scope="scope">
            <div class="operation">
              <span>移除</span>|<span>移入收藏夹</span>
            </div>
          </template>
        </el-table-column>
      </Table>
      <div class="QQQ">
        <div>
          <el-checkbox
            @change="checkboxChange"
            :indeterminate="indeterminate"
            style="margin: 20px"
            v-model="checkboxVal"
            >全选</el-checkbox
          >
          <span class="jyClass" @click="deleteHandler">删除选中模型</span>
          <span class="jyClass" @click="moveHandler">移入收藏夹</span>
        </div>
        <div class="WWW">
          <span>
            已选中 <em>{{ selectTable.length }}</em> 件商品
          </span>
          <span>
            总价：¥<i>{{ allPrice }}</i>
          </span>
          <el-button type="primary" @click="payHandler">去支付</el-button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { pushHandler } from "@/utils/shUtils.js";
import { getGroups } from "@/http/api";
import MyTableBar from "../components/myTableBar.vue";
export default {
  name: "shoppingCart",
  components: {
    MyTableBar,
  },
  data() {
    return {
      tableData: [],
      total: 0,
      checkboxVal: false,
      indeterminate: false,
      selectTable: [],
      table_ref: null,
    };
  },
  computed: {
    allPrice() {
      let numArr = [];
      let sum = 0;
      if (this.selectTable.length > 0) {
        this.selectTable.forEach((item) => {
          numArr.push(item.id);
        });
        sum = numArr.reduce(function (prev, cur, index, array) {
          return prev + cur;
        });
      }
      return sum.toFixed(2);
    },
  },
  watch: {},
  mounted() {
    this.table_ref = this.$refs.tableRef.$refs.table;
  },
  methods: {
    payHandler() {
      pushHandler("订单购买", this);
    },
    selectionChange(params) {
      this.selectTable = params;
      this.checkboxVal = this.tableData.length == params.length;
      this.indeterminate =
        params.length > 0 && this.tableData.length > params.length;
    },
    deleteHandler() {
      if (this.selectTable.length <= 0) {
        this.$message.warning("请选择模型");
        return;
      }
    },
    moveHandler() {
      if (this.selectTable.length <= 0) {
        this.$message.warning("请选择模型");
        return;
      }
    },
    checkboxChange(bol) {
      this.table_ref.clearSelection();
      if (bol) {
        this.table_ref.toggleAllSelection();
      }
    },
  },
};
</script>

<style lang="less">
#shoppingCart {
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  .tableClass {
    width: 100%;
    margin-top: 20px;
  }
  .rightList_main_pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    .info {
      margin: 0 20px;
    }
  }
  .jyClass {
    font-size: 16px;
    cursor: pointer;
    margin: 0 10px;
  }
  .jyClass:hover {
    color: var(--shareColor);
  }
  .QQQ {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .WWW {
      display: flex;
      align-items: center;
      > span {
        margin: 0 10px;
        > i {
          color: var(--shareColor);
          font-size: 20px;
          margin: 0 10px;
        }
        > em {
          margin: 0 10px;
        }
      }
    }
  }
}
</style>
