<template>
  <div style="width: 100%">
    <div class="shareHeader">
      <div class="title">三维模型智能管理平台</div>
    </div>
    <div class="horLine"></div>
    <DivSecond></DivSecond>
    <MyTableBar></MyTableBar>
  </div>
</template>

<script>
import MyTableBar from "../../views/modelManage/components/myTableBar.vue";
export default {
  props: {
    showTabBar: {
      type: Boolean,
      default() {
        return true;
      },
    },
  },
  name: "",
  components: {
    MyTableBar,
  },
  data() {
    return {};
  },
  computed: {},
  watch: {},
  mounted() {},
  methods: {},
};
</script>

<style></style>
