<template>
  <div id="MyInfo">
    <div class="personalInfoBox topBox">
      <img class="imgWH_64" src="../../../assets/image/headicon.jpeg" alt="" />
      <div class="leftMain">
        <p>
          <span>用户名：白坡电子</span>
          <span>ID：49196</span>
        </p>
        <p>
          <span>普通会员</span>
          <el-button class="miniBtn" type="primary">升级VIP</el-button>
        </p>
      </div>
      <div class="rightMain">
        <span> 我的收入：2970 </span>
        <el-button type="primary">去提现</el-button>
        <el-button>查看详情</el-button>
      </div>
    </div>

    <div class="personalInfoBox centerBox">
      <div class="boxTitle">
        <span>发票信息</span>
        <el-button type="primary">修改发票信息</el-button>
      </div>
      <div class="horLine"></div>
      <p class="marginT20">发票抬头：白坡电子有限公司</p>
      <p>税号：915000004503880652</p>
      <p>公司地址：北京市朝阳区大屯路108号2018</p>
      <p>电话号码：010-3619 7139</p>
      <p>开户行：北京朝阳分行</p>
      <p>银行账号：6225727284820091</p>
    </div>
    <div class="personalInfoBox centerBox">
      <div class="boxTitle">
        <span>邮寄信息</span>
        <el-button type="primary">修改邮寄信息</el-button>
      </div>
      <div class="horLine"></div>
      <p class="marginT20">地址：北京市朝阳区大屯路108号2018</p>
      <p>收件人：李老师</p>
      <p>电话：010-3619 7139</p>
    </div>
  </div>
</template>

<script>
export default {
  name: "MyInfo",
  data() {
    return {};
  },
  computed: {},
  watch: {},
  mounted() {},
  methods: {},
};
</script>

<style lang="less">
#MyInfo {
  .personalInfoBox {
    border: 1px solid var(--borderColor);
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
    padding: 24px 30px;
    font-size: 14px;
    margin-bottom: 30px;
  }
  .topBox {
    display: flex;
    align-items: center;
    height: 120px;
    margin-top: 20px;
    img {
      border-radius: 50%;
    }
    .leftMain {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 5px 10px;
      box-sizing: border-box;
      flex: 1;
      p {
        > span {
          margin-right: 20px;
        }
      }
    }
    .rightMain {
      width: 350px;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      > span {
        color: var(--priceColor);
      }
    }
  }
  .centerBox {
    padding: 18px 30px;
    .boxTitle {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 0 18px 0;
      > span {
        color: #333;
        font-size: 18px;
      }
    }
    p {
      margin: 10px 0;
    }
  }
  .miniBtn {
    padding: 5px 10px;
    font-size: 14px;
  }
}
</style>
