<template>
  <div class="tabwrap0">
    <TabBar
      class="tabBar"
      ref="mytaBar"
      :data="data"
      @change="tabHandler"
    ></TabBar>
  </div>
</template>

<script>
import { pushHandler, getPathByName } from "@/utils/shUtils.js";
export default {
  name: "mytaBar",
  props: {
    data: {
      type: Array,
      default: function () {
        return [
          { id: "999", name: "全站模型" },
          { id: "888", name: "设备模型" },
          { id: "777", name: "我的上传" },
          //   { id: "777", name: "我的订单" },
          { id: "666", name: "收藏夹" },
        ];
      },
    },
  },
  data() {
    return {};
  },
  computed: {},
  watch: {},
  mounted() {
    let touteTitle = this.$route.meta.title;

    this.data.forEach((item) => {
      if (touteTitle == item.name) {
        this.$refs.mytaBar.setIndex(item);
      }
    });
  },
  methods: {
    tabHandler(params) {
      this.pushHandlerBtn(params.name);
    },
    pushHandlerBtn(name) {
      let path = getPathByName(name);
      if (path) {
        pushHandler(name, this);
      }
    },
  },
};
</script>

<style>
.tabwrap0 {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 5px 0 20px 0;
}
</style>
