<template>
  <div class="searchInput">
    <el-select
      class="drowDownselect"
      v-model="selectVal"
      @change="seaSelectHandler"
    >
      <el-option
        v-for="item in options"
        :key="item.value"
        :label="item.label"
        :value="item.value"
      >
      </el-option>
    </el-select>
    <el-dropdown placement="bottom" trigger="click" @command="commandHandler">
      <el-input
        class="drowDowninput"
        :placeholder="placeholder"
        v-model="searchValue"
        @input="inputHandler"
        @change="changeHandler"
      >
      </el-input>
      <el-dropdown-menu slot="dropdown">
        <div class="dropdownClass" v-show="dropdownList.length > 0">
          <el-dropdown-item
            v-for="(item, index) in dropdownList"
            :command="item"
            :key="331 + index"
          >
            {{ item }}
          </el-dropdown-item>
        </div>
      </el-dropdown-menu>
    </el-dropdown>
    <i @click="handleSearch" class="searchBtn el-icon-search"></i>
  </div>
</template>

<script>
import { searchList } from "@/http/api";
export default {
  name: "SearchInput",
  props: {
    status: {},
    options: {
      type: Array,
      default: function () {
        return [
          {
            value: 1,
            label: "模型",
          },
          {
            value: 2,
            label: "厂商",
          },
        ];
      },
    },
  },
  data() {
    return {
      debounceTime: null,
      dropdownList: [],
      searchValue: "",
      selectVal: 1,
      placeholder: "模型名称/设备型号",
      searchValueCompany: "",
    };
  },
  computed: {},
  watch: {},
  mounted() {},
  destory() {
    if (this.debounceTime) {
      clearTimeout(this.debounceTime);
    }
  },
  methods: {
    inputHandler() {
      this.debounce();
    },
    clear() {
      this.placeholder = "模型名称/设备型号";
      this.searchValue = "";
      this.searchValueCompany = "";
      this.dropdownList = [];
      this.selectVal = 1;
      this.$emit(
        "change",
        {
          searchValue: "",
          selectVal: 1,
          searchValueCompany: "",
        },
        false
      );
    },
    searchListHandler() {
      let params = {
        type: this.selectVal,
        name: this.searchValue,
        status: this.status,
      };
      searchList(params).then((res) => {
        this.dropdownList = res.data ? res.data : [];
      });
    },
    commandHandler(command) {
      this.searchValue = "";
      this.searchValueCompany = "";
      this.searchValue = command;
      this.emitHandler();
    },
    debounce() {
      let that = this;
      if (that.debounceTime) {
        clearTimeout(that.debounceTime);
      }
      that.debounceTime = setTimeout(function () {
        that.searchListHandler();
        that.debounceTime = null;
      }, 1000);
    },
    changeHandler() {
      if (this.searchValue == "") {
        this.$emit(
          "change",
          {
            searchValue: "",
            selectVal: this.selectVal,
            searchValueCompany: "",
          },
          true
        );
      }
    },
    emitHandler() {
      this.$emit(
        "change",
        {
          searchValue: this.selectVal != 1 ? "" : this.searchValue,
          selectVal: this.selectVal,
          searchValueCompany: this.selectVal == 1 ? "" : this.searchValue,
        },
        true
      );
    },
    handleSearch() {
      this.emitHandler();
    },
    seaSelectHandler(params) {
      this.placeholder = params == 1 ? "模型名称/设备型号" : "厂商名称";
      this.searchValue = "";
      this.searchValueCompany = "";
      this.dropdownList = [];
    },
  },
};
</script>

<style lang="less">
.searchInput {
  display: flex;
  align-items: center;
  position: relative;
  .drowDownselect {
    width: 80px;
    .el-input__inner {
      border-radius: 5px 0 0 5px;
    }
  }
  .drowDowninput {
    width: 200px;
    .el-input__inner {
      border-radius: 0 5px 5px 0;
      border-left: 0;
    }
  }
}
.dropdownClass {
  padding: 10px;
  box-sizing: border-box;
}
.el-dropdown-menu.el-popper {
  max-height: 300px;
  overflow: auto;
  padding: 0;
  margin: 0;
}
</style>
