<template>
  <div class="ert">
    <Table :data="data">
      <el-table-column
        align="center"
        show-overflow-tooltip
        prop="uploa_time"
        label="上传时间"
      ></el-table-column>
      <el-table-column
        align="center"
        show-overflow-tooltip
        prop="model_version"
        label="版本号"
      ></el-table-column>
      <el-table-column
        align="center"
        show-overflow-tooltip
        prop="audit_file"
        label="审核标准"
      ></el-table-column>
      <el-table-column
        align="center"
        show-overflow-tooltip
        prop="status"
        label="状态"
      >
        <template slot-scope="scope">
          <span>{{ statusList[scope.row.status - 1] }}</span>
        </template>
      </el-table-column>
      <el-table-column
        align="center"
        show-overflow-tooltip
        prop="address"
        label="审核结果"
      ></el-table-column>
      <el-table-column
        align="center"
        show-overflow-tooltip
        prop="address"
        label="文件"
      >
        <template slot-scope="scope">
          <span
            @click="lookHandler(scope.row)"
            class="marginLR10"
            >查看</span
          >
          <span
            @click="downLoadHandler(scope.row)"
            class="marginLR10"
            >下载</span
          >
        </template>
      </el-table-column>
    </Table>
  </div>
</template>

<script>
import { pushHandler } from "@/utils/shUtils.js";
export default {
  name: "",
  props: {
    data: {
      type: Array,
      default: function () {
        return [];
      },
    },
  },
  data() {
    return {
      statusList: [
        "待校验",
        "校验失败",
        "比对失败",
        "待比对",
        "待修正",
        "二次修改",
        "待发布",
        "已发布",
      ],
    };
  },
  computed: {},
  watch: {},
  mounted() {},
  methods: {
    lookHandler(row) {
      this.pushHandlerBtn("模型查看", {
        isVerHistory: true,
        vid: row.id,
        model_id: row.model_id,
        name: "发布管理",
      });
    },
    downLoadHandler(params) {
      window.location.href = params.file_path;
    },
    pushHandlerBtn(name, params) {
      pushHandler(name, this, params);
    },
  },
};
</script>

<style>
.ert {
  height: 200px;
}
</style>
