<template>
  <div id="vueAPPid">
    <div class="wwwww">
      <img class="imgee" src="./assets/image/header.png" alt="" />
    </div>
    <div class="hhhhh">
      <div class="eeeee"></div>
      <div class="mmmmm">
        <router-view></router-view>
      </div>
    </div>
    <!-- <router-view></router-view> -->
  </div>
</template>

<script>
import { getGroups } from "@/http/api";
export default {
  name: "childTwo",
  data() {
    return {
      routerArr: [],
    };
  },
  mounted() {},
  created() {},
  methods: {},
};
</script>

<style lang="less" src="./assets/css/style.less"></style>
<style lang="less">
.wwwww {
  height: 70px;
  width: 100%;
  background: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  .imgee {
    width: 100%;
    height: 70px;
  }
}
.hhhhh {
  display: flex;
  height: calc(100% - 70px);
  .mmmmm {
    height: 100%;
    box-sizing: border-box;
    width: calc(100% - 310px);
  }
  .eeeee {
    width: 310px;
    height: 100%;
    background: rgb(234, 246, 243);
  }
}
</style>
