<template>
  <div id="comCorrect">
    <!-- <Breadcrumb
      class="breadcrumb"
      :breadcrumb="['模型管理', '比对修正']"
    ></Breadcrumb>
    <div class="horLine"></div> -->
    <div class="shareHeader">
      <div class="title">三维模型智能管理平台</div>
    </div>
    <div class="horLine"></div>
    <DivSecond></DivSecond>
    <p class="btitle">
      <span>模型名称：{{ demData ? demData.name : "" }}</span>
      <el-button
        class="marginL20"
        @click="bdHandler"
        :disabled="list.length < 2"
        type="primary"
        >比对</el-button
      >
    </p>
    <!-- <div class="centerMain">
      <span v-for="(item, index) in list" :key="index + 7898">
        {{ item.nameText }}
        <i
          @click="
            pushHandlerBtn('模型查看', {
              id: demData.id,
              status: demData.status,
              file_type: item.file_type,
              name: '模型管理',
            })
          "
          >查看</i
        >
      </span>
      <el-button @click="bdHandler" :disabled="list.length < 2" type="primary"
        >比对</el-button
      >
    </div> -->
    <!-- <div class="bottomMain">
      <p class="title">
        <span style="margin-right: 40px">比对结果</span>
      </p>
      <div class="result">
        <p v-for="(item, index) in list" :key="index + 89332">
          <span>自动修正</span> <span>{{ item.nameText }}文件</span>
        </p>
      </div>
    </div> -->
    <div class="mainpre">
      <!-- <el-checkbox-group v-model="checkList"> -->
      <div v-for="(item, index) in list" :key="index + 53337">
        <p>
          <span>
            {{ item.nameText }}
            <i
              @click="
                pushHandlerBtn('模型查看', {
                  id: demData.id,
                  status: demData.status,
                  file_type: item.file_type,
                  name: '发布管理',
                })
              "
              >查看</i
            >
          </span>
        </p>
        <el-image :src="item.thumbnail_url">
          <div slot="error" class="image-slot">
            <i class="el-icon-picture-outline"></i>
            <span>暂无图片</span>
          </div>
        </el-image>
        <!-- <el-checkbox :label="item.file_type"></el-checkbox> -->
      </div>
      <!-- </el-checkbox-group> -->
    </div>
    <div>
      <el-button
        @click="correctHandler"
        class="bigPadd"
        style="margin-left: 250px"
        type="primary"
        >修正</el-button
      >
      <el-button @click="syncPatternHandler" class="bigPadd" type="primary"
        >同步</el-button
      >
      <el-button
        :disabled="isDisabled"
        class="bigPadd"
        type="primary"
        @click="resultHandler(7)"
        >通过</el-button
      >
      <el-button @click="resultHandler(3)" class="bigPadd">拒绝</el-button>
    </div>

    <el-dialog
      lock-scroll
      title="模型查看"
      :visible.sync="visible"
      width="80%"
      top="10vh"
      @open="openHandler"
      :before-close="closeHandler"
      destroy-on-close
    >
      <div class="dialogMain">
        <div class="tabdiv">
          <TabBar
            ref="taBar"
            class="tabBar"
            :data="previewData"
            @change="tabHandler"
          ></TabBar>
        </div>
        <div id="MainRoot">
          <ThreeView :sceneConfig="sceneConfig" ref="WebGlView"></ThreeView>
        </div>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import {
  modelCompar,
  auditStatusPost,
  modelAdminList,
  modeldetails,
  integrityCheck,
  syncPattern,
  updateModel,
} from "@/http/api";
import { pushHandler } from "@/utils/shUtils.js";
import ThreeView from "@/components/Web3D/ThreeView";
export default {
  name: "comCorrect",
  components: {
    ThreeView,
  },
  data() {
    return {
      isDisabled: true,
      fileTypeList: [],
      row: {},
      status: 0,
      visible: false,
      WebGlView: null,
      checkList: [],
      sceneConfig: {
        url: "/api/v1/getmodeldata",
        isDebug: true,
      },
      list: [],
      imglist: [],
      demData: {},
      ttt: null,
      previewData: [],
      frontStr: "",
    };
  },
  destory() {
    if (this.ttt) {
      clearTimeout(this.ttt);
    }
  },
  computed: {},
  watch: {},
  created() {
    this.row = this.$route.query.query
      ? JSON.parse(this.$route.query.query)
      : null;
    let modelBaseGroups = JSON.parse(sessionStorage.getItem("MODELBASEGROUPS"));
    if (modelBaseGroups) {
      this.fileTypeList = modelBaseGroups.fileTypeList;
    }
  },
  mounted() {
    if (this.row) {
      this.modeldetailsHandler();
    }
  },
  methods: {
    tabHandler(params) {
      this.$refs.WebGlView.RemoveMesh(this.frontStr);
      this.$nextTick(() => {
        let str = params.model_id + "|" + params.modelVerisonId;
        this.frontStr = str;
        this.$refs.WebGlView.LoadMesh(str);
      });
    },
    modeldetailsHandler() {
      let status = this.status == 5 ? 5 : this.row.status;
      modeldetails({ status: status, id: this.row.id }).then((res) => {
        let data = res.data.ModelVersionList;
        this.demData = res.data;
        let filterData = data.filter((item) => {
          this.fileTypeList.forEach((m) => {
            if (item.file_type == m.id) {
              if (m.id == "9") {
                item.nameText = "优化格式";
              } else {
                item.nameText = m.name;
              }

              if (item.thumbnail_url && item.thumbnail_url != "") {
                item.isDisabled = false;
              } else {
                this.isDisabled = true;
              }
            }
          });
          return item.nameText && item.model_id == this.row.id;
        });
        this.list = filterData;
        console.log(filterData, "filterData");
        // this.imglist = filterData;
        this.previewData = filterData.map((item) => {
          return {
            id: item.file_type,
            name: item.nameText,
            file_path: item.file_path,
            model_id: item.model_id,
            modelVerisonId: item.id,
          };
        });
        let bol = filterData.some((y) => {
          return y.isDisabled == false;
        });
        if (bol) {
          this.isDisabled = false;
        }
      });
    },
    pushHandlerBtn(name, params) {
      pushHandler(name, this, params);
    },
    openHandler() {
      this.$nextTick(() => {
        // this.WebGlView = this.$refs.WebGlView;
        this.previewData.forEach((item) => {
          if (item.id == 1) {
            let str = item.model_id + "|" + item.modelVerisonId;
            this.frontStr = str;
            this.$refs.WebGlView.LoadMesh(str);
            this.$refs.taBar.setIndex(item);
          }
        });
      });
    },
    modelComparHandler() {
      let params = {
        model_id: this.row.id,
        status: this.row.status,
        audit_uid: 9999,
      };
      modelCompar(params).then((res) => {
        if (res.code == 0) {
          this.visible = true;
        }
      });
    },
    modeldetailsHandler11() {
      if (this.ttt) {
        clearTimeout(this.ttt);
      }
      let status = this.status == 5 ? 5 : this.row.status;
      modeldetails({ status: status, id: this.row.id }).then((res) => {
        let data = res.data.ModelVersionList;
        if (data && data.length > 0) {
          let filterData = data.filter((item) => {
            this.fileTypeList.forEach((m) => {
              if (item.file_type == m.id) {
                item.nameText = m.name;
                if (item.thumbnail_url && item.thumbnail_url != "") {
                  item.isDisabled = false;
                } else {
                  this.isDisabled = true;
                }
              }
            });
            return item.nameText && item.model_id == this.row.id;
          });
          this.list = filterData;

          //   this.list.forEach((p, y) => {
          //     filterData.forEach((m, n) => {
          //       if (p.file_type == m.file_type) {
          //         p.thumbnail_url = m.thumbnail_url;
          //       }
          //     });
          //   });

          let bol = filterData.some((y) => {
            return y.isDisabled == false;
          });
          if (bol) {
            this.isDisabled = false;
          } else {
            this.ttt = setTimeout(() => {
              this.modeldetailsHandler11();
            }, 3000);
          }
        }
      });
    },
    correctHandler() {
      let param = {
        id: this.row.id,
        status: 5,
      };
      updateModel(param).then((res) => {
        if (res.code == 0) {
          this.status = 5;
          this.$message.success("文件修正中");
        } else {
          this.status = 0;
        }
      });
    },
    syncPatternHandler() {
      let str = "";
      let data = this.list;
      data.forEach((item) => {
        str += `ids[${item.file_type}]=${item.id}&`;
      });
      str += "model_id=" + this.row.id;
      syncPattern(str).then((res) => {
        if (res.code == 0) {
          this.$message.success(res.msg);
          this.modeldetailsHandler11();
        } else {
          this.$message.error(res.msg);
        }
      });
    },
    closeHandler(done) {
      this.$refs.WebGlView.RemoveMesh(this.frontStr);
      this.$refs.WebGlView.ClearScene();
      this.frontStr = "";
      setTimeout(() => {
        done();
      }, 300);
    },
    bdHandler() {
      this.modelComparHandler();
    },
    resultHandler(status) {
      let params = {
        model_id: this.row.id,
        status,
        audit_uid: 9999,
      };
      auditStatusPost(params).then((res) => {
        if (res.code == 0) {
          this.$message.success("成功");
          if (status == 7) {
            pushHandler("模型发布", this, this.row);
          } else {
            sessionStorage.setItem("MODELVERINDEX", 4);
            pushHandler("发布管理", this);
          }
        } else {
          this.$message.success("失败");
          //   pushHandler("模型管理", this, 1);
        }
      });
    },
    API_Function: function (type) {
      switch (type) {
        case 0: //加载模型
          this.$refs.WebGlView.LoadMesh(
            "480a9e78-09d9-4ef8-b8c2-388246312b58|4803"
          );
          break;

        case 1: //添加节点
          this.$refs.WebGlView.AddMesh(
            "480a9e78-09d9-4ef8-b8c2-388246312b58|4803",
            "/0/1/2",
            "4d1be200-ddf7-407d-abf4-6f6b82a94385|5947"
          );
          break;

        case 3: //清除场景
          this.$refs.WebGlView.ClearScene();
          break;

        case 4: //卸载模型
          this.$refs.WebGlView.RemoveMesh(
            "480a9e78-09d9-4ef8-b8c2-388246312b58|4803"
          );
          break;

        case 5: //卸载节点
          this.$refs.WebGlView.RemoveNodeList(
            "480a9e78-09d9-4ef8-b8c2-388246312b58|4803",
            ["/0/1/2/3/13/14/15"]
          );
          break;

        default:
          break;
      }
    },
  },
};
</script>

<style lang="less">
#comCorrect {
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  .btitle {
    margin: 20px 0;
    font-weight: bold;
    display: flex;
    // justify-content: space-between;
    align-items: center;
  }
  .centerMain {
    display: flex;
    width: 100%;
    padding: 0 20px 20px 20px;
    box-sizing: border-box;
    align-content: center;
    > span {
      margin: 0 20px;
      line-height: 42px;
      > i {
        margin: 0 20px;
        color: var(--shareColor);
        cursor: pointer;
      }
    }
  }
  .bottomMain {
    display: flex;
    align-items: baseline;
    .title {
      font-weight: bold;
    }
    .result {
      p {
        margin-bottom: 10px;
      }
    }
  }
  .mainpre {
    display: flex;
    margin-top: 20px;
    > div {
      width: 226px;
      margin: 0 10px;
      text-align: center;
      p {
        margin: 20px 0;
        > span {
          margin: 0 10px;
          line-height: 42px;
          > i {
            margin: 0 10px;
            color: var(--shareColor);
            cursor: pointer;
          }
        }
      }
      img {
        width: 226px;
        height: 226px;
      }
    }
  }
  .dialogMain {
    height: 800px;
    .tabdiv {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 20px 0;
    }
  }
  .el-image {
    width: 225px;
    height: 225px;
    border: 1px solid var(--borderColor);
    border-radius: 8px;
  }
}
</style>
