<template>
  <div id="integrityCheck">
    <!-- <Breadcrumb
      class="breadcrumb"
      :breadcrumb="['模型管理', '完整性校验']"
    ></Breadcrumb>
    <div class="horLine"></div> -->
    <div class="shareHeader">
      <div class="title">三维模型智能管理平台</div>
    </div>
    <div class="horLine"></div>
    <DivSecond></DivSecond>
    <p class="btitle">
      <span>模型名称：220V变电站</span>
    </p>
    <div class="integrityCheck_main">
      <div v-for="(item, index) in checkList">
        <p class="title">
          {{ item.name }} <span>{{ item.uploadTime }}</span>
        </p>
        <el-form class="form form20">
          <el-form-item prop="region">
            <span class="formlabel"><i class="star">*</i>校验标准</span>
            <el-select
              v-model="standard[index]"
              @change="selectHandler($event, item)"
              placeholder="标准自动匹配可选择"
            >
              <el-option
                v-for="(m, n) in item.standardList"
                :label="m.name"
                :value="m.id"
              ></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label-width="110px" label="校验结果">
            <!-- <el-input
              :rows="8"
              disabled
              type="textarea"
              resize="none"
              v-model="descList[index]"
            ></el-input> -->
            <div class="resultDiv">
              <!-- <p>{{ statusList[item.audit_result - 1] }}</p> -->
              <div v-if="item.audit_json_msg">
                <p
                  v-for="(p, t) in item.audit_json_msg.data"
                  :style="{
                    color:
                      p.result == 'ok'
                        ? 'rgb(121, 199, 5)'
                        : 'rgb(245, 154, 35)',
                  }"
                >
                  {{ p.item }} {{ p.result }} ：{{ p.descript }}
                </p>
              </div>
            </div>
          </el-form-item>
        </el-form>
      </div>
    </div>
    <div class="botBTN">
      <el-button @click="startHandler" type="primary">开始完整性校验</el-button>
      <el-button
        :disabled="isdisabled"
        @click="resultHandler(4)"
        class="marginLR100"
        type="primary"
        >通过</el-button
      >
      <el-button @click="resultHandler(2)">拒绝</el-button>
    </div>
  </div>
</template>

<script>
import {
  auditStandard,
  auditStanDetail,
  integrityCheck,
  auditStatus,
  auditStatusPost,
} from "@/http/api";
import { pushHandler } from "@/utils/shUtils.js";
export default {
  name: "integrityCheck",
  data() {
    return {
      standard: [],
      descList: [],
      form: {
        standard: "",
        desc: "",
      },
      form2: {
        standard: "",
        desc: "",
      },
      form3: {
        standard: "",
        desc: "",
      },
      modelId: "",
      row: {},
      statusList: [
        "待审核",
        "审核失败",
        "比对失败",
        "审核通过",
        "待修正",
        "二次修改",
        "待发布",
        "已发布",
      ],
      checkList: [],
      detailData: [],
      params: [],
      statusArr: [],
      isdisabled: false,
      fileTypeList: {
        1: {
          id: 1,
          name: "数字化移交",
        },
        2: {
          id: 2,
          name: "精细化模型",
        },
        3: {
          id: 3,
          name: "实景三维点云",
        },
      },
      timer: null,
    };
  },
  computed: {},
  watch: {
    statusArr(newval) {
      //   let s = newval.every((item) => item == true);
      //   this.isdisabled = !s;
    },
  },
  created() {
    this.row = this.$route.query.query
      ? JSON.parse(this.$route.query.query)
      : {};
  },
  mounted() {
    if (this.row.id) {
      this.auditStanDetailHandler();
    }
  },
  destroyed() {
    if (this.timer) {
      clearInterval(this.timer);
    }
  },
  methods: {
    startHandler() {
      if (this.params.length > 0) {
        let str = "";
        this.params.forEach((item, index) => {
          str += `types[${item.value}]=${item.key}&`;
        });
        str += "model_id=" + this.row.id;
        integrityCheck(str).then((res) => {
          if (res.code == 0) {
            this.$message.success("正在审核中...");
            this.auditStanDetailHandler(true);
            this.timer = setInterval(() => {
              this.auditStanDetailHandler(true);
            }, 3000);
          }
        });
      } else {
        this.$message.warning("请选择审核标准");
      }
    },
    resultHandler(status) {
      let params = {
        model_id: this.row.id,
        status,
        audit_uid: 9999,
      };
      auditStatusPost(params).then((res) => {
        if (res.code == 0) {
          this.$message.success("成功");
          if (status == 4) {
            pushHandler("比对修正", this, { id: this.row.id, status: 4 });
          } else {
            sessionStorage.setItem("MODELVERINDEX", 1);
            pushHandler("发布管理", this);
          }
        } else {
          this.$message.success("失败");
          // pushHandler("模型管理", this, 0);
        }
      });
    },
    auditStandardHandler() {
      auditStandard().then((res) => {
        this.listArr = res.list;
        console.log(this.listArr, "this.listArr");
        this.getData();
      });
    },
    getData() {
      let list = this.listArr;
      let arr = [];
      for (const key in list) {
        console.log(key, "0----", this.fileTypeList);
        let obj = {
          name: this.fileTypeList[key].name,
          standardList: list[key],
        };

        this.detailData.ModelVersionList.forEach((item) => {
          if (item.audit_msg.includes("{")) {
            item.audit_json_msg = JSON.parse(item.audit_msg);
            this.statusArr.push(item.audit_json_msg.status == "ok");
            if (
              item.audit_json_msg &&
              item.audit_json_msg.data.length > 0 &&
              this.timer
            ) {
              clearInterval(this.timer);
            }
          }
          if (list[key][0].file_type == item.file_type) {
            Object.assign(obj, item);
          }
        });
        arr.push(obj);
      }
      //   arr.forEach((item, index) => {
      //     this.standard[index] = item.standardList[0].id;
      //   });
      this.checkList = arr;
    },
    auditStanDetailHandler(bol) {
      let params = {
        id: this.row.id,
        status: this.row.status,
      };
      auditStanDetail(params).then((res) => {
        this.detailData = res.data;
        if (bol) {
          this.getData();
        } else {
          this.auditStandardHandler();
        }
      });
    },
    selectHandler(params, item) {
      let bol = this.params.some((q) => item.id == q.key);
      if (bol) {
        this.params.forEach((m) => {
          if (item.id == m.key) {
            m.value = params;
          }
        });
      } else {
        this.params.push({
          key: item.id,
          value: params,
        });
      }
    },
  },
};
</script>

<style lang="less">
#integrityCheck {
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  .btitle {
    margin: 20px 0;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
  }
  .integrityCheck_main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    > div {
      width: 33%;
      //   width: 100%;
      .title {
        font-size: 16px;
        padding-left: 20px;
        span {
          margin-left: 60px;
        }
      }
    }
  }
  .form {
    width: 100%;
    // border: 1px solid var(--borderColor);
    // margin-top: 20px;
    border-radius: 10px;
    // padding: 20px;
    .example {
      font-size: 16px;
      margin-left: 20px;
    }
    .el-input {
      width: 200px;
    }
    .el-textarea {
      width: 300px;
    }
    .el-form-item__error {
      left: 200px;
    }
    .formlabel {
      font-size: 16px;
      text-align: right;
      color: #333;
      width: 100px;
      display: inline-block;
      margin-right: 10px;
    }
  }
  .botBTN {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
  }
  .resultDiv {
    border: 1px solid var(--borderColor);
    border-radius: 8px;
    height: 400px;
    padding: 10px 20px;
    box-sizing: border-box;
    overflow: auto;
  }
}
</style>
