<template>
  <div id="modelVerification">
    <div class="topHeader">
      <div class="title" @click="aaaaa">三维模型智能管理平台</div>
    </div>
    <div class="horLine"></div>
    <div>
      <DivSecond></DivSecond>
    </div>
    <div class="centerHeader">
      <TabBar
        class="tabBar"
        ref="taBar"
        :data="tabData"
        @change="tabHandler"
      ></TabBar>
    </div>
    <div class="bottomHeader">
      <div class="form">
        <div>
          <span class="formlabel formw70">所属站点</span>
          <el-select clearable v-model="form.site_name" placeholder="请选择">
            <el-option
              v-for="(item, index) in site_nameList"
              :label="item.name"
              :value="item.name"
              :key="item.name"
            ></el-option>
          </el-select>
        </div>
        <div>
          <span class="formlabel">设备分类</span>
          <el-cascader
            clearable
            v-model="form.device_type"
            :options="device_typeList"
            :props="props"
            :show-all-levels="false"
          ></el-cascader>
        </div>
        <div v-if="tabIndex == 1 || tabIndex == 4">
          <span class="formlabel">模型状态</span>
          <!-- clearable -->
          <el-select v-model="form.equipmentType" placeholder="请选择">
            <el-option
              v-for="(m, n) in mStatusList"
              :label="m.label"
              :value="m.value"
              :key="n + 989"
            ></el-option>
          </el-select>
        </div>
        <div>
          <span class="formlabel">设备电压等级</span>
          <el-select
            clearable
            v-model="form.device_voltage"
            placeholder="请选择"
          >
            <el-option
              v-for="(item, index) in device_voltageList"
              :label="item.name"
              :value="item.name"
              :key="item.name"
            ></el-option>
          </el-select>
        </div>
        <div>
          <el-button
            class="smallButton"
            type="primary"
            v-if="tabIndex == 1"
            @click="pushHandlerBtn('模型上传', { name: '发布管理' })"
            >上传模型</el-button
          >
        </div>
        <SearchInput
          ref="SearchInput"
          :status="tabIndex"
          @change="InputChange"
          :class="tabIndex == 7 || tabIndex == 8 ? 'marginL50' : 'marginL10'"
        ></SearchInput>
      </div>
    </div>
    <p class="iooo" v-if="tabIndex == 8">当前线上模型数量为：{{ total }}个</p>
    <div
      :class="
        tabIndex == 7
          ? 'tableClass_7'
          : tabIndex == 8
          ? 'tableClass_8'
          : 'tableClass'
      "
    >
      <div class="tableQP">
        <Table
          ref="tableRef"
          :data="tableData"
          @selectionChange="selectionChange"
          :class="'table_' + tabIndex"
        >
          <el-table-column
            fixed
            type="selection"
            align="center"
            width="55"
            :key="10"
            v-if="tabIndex == 7 || tabIndex == 8"
          ></el-table-column>
          <el-table-column
            fixed
            width="55"
            align="center"
            type="index"
            show-overflow-tooltip
            label="序号"
            :key="11"
          ></el-table-column>
          <el-table-column
            fixed
            width="150"
            align="center"
            show-overflow-tooltip
            prop="name"
            label="模型名称"
            :key="12"
          >
            <template slot-scope="scope">
              <el-input
                class="tableInput"
                v-model="scope.row.name"
                @change="inputHandler($event, scope.row, 'name')"
                placeholder=""
              ></el-input>
            </template>
          </el-table-column>
          <el-table-column
            fixed
            width="130"
            align="center"
            show-overflow-tooltip
            prop="device_num"
            label="设备型号"
            :key="13"
          >
            <template slot-scope="scope">
              <el-input
                class="tableInput"
                v-model="scope.row.device_num"
                @change="inputHandler($event, scope.row, 'device_num')"
                placeholder=""
              ></el-input>
            </template>
          </el-table-column>
          <el-table-column
            width="150"
            align="center"
            show-overflow-tooltip
            prop="device_voltage"
            label="设备电压等级"
            :key="14"
          ></el-table-column>
          <el-table-column
            width="220"
            align="center"
            show-overflow-tooltip
            prop="device_company"
            label="生产厂商"
            :key="15"
          ></el-table-column>
          <el-table-column
            width="120"
            align="center"
            show-overflow-tooltip
            prop="site_name"
            label="所属站点"
            :key="16"
          ></el-table-column>
          <el-table-column
            width="200"
            align="center"
            show-overflow-tooltip
            prop="device_type_name"
            label="分类"
            :key="17"
          ></el-table-column>
          <el-table-column
            width="120"
            align="center"
            show-overflow-tooltip
            label="模型类别"
            :key="18"
          >
            <template slot-scope="scope">
              <span>
                {{ scope.row.all_sites == 2 ? "全站模型" : "单体模型" }}
              </span>
            </template>
          </el-table-column>
          <!-- 待校验 -->
          <el-table-column
            v-if="tabIndex == 1"
            width="180"
            align="center"
            show-overflow-tooltip
            prop="update_time"
            label="上传版本"
            :key="19"
          ></el-table-column>
          <!-- <el-table-column
          v-if="tabIndex == 1"
          width="180"
          align="center"
          show-overflow-tooltip
          prop="address6"
          label="上传人"
          :key="20"
        ></el-table-column>
        <el-table-column
          width="180"
          v-if="tabIndex == 1"
          align="center"
          show-overflow-tooltip
          prop="address7"
          label="审核人"
          :key="21"
        ></el-table-column> -->
          <!-- 待对比 -->
          <!-- <el-table-column
          width="180"
          v-if="tabIndex == 4"
          align="center"
          show-overflow-tooltip
          prop="address8"
          label="已有模型"
          :key="22"
        ></el-table-column> -->
          <!-- 待发布 -->
          <el-table-column
            width="180"
            v-if="tabIndex == 7"
            align="center"
            show-overflow-tooltip
            prop="price"
            label="价格"
            :key="23"
          ></el-table-column>
          <!-- 已发布 -->
          <!-- <el-table-column
          width="180"
          v-if="tabIndex == 8"
          align="center"
          show-overflow-tooltip
          prop="address10"
          label="浏览数"
          :key="23"
        ></el-table-column> -->
          <!-- <el-table-column
          width="180"
          v-if="tabIndex == 8"
          align="center"
          show-overflow-tooltip
          prop="address11"
          label="购买数"
          :key="24"
        ></el-table-column> -->
          <el-table-column
            width="180"
            v-if="tabIndex == 8"
            align="center"
            show-overflow-tooltip
            prop="price"
            label="价格"
            :key="25"
          ></el-table-column>

          <el-table-column
            v-if="tabIndex != 8"
            :key="26"
            fixed="right"
            align="center"
            label="状态"
            width="100"
          >
            <template slot-scope="scope">
              <span @click="statusHandler(scope.row)">{{
                getTextByStatus(scope.row.status)
              }}</span>
            </template>
          </el-table-column>
          <el-table-column
            :key="27"
            fixed="right"
            width="250"
            align="center"
            label="操作"
          >
            <template slot-scope="scope">
              <div v-if="tabIndex == 1" class="operation">
                <span
                  :class="
                    !scope.row.ModelVersionList ||
                    scope.row.ModelVersionList.length == 0
                      ? 'isdisabled'
                      : ''
                  "
                  @click="ylHandler(scope.row)"
                  >预览</span
                >|<span
                  @click="
                    pushHandlerBtn('模型修改', {
                      id: scope.row.id,
                      status: scope.row.status,
                    })
                  "
                  >修改</span
                >|<span
                  @click="
                    pushHandlerBtn('版本更新', {
                      id: scope.row.id,
                      all_sites: scope.row.all_sites,
                    })
                  "
                  >更新模型</span
                >|<span
                  :class="
                    !scope.row.ModelVersionList ||
                    scope.row.ModelVersionList.length < 3 ||
                    scope.row.all_sites != 1 ||
                    scope.row.status == 2
                      ? 'isdisabled'
                      : ''
                  "
                  @click="jyHandler(scope.row)"
                  >校验</span
                >
              </div>
              <div v-if="tabIndex == 4" class="operation">
                <span
                  :class="
                    !scope.row.ModelVersionList ||
                    scope.row.ModelVersionList.length == 0
                      ? 'isdisabled'
                      : ''
                  "
                  @click="ylHandler(scope.row)"
                  >预览</span
                >|<span
                  @click="
                    pushHandlerBtn('模型修改', {
                      id: scope.row.id,
                      status: scope.row.status,
                    })
                  "
                  >修改</span
                >|<span
                  @click="
                    pushHandlerBtn('版本更新', {
                      id: scope.row.id,
                      all_sites: scope.row.all_sites,
                      status: scope.row.status,
                    })
                  "
                  >更新模型</span
                >|<span
                  @click="
                    pushHandlerBtn('比对修正', {
                      id: scope.row.id,
                      status: scope.row.status,
                    })
                  "
                  >比对</span
                >
              </div>
              <div v-if="tabIndex == 7" class="operation">
                <span
                  :class="
                    !scope.row.ModelVersionList ||
                    scope.row.ModelVersionList.length == 0
                      ? 'isdisabled'
                      : ''
                  "
                  @click="ylHandler(scope.row)"
                  >预览</span
                >|<span
                  @click="
                    pushHandlerBtn('模型修改', {
                      id: scope.row.id,
                      status: scope.row.status,
                    })
                  "
                  >修改</span
                >|<span @click="pushHandlerBtn('模型发布', scope.row)">
                  定价发布
                </span>
              </div>
              <div v-if="tabIndex == 8" class="operation">
                <span
                  :class="
                    !scope.row.ModelVersionList ||
                    scope.row.ModelVersionList.length == 0
                      ? 'isdisabled'
                      : ''
                  "
                  @click="ylHandler(scope.row)"
                  >预览</span
                >|<span
                  @click="
                    pushHandlerBtn('模型修改', {
                      id: scope.row.id,
                      status: scope.row.status,
                    })
                  "
                  >修改</span
                >|<span @click="downHandler(scope.row)">下架</span>
              </div>
            </template>
          </el-table-column>
        </Table>
      </div>
      <div class="botClass">
        <div v-if="isShowCheckbox">
          <el-checkbox
            @change="checkboxChange"
            :indeterminate="indeterminate"
            class="checkclass"
            v-model="checkboxVal"
          ></el-checkbox>
          <span class="jyClass" @click="clickHandler">{{ checkboxText }}</span>
        </div>
        <div></div>
        <div class="rightList_main_pagination">
          <el-pagination
            background
            @current-change="currentChange"
            layout="prev, pager, next"
            :page-size.sync="pageSize"
            :current-page.sync="currentPage"
            :total="total"
          >
          </el-pagination>
          <span class="info"
            >当前显示{{ tableData.length }}条，当前记录共{{ total }}条</span
          >
        </div>
      </div>
    </div>

    <el-dialog
      lock-scroll
      title="检验失败"
      :visible.sync="visible"
      width="30%"
      top="25vh"
    >
      <div class="fileSuccess fileError">
        <i class="el-icon-error"></i>
        <div>
          <p class="a">失败原因</p>
          <p>失败时间</p>
        </div>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="visible = false" type="primary">确定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { pushHandler } from "@/utils/shUtils.js";
import axios from "axios";
import {
  modelAdminList,
  updateModel,
  getModelList,
  modelIndex,
} from "@/http/api";
import SearchInput from "./components/searchInput.vue";
export default {
  name: "modelVerification",
  components: {
    SearchInput,
  },
  data() {
    return {
      isShowCheckbox: false,
      checkboxText: "校验选中",
      checkboxVal: false,
      tableData: [],
      table_ref: null,
      total: 0,
      errorData: {},
      selectVal: 1,
      searchValue: "",
      //     -1=删除 1= //待校验 2 //校验失败 3 比对失败 5 待修正
      // 6 修正中 7 待待发布 8 已发布
      tabData: [
        { id: 1, name: "待校验" },
        { id: 4, name: "待比对" },
        { id: 7, name: "待发布" },
        { id: 8, name: "已发布" },
      ],
      visible: false,
      props: {
        expandTrigger: "hover",
        children: "sub_list",
        label: "name",
        value: "id",
        emitPath: false,
        checkStrictly: true,
      },
      mStatusList: [
        {
          label: "待校验",
          value: 1,
        },
        {
          label: "校验失败",
          value: 2,
        },
      ],
      searchValueCompany: "",
      tabIndex: 1,
      form: {
        equipmentType: 1,
        site_name: "",
        device_type: "",
        device_voltage: "",
      },
      indeterminate: false,
      selectTable: [],
      fileTypeList: [],
      site_nameList: [],
      isNoChange: false,
      device_voltageList: [],
      device_typeList: [],
      userID: sessionStorage.getItem("MODELUSERID") || 1000,
      statusList: [
        "待校验",
        "校验失败",
        "比对失败",
        "待比对",
        "待修正",
        "二次修改",
        "待发布",
        "已发布",
      ],
      pageSize: 20,
      currentPage: 1,
      norun: true,
      ddddata: {},
      debounceTime: null,
    };
  },
  computed: {},
  watch: {
    form: {
      handler(newval) {
        if (!this.norun) {
          this.modelAdminListHandler();
        }
      },
      deep: true,
    },
  },
  created() {
    let modelBaseGroups = JSON.parse(sessionStorage.getItem("MODELBASEGROUPS"));
    this.site_nameList = modelBaseGroups.site_nameList;
    this.device_voltageList = modelBaseGroups.device_voltageList;
    this.device_typeList = modelBaseGroups.device_typeList;
    this.fileTypeList = modelBaseGroups.fileTypeList;
  },
  mounted() {
    let index = sessionStorage.getItem("MODELVERINDEX")
      ? sessionStorage.getItem("MODELVERINDEX")
      : 1;
    this.table_ref = this.$refs.tableRef.$refs.table;
    this.tabData.forEach((item) => {
      if (index == item.id) {
        this.$refs.taBar.setIndex(item);
        this.tabHandler(item);
      }
    });
  },
  methods: {
    checkboxChange(bol) {
      this.table_ref.clearSelection();
      if (bol) {
        this.table_ref.toggleAllSelection();
      }
    },
    InputChange(params, isRun) {
      this.searchValue = params.searchValue;
      this.searchValueCompany = params.searchValueCompany;
      this.selectVal = params.selectVal;
      if (isRun) this.modelAdminListHandler();
    },
    downHandler(row) {
      let params = row;
      let param = {
        area: params.area,
        voltage: params.voltage,
        site_name: params.site_name,
        device_space: params.device_space,
        device_voltage: params.device_voltage,
        device_type: params.device_type,
        name: params.name,
        device_company: params.device_company,
        device_num: params.device_num,
        describe: params.describe,
        id: params.id,
        status: -1,
      };
      updateModel(param).then((res) => {
        if (res.code == 0) {
          this.$message.success("下架成功");
          this.modelAdminListHandler();
        } else {
          this.$message.error("下架失败");
        }
      });
    },
    aaaaa() {
      console.log("========");
      axios.CancelToken.source().cancel("取消请求了");
    },
    modelAdminListHandler() {
      //   this.total = 0;
      this.tableData = [];
      let params = {
        // file_type: 1,
        status: this.form.equipmentType,
        // uid: this.userID,
        site_name: this.form.site_name,
        // device_num: this.form.device_num,
        device_type: this.form.device_type,
        device_voltage: this.form.device_voltage,
        name: this.selectVal == 1 ? this.searchValue : "",
        company: this.searchValueCompany,
        // desc: this.searchValueCompany,
        page: this.currentPage,
        page_size: this.pageSize,
      };
      getModelList(params).then((res) => {
        this.tableData = res.list ? res.list : [];
        this.total = res.pager.total_rows;
        this.norun = false;
      });
    },
    inputHandler(text, params, type) {
      let param = {
        area: params.area,
        voltage: params.voltage,
        site_name: params.site_name,
        device_space: params.device_space,
        device_voltage: params.device_voltage,
        device_type: params.device_type,
        name: params.name,
        device_company: params.device_company,
        device_num: params.device_num,
        describe: params.describe,
        id: params.id,
      };
      param[type] = text;
      if (param[type] == "") {
        this.$warning("模型名称/设备型号不能为空");
      } else if (param[type].length > 39) {
        this.$warning("文本长度不能超过40个字符");
      } else {
        this.updateModelHandler(param);
      }
    },
    updateModelHandler(params) {
      updateModel(params).then((res) => {
        if (res.code == 0) {
          this.$message.success("修改成功");
          this.modelAdminListHandler();
        } else {
          this.$message.error("修改失败");
        }
      });
    },
    selectionChange(params) {
      this.selectTable = params;
      this.checkboxVal = this.tableData.length == params.length;
      this.indeterminate =
        params.length > 0 && this.tableData.length > params.length;
    },
    getTextByStatus(val) {
      return this.statusList[val - 1];
    },
    clickHandler() {
      if (this.selectTable.length <= 0) {
        this.$message.warning("请选择模型");
        return;
      }
    },
    clearData() {
      this.currentPage = 1;
      this.total = 0;
      this.table_ref.clearSelection();
      this.tableData = [];
      this.searchValue = "";
      this.searchValueCompany = "";
      this.form = {
        equipmentType: "",
        site_name: "",
        device_type: "",
        device_voltage: "",
      };
    },
    jyHandler(params) {
      //   if (
      //     params.ModelVersionList.length < 3 ||
      //     params.all_sites != 1 ||
      //     params.status == 2
      //   )
      //     return;
      this.pushHandlerBtn("完整性校验", {
        id: params.id,
        status: params.status,
      });
    },
    ylHandler(params) {
      if (params.ModelVersionList.length == 0) return;
      this.pushHandlerBtn("模型预览", {
        id: params.id,
        status: params.status,
      });
    },
    debounce() {
      let that = this;
      if (that.debounceTime) {
        clearTimeout(that.debounceTime);
      }
      that.debounceTime = setTimeout(function () {
        that.modelAdminListHandler();
        that.debounceTime = null;
      }, 500);
    },
    tabHandler(params) {
      let index = params.id;
      this.norun = true;
      this.clearData();
      this.$refs.SearchInput.clear();
      this.form.equipmentType = index;
      sessionStorage.setItem("MODELVERINDEX", index);
      switch (index) {
        //   '待校验'
        case 1:
          //     -1=删除 1= //待校验 2 //校验失败 3 比对失败 4待比对 5 待修正
          // 6 修正中 7 待待发布 8 已发布
          this.mStatusList = [
            { label: "待校验", value: 1 },
            { label: "校验失败", value: 2 },
          ];
          this.isShowCheckbox = false;
          this.checkboxText = "校验选中";
          break;
        //   待对比
        case 4:
          this.mStatusList = [
            { label: "待比对", value: 4 },
            { label: "比对失败", value: 3 },
            { label: "待修正", value: 5 },
            { label: "修改中", value: 6 },
          ];
          this.isShowCheckbox = false;
          break;
        //   待发布
        case 7:
          this.isShowCheckbox = true;
          this.checkboxText = "发布选中";
          break;
        //   已发布
        case 8:
          this.isShowCheckbox = true;
          this.checkboxText = "下架选中";
          this.modelIndexHandler();
          break;

        default:
          break;
      }
      this.modelAdminListHandler();
      //   this.debounce();
      this.tabIndex = params.id;
    },
    modelIndexHandler() {
      modelIndex().then((res) => {
        this.ddddata = res.data;
      });
    },
    currentChange(currentPage) {
      this.currentPage = currentPage;
      this.table_ref.clearSelection();
      this.modelAdminListHandler();
    },
    pushHandlerBtn(name, params) {
      pushHandler(name, this, params);
    },
    statusHandler(row) {
      switch (row.status) {
        case 2:
          this.checkError(row);
          break;

        default:
          break;
      }
    },
    checkError(row) {
      this.visible = true;
      this.errorData = row;
    },
  },
};
</script>

<style lang="less">
#modelVerification {
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  .el-table--enable-row-transition .el-table__body td.el-table__cell {
    padding: 2px 0;
  }
  .topHeader {
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-content: center;
    padding: 0 0 20px 0;
    box-sizing: border-box;
    // border-bottom: 1px solid var(--borderColor); /*no*/
    .title {
      line-height: 40px;
      font-size: 18px;
      //   font-weight: bold;
    }
  }
  .centerHeader {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .bottomHeader {
    box-sizing: border-box;
    .bottomHeader_btn {
      display: flex;
      align-items: center;
      position: relative;
      .el-input__inner {
        border-radius: 4px 0 0 4px; /*no*/
      }
      .el-button.inputButton {
        border-radius: 0 4px 4px 0; /*no*/
      }
    }
    .form {
      //   width: 100%;
      // border: 1px solid var(--borderColor);
      //   margin-top: 20px;
      border-radius: 10px;
      padding: 20px 20px 0 20px;
      display: flex;
      flex-wrap: wrap;
      > div {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
      }
      .example {
        font-size: 16px;
        margin-left: 20px;
      }
      .el-input {
        width: 210px;
      }
      .el-select {
        .el-input {
          width: 100%;
        }
      }
      .formlabel {
        font-size: 16px;
        text-align: right;
        color: #333;
        width: 120px;
        display: inline-block;
        margin-right: 20px;
      }
    }
  }
  .tableClass {
    width: 100%;
    height: calc(100% - 345px);
  }
  .tableClass_7 {
    width: 100%;
    height: calc(100% - 285px);
  }
  .tableClass_8 {
    width: 100%;
    height: calc(100% - 330px);
  }
  //   .table_1,
  //   .table_4 {
  //     .el-table__fixed {
  //       width: 335px !important;
  //     }
  //     .el-table__fixed-right {
  //       width: 350px !important;
  //     }
  //   }
  //   .table_7 {
  //     .el-table__fixed {
  //       width: 390px !important;
  //     }
  //     .el-table__fixed-right {
  //       width: 350px !important;
  //     }
  //   }
  //   .table_8 {
  //     .el-table__fixed {
  //       width: 390px !important;
  //     }
  //     .el-table__fixed-right {
  //       width: 250px !important;
  //     }
  //   }

  .rightList_main_pagination {
    display: flex;
    justify-content: end;
    align-items: center;
    .info {
      margin: 0 20px;
    }
  }
  .smallButton {
    height: 36px;
    padding: 0 10px;
    line-height: 36px;
    margin-left: 20px;
  }
  .searchBtn {
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    right: 5px;
  }
  .centerBtn {
    top: calc(50% - 8px);
  }
  .jyClass {
    font-size: 16px;
    cursor: pointer;
  }
  .jyClass:hover {
    color: var(--shareColor);
  }
  .botClass {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-top: 10px;
  }
}
.fileSuccess {
  display: flex;
  align-items: center;
  background: rgb(240, 249, 235);
  padding: 10px;
  i {
    font-size: 30px;
    color: var(--shareColor);
    margin: 0 10px;
  }
  p {
    font-size: 14px;
    color: var(--shareColor);
  }
  .a {
    font-size: 16px;

    font-weight: bold;
  }
}
.fileError {
  i {
    color: red;
  }
}
.isdisabled {
  color: rgb(144, 147, 153);
  cursor: not-allowed !important;
}
.iooo {
  margin-bottom: 20px;
  font-size: 16px;
}
.checkclass {
  margin: 0 20px;
}
</style>
