<template>
  <div id="modelPreview">
    <!-- <Breadcrumb class="breadcrumb" :breadcrumb="bData"></Breadcrumb>
    <div class="horLine"></div> -->
    <div class="shareHeader">
      <div class="title">三维模型智能管理平台</div>
    </div>
    <div class="horLine"></div>
    <DivSecond></DivSecond>
    <TabBar
      ref="taBar"
      class="tabBar"
      :data="fileTypeListh"
      @change="tabHandler"
    ></TabBar>
    <div class="threeWrapClass">
      <div id="MainRoot">
        <ThreeView :sceneConfig="sceneConfig" ref="WebGlView"></ThreeView>
        <!-- <div class="TestView">
          <input type="button" value="加载模型" @click="API_Function(0)" />
          <input type="button" value="添加节点" @click="API_Function(1)" />
          <input type="button" value="清除场景" @click="API_Function(3)" />
          <input type="button" value="卸载模型" @click="API_Function(4)" />
          <input type="button" value="卸载节点" @click="API_Function(5)" />
        </div> -->
      </div>

      <!-- <Table :data="tableData" class="tableC">
        <el-table-column
          width="55"
          align="center"
          label="序号"
          type="index"
        ></el-table-column>
        <el-table-column
          width="150"
          align="center"
          show-overflow-tooltip
          prop="name"
          label="部件名称"
        ></el-table-column>
        <el-table-column
          width="250"
          align="center"
          show-overflow-tooltip
          prop="name"
          label="边界尺寸（长，宽，高）m"
        ></el-table-column>
      </Table> -->
    </div>
  </div>
</template>

<script>
import ThreeView from "@/components/Web3D/ThreeView";
import { auditStanDetail, modeldetails } from "@/http/api";

export default {
  name: "modelPreview",
  components: {
    ThreeView,
  },
  data() {
    return {
      sceneConfig: {
        url: "/api/v1/getmodeldata",
        isDebug: true,
      },
      row: {},
      tableData: [1, 2],
      fileTypeText: [],
      fileTypeListh: [],
      breadcrumbData: "",
      bData: [],
      list: [],
      strData: "",
    };
  },
  computed: {},
  watch: {},
  created() {
    this.row = this.$route.query.query
      ? JSON.parse(this.$route.query.query)
      : {};
    this.bData = [this.row.name, "模型查看"];
    let modelBaseGroups = JSON.parse(sessionStorage.getItem("MODELBASEGROUPS"));
    let arr = modelBaseGroups.fileTypeList;
    arr.forEach((item) => {
      if (item.name == "默认") {
        item.name = "优化格式";
      }
    });

    this.fileTypeText = arr;
  },
  mounted() {
    if (this.row.isVerHistory) {
      console.log("99999");
      let str = this.row.model_id + "|" + this.row.vid;
      this.$refs.WebGlView.LoadMesh(str);
    } else if (this.row.id) {
      console.log("11111");
      this.modeldetailsHandler();
      //   this.$refs.WebGlView.LoadMesh(
      //     "3546a4a1-62a6-41e4-8eec-7965e34f2d15|6168"
      //   );
    }
  },
  beforeDestroy() {
    this.$refs.WebGlView.ClearScene();
  },
  methods: {
    tabHandler(params) {
      //   this.$refs.WebGlView.ClearScene();
      console.log(this.strData);
      if (this.strData && this.strData != "") {
        this.$refs.WebGlView.RemoveMesh(this.strData);
      }
      this.list.forEach((item) => {
        let str = item.model_id + "|" + item.id;
        if (params.id == item.file_type) {
          this.strData = str;
          this.$refs.WebGlView.LoadMesh(str);
        } else {
          //   this.$refs.WebGlView.RemoveMesh(item.file_path);
        }
      });
    },
    auditStanDetailHandler() {
      auditStanDetail({ id: this.row.id, status: 8 }).then((res) => {});
    },
    modeldetailsHandler() {
      modeldetails({ id: this.row.id, status: this.row.status }).then((res) => {
        let data = res.data ? res.data.ModelVersionList : [];
        this.$nextTick(() => {
          let arr = [];
          this.fileTypeText.forEach((item) => {
            data.forEach((m, n) => {
              if (item.id == m.file_type) {
                arr.push(item);
              }
            });
            if (this.row.file_type && item.id == this.row.file_type) {
              this.$refs.taBar.setIndex(item);
            }
          });
          if (!this.row.file_type) {
            this.$refs.taBar.setIndex(arr[0]);
          }
          this.list = data;
          this.fileTypeListh = arr;
          data.forEach((it) => {
            if (it.file_type == this.row.file_type) {
              let str = it.model_id + "|" + it.id;
              this.strData = str;
              this.$refs.WebGlView.LoadMesh(str);
            }
          });
        });
      });
    },
    API_Function: function (type) {
      switch (type) {
        case 0: //加载模型
          this.$refs.WebGlView.LoadMesh(
            "480a9e78-09d9-4ef8-b8c2-388246312b58|4803"
          );
          break;

        case 1: //添加节点
          this.$refs.WebGlView.AddMesh(
            "480a9e78-09d9-4ef8-b8c2-388246312b58|4803",
            "/0/1/2",
            "4d1be200-ddf7-407d-abf4-6f6b82a94385|5947"
          );
          break;

        case 3: //清除场景
          this.$refs.WebGlView.ClearScene();
          break;

        case 4: //卸载模型
          this.$refs.WebGlView.RemoveMesh(
            "480a9e78-09d9-4ef8-b8c2-388246312b58|4803"
          );
          break;

        case 5: //卸载节点
          this.$refs.WebGlView.RemoveNodeList(
            "480a9e78-09d9-4ef8-b8c2-388246312b58|4803",
            ["/0/1/2/3/13/14/15"]
          );
          break;

        default:
          break;
      }
    },
  },
};
</script>

<style lang="less">
#modelPreview {
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  .tabBar {
    margin: 0 0 20px 0;
    justify-content: center;
  }
  #MainRoot {
    width: 100%;
    height: 100%;
  }
  .threeWrapClass {
    width: 100%;
    height: calc(100% - 210px);
    border: 1px solid var(--borderColor); /*no*/
    position: relative;
    .tableC {
      position: absolute;
      top: 0;
      right: 0;
      width: 460px;
    }
  }
}
</style>
