<template>
  <div id="modelList">
    <!-- <div class="shareHeader">
      <div class="title">三维模型智能管理平台</div>
    </div>
    <div class="horLine"></div>
    <DivSecond></DivSecond>
    <MyTableBar></MyTableBar> -->
    <div class="centerHeader">
      <div>
        <i>模型用途</i>
        <span
          v-for="(item, index) in modelBaseGroups"
          :key="item + index"
          :class="activeIndex_center == item.id ? 'active_center' : ''"
          @click="centerBtnHandler(item, item.id)"
        >
          {{ item.aname }}
        </span>
      </div>
    </div>
    <div class="bottomHeader">
      <TabBar ref="taBar" :data="tabData" @change="tabHandler"></TabBar>
      <SearchInput :status="8" @change="InputChange"></SearchInput>
    </div>
    <i class="horLine"></i>

    <div class="modelMain">
      <div class="leftTree">
        <div style="position: relative">
          <el-input placeholder="专业分类" v-model="searchVal_tree"> </el-input>
          <i class="searchBtn el-icon-search centerBtn"></i>
        </div>
        <div style="width: 100%; height: calc(100% - 60px); margin-top: 10px">
          <el-scrollbar class="scrollbar">
            <el-tree
              ref="tree"
              :filter-node-method="filterNode"
              :data="treeData"
              :props="defaultProps"
              @node-click="handleNodeClick"
              node-key="id"
              default-expand-all
              highlight-current
            ></el-tree>
          </el-scrollbar>
        </div>
      </div>
      <div class="rightList">
        <div class="rightList_main_wrap">
          <el-scrollbar class="scrollbar">
            <div class="rightList_main">
              <div
                class="rightList_main_List"
                v-for="(item, index) in modelList"
                @click="pushHandlerBtn('模型详情', item)"
                :key="index + 9782"
              >
                <div class="img_wrap">
                  <img
                    style="width: 100%; height: 100%"
                    v-show="item.thumbnail_url == 'none'"
                    src="../../assets/image/max.jpg"
                    alt=""
                  />
                  <el-image
                    v-show="item.thumbnail_url != 'none'"
                    :src="item.thumbnail_url"
                  >
                    <div slot="error" class="image-slot">
                      <i class="el-icon-picture-outline"></i>
                      <span>暂无图片</span>
                    </div>
                  </el-image>
                </div>
                <p class="title">{{ item.name }}</p>
                <p style="margin: 10px 0">使用站点数:{{ item.site_num }}</p>
                <p>{{ item.device_company }}</p>
              </div>
            </div>
          </el-scrollbar>
        </div>
        <div class="rightList_main_pagination">
          <el-pagination
            background
            @current-change="currentChange"
            layout="prev, pager, next"
            :page-size="pageSize"
            :current-page="currentPage"
            :total="total"
          >
          </el-pagination>
          <span class="info"
            >当前显示{{ modelList.length }}条，当前记录共{{ total }}条</span
          >
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { pushHandler } from "@/utils/shUtils.js";
import { getIndexModelList, getGroups } from "@/http/api";
// import MyTableBar from "./components/myTableBar.vue";
import SearchInput from "./components/searchInput.vue";
export default {
  name: "",
  components: {
    // MyTableBar,
    SearchInput,
  },
  data() {
    return {
      selectVal: 1,
      searchValue: "",
      dropdownList: [],
      tabData: [
        { id: 2, name: "使用站点数" },
        { id: 1, name: "更新时间" },
      ],
      options: [
        {
          value: 1,
          label: "模型",
        },
        {
          value: 2,
          label: "厂商",
        },
      ],
      activeIndex_center: 1,
      total: 0,
      searchVal_tree: "",
      treeData: [],
      defaultProps: {
        children: "sub_list",
        label: "name",
      },
      modelList: [],
      placeholder: "模型名称/设备型号",
      file_type: "",
      desc: 2,
      searchValueCompany: "",
      fileTypeId: 1,
      modelBaseGroups: [],
      debounceTime: null,
      pageSize: 20,
      currentPage: 1,
    };
  },
  computed: {},
  watch: {
    searchVal_tree(val) {
      this.$refs.tree.filter(val);
    },
  },
  created() {
    this.getGroupsHandler();
    sessionStorage.setItem("MYUPLOAD", "设备模型");
    // let modelBaseGroups = JSON.parse(sessionStorage.getItem("MODELBASEGROUPS"));
    // this.modelBaseGroups = modelBaseGroups.fileTypeList;
    // this.treeData = modelBaseGroups.device_typeList;
    // this.modelBaseGroups.forEach((item) => {
    //   item.aname = item.name;
    //   if (item.name == "默认") {
    //     item.aname = "优化格式";
    //     // this.activeIndex_center = item.id;
    //     // this.fileTypeId = item.id;
    //   }
    // });
  },
  mounted() {
    this.$nextTick(() => {
      this.modelListHandler();
      this.$refs.taBar.setIndex(this.tabData[0]);
    });
  },
  methods: {
    getGroupsHandler() {
      //   1 所属地区
      //   2  变电站电压等级
      //   3 所属站点
      //   4 设备间隔
      //   5 设备电压等级
      //   6
      //   7 设备分类
      //   8 模型用途
      getGroups().then((res) => {
        let areaList = res.list["1"] ? res.list["1"] : [];
        let voltageList = res.list["2"] ? res.list["2"] : [];
        let site_nameList = res.list["3"] ? res.list["3"] : [];
        let device_spaceList = res.list["4"]
          ? res.list["4"]
          : [{ name: "2.6", id: "333" }];
        let device_voltageList = res.list["5"] ? res.list["5"] : [];
        let device_typeList = res.list["7"] ? res.list["7"] : [];
        let fileTypeList = res.list["8"] ? res.list["8"] : [];

        let params = {
          areaList,
          voltageList,
          site_nameList,
          device_spaceList,
          device_voltageList,
          device_typeList,
          fileTypeList,
        };
        sessionStorage.setItem("MODELBASEGROUPS", JSON.stringify(params));

        this.modelBaseGroups = params.fileTypeList;
        this.treeData = params.device_typeList;
        this.modelBaseGroups.forEach((item) => {
          item.aname = item.name;
          if (item.name == "默认") {
            item.aname = "优化格式";
            // this.activeIndex_center = item.id;
            // this.fileTypeId = item.id;
          }
        });
      });
    },
    filterNode(value, data) {
      if (!value) return true;
      return data.name.indexOf(value) !== -1;
    },
    InputChange(params) {
      this.searchValue = params.searchValue;
      this.searchValueCompany = params.searchValueCompany;
      this.modelListHandler();
    },
    tabHandler(params) {
      this.desc = params.id;
      this.modelListHandler();
    },
    pushHandlerBtn(name, params) {
      if (params && params.model_id) {
        pushHandler(name, this, {
          id: params.model_id,
          file_type: this.activeIndex_center,
          status: 8,
        });
      } else {
        pushHandler(name, this);
      }
    },
    modelListHandler() {
      let params = {
        file_type: this.fileTypeId,
        device_type: this.typeId,
        desc: this.desc,
        name: this.searchValue,
        company: this.searchValueCompany,
        page: this.currentPage,
        page_size: this.pageSize,
        status: 8,
      };
      getIndexModelList(params).then((res) => {
        let arr = res.list ? res.list : [];
        this.total = res.pager.total_rows;
        arr.forEach((item) => {
          if (item.file_path.includes(".")) {
            let gsArr = item.file_path ? item.file_path.split(".") : null;
            let gs = gsArr[gsArr.length - 1];
            if (gs == "max") {
              item.thumbnail_url = "none";
            }
          }
        });
        this.modelList = arr;
        console.log(this.modelList);
      });
    },
    getGS(path) {
      let gsArr = path ? path.split(".") : null;
      let gs = gsArr[gsArr.length - 1];
      return gs;
    },

    centerBtnHandler(params, index) {
      this.activeIndex_center = index;
      this.fileTypeId = params.id;
      this.searchVal_tree = "";
      this.$refs.tree.setCurrentKey(null);
      this.typeId = "";
      this.modelListHandler();
    },
    currentChange(currentPage) {
      this.currentPage = currentPage;
      this.modelListHandler();
    },
    handleNodeClick(data, node) {
      let currentNode = this.$refs.tree.getCurrentNode();
      if (this.typeId == currentNode.id) {
        this.typeId = "";
        this.$refs.tree.setCurrentKey(null);
      } else {
        this.typeId = currentNode.id;
      }
      this.modelListHandler();
    },
  },
};
</script>

<style lang="less">
#modelList {
  width: 100%;
  height: 100%;
  //   padding: 20px;
  box-sizing: border-box;
  .topHeader {
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-content: center;
    padding: 0 0 20px 0;
    box-sizing: border-box;
    .title {
      line-height: 40px;
      font-size: 18px;
    }
  }
  .centerHeader {
    width: 100%;
    padding: 15px 0;
    box-sizing: border-box;
    border: 1px solid var(--borderColor); /*no*/

    border-left: none;
    border-right: none;
    margin-bottom: 15px;
    > div {
      display: flex;
      span {
        margin: 0 40px;
        cursor: pointer;
      }
      span:hover {
        color: var(--shareColor);
      }
      .active_center {
        color: var(--shareColor);
      }
      i {
        font-weight: bold;
        margin-right: 50px;
      }
    }
  }
  .bottomHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    .bottomHeader_btn {
      display: flex;
      align-items: center;
      position: relative;
    }
  }
  .modelMain {
    height: calc(100% - 120px);
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;

    .leftTree {
      border: 1px solid #e2e2e2;
      box-sizing: border-box;
      border-radius: 5px;
      padding: 10px;
      width: 300px;
      height: 100%;
    }
    .rightList {
      flex: 1;
      height: 100%;
      //   box-sizing: border-box;
      //   padding: 0 10px;
      .rightList_main_wrap {
        width: 100%;
        height: calc(100% - 50px);
      }
      .rightList_main_pagination {
        display: flex;
        justify-content: end;
        align-items: center;
        margin-top: 10px;
        .info {
          margin: 0 20px;
        }
      }
      .rightList_main {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        // justify-content: space-between;
        .rightList_main_List {
          width: 20%;
          padding: 0 10px 20px 10px;
          box-sizing: border-box;
          cursor: pointer;
          .title {
            font-weight: bold;
          }
          .img_wrap {
            // max-height: 234px;
            // min-height: 135px;
            height: 234px;
            display: flex;
            align-items: center;
            border: 1px solid var(--borderColor); /*no*/
            border-radius: 5px; /*no*/
            .el-image {
              width: 100%;
              max-height: 100%;
            }
          }
        }
      }
    }
  }
  .searchBtn {
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    right: 5px;
  }
  .centerBtn {
    top: calc(50% - 8px);
  }
}
</style>
