<template>
  <div id="ModelDisassembly">
    <!-- <div class="shareHeader">
      <div class="title">三维模型智能管理平台</div>
    </div>
    <div class="horLine"></div>
    <DivSecond></DivSecond>
    <MyTableBar></MyTableBar> -->
    <div class="bottomHeader">
      <div class="form">
        <SearchInput
          ref="SearchInput"
          :status="form.status"
          @change="InputChange"
        ></SearchInput>
        <div>
          <span class="formlabel">模型状态</span>
          <el-select clearable v-model="form.status" placeholder="请选择">
            <el-option
              v-for="(m, n) in statusList"
              :label="m.label"
              :value="m.value"
              :key="n + 989"
            ></el-option>
          </el-select>
        </div>
        <div>
          <span class="formlabel">设备电压等级</span>
          <el-select
            v-model="form.device_voltage"
            clearable
            placeholder="请选择"
          >
            <el-option
              v-for="(item, index) in device_voltageList"
              :label="item.name"
              :value="item.name"
              :key="item.name"
            ></el-option>
          </el-select>
        </div>
      </div>
    </div>
    <div class="tableClass">
      <div class="tableQP">
        <Table ref="tableRef" :data="tableData" style="width: 100%">
          <!-- <el-table-column
          fixed
          type="selection"
          align="center"
          width="55"
          :key="10"
        ></el-table-column> -->
          <el-table-column
            fixed
            width="55"
            align="center"
            show-overflow-tooltip
            label="序号"
            type="index"
            sortable="custom"
            :key="11"
          ></el-table-column>
          <el-table-column
            fixed
            width="180"
            align="center"
            show-overflow-tooltip
            prop="name"
            label="模型名称"
            :key="12"
          ></el-table-column>
          <el-table-column
            fixed
            width="130"
            align="center"
            show-overflow-tooltip
            prop="device_num"
            label="设备型号"
            :key="13"
          ></el-table-column>
          <el-table-column
            width="150"
            align="center"
            show-overflow-tooltip
            prop="device_voltage"
            label="设备电压等级"
            :key="14"
          ></el-table-column>
          <el-table-column
            width="180"
            align="center"
            show-overflow-tooltip
            prop="device_company"
            label="生产厂商"
            :key="15"
          ></el-table-column>
          <el-table-column
            width="130"
            align="center"
            show-overflow-tooltip
            prop="site_name"
            label="所属站点"
            :key="16"
          ></el-table-column>
          <el-table-column
            align="center"
            show-overflow-tooltip
            prop="device_type_name"
            label="分类"
            :key="17"
          ></el-table-column>
          <el-table-column
            width="150"
            align="center"
            show-overflow-tooltip
            label="模型用途"
            :key="18"
          >
            <template slot-scope="scope">
              <span>
                {{ getfileType(scope.row.file_type) }}
              </span>
            </template>
          </el-table-column>
          <!-- <el-table-column
          width="120"
          align="center"
          show-overflow-tooltip
          label="模型类别"
          :key="19"
        >
          <template slot-scope="scope">
            <span>
              {{ scope.row.all_sites == 2 ? "全站模型" : "单体模型" }}
            </span>
          </template>
        </el-table-column> -->
          <el-table-column
            :key="25"
            fixed="right"
            align="center"
            label="状态"
            width="100"
          >
            <template slot-scope="scope">
              <span @click="statusHandler(scope.row)">{{
                getTextByStatus(scope.row.status)
              }}</span>
            </template>
          </el-table-column>
          <el-table-column
            :key="26"
            fixed="right"
            width="200"
            align="center"
            label="操作"
          >
            <template slot-scope="scope">
              <div class="operation">
                <span
                  :class="scope.row.status < 6 ? 'isdisabled' : ''"
                  @click="
                    pushHandlerBtn('模型详情', scope.row, scope.row.status < 6)
                  "
                >
                  预览 </span
                >|<span
                  :class="
                    scope.row.status != 1 &&
                    scope.row.status != 2 &&
                    scope.row.status != 3
                      ? 'isdisabled'
                      : ''
                  "
                  @click="
                    pushHandlerBtn(
                      '修改模型',
                      scope.row,
                      scope.row.status != 1 &&
                        scope.row.status != 2 &&
                        scope.row.status != 3
                    )
                  "
                  >修改</span
                >
                <!-- |<span
                  :class="
                    scope.row.status == 4 ||
                    scope.row.status == 5 ||
                    scope.row.status == 6
                      ? 'isdisabled'
                      : ''
                  "
                  @click="
                    deleteHandler(
                      scope.row,
                      scope.row.status == 4 ||
                        scope.row.status == 5 ||
                        scope.row.status == 6
                    )
                  "
                  >删除</span
                > -->
              </div>
            </template>
          </el-table-column>
        </Table>
      </div>
      <div class="rightList_main_pagination">
        <el-pagination
          background
          @current-change="currentChange"
          layout="prev, pager, next"
          :page-size="pageSize"
          :current-page="currentPage"
          :total="total"
        >
        </el-pagination>
        <span class="info"
          >当前显示{{ tableData.length }}条，当前记录共{{ total }}条</span
        >
      </div>
    </div>

    <el-dialog
      lock-scroll
      title="检验失败"
      :visible.sync="visible"
      width="30%"
      top="25vh"
    >
      <div class="fileSuccess fileError">
        <i class="el-icon-error"></i>
        <div>
          <p class="a">失败原因</p>
          <p>失败时间</p>
        </div>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="visible = false" type="primary">确定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
// import MyTableBar from "./components/myTableBar.vue";
// import ShareHeader from "./components/shareHeader.vue";
import { pushHandler } from "@/utils/shUtils.js";
import SearchInput from "./components/searchInput.vue";
import { myUploadlist, updateModel } from "@/http/api";
export default {
  name: "ModelDisassembly",
  components: {
    // ShareHeader,
    SearchInput,
    // MyTableBar,
  },
  data() {
    return {
      form: {
        status: "",
        device_voltage: "",
      },
      props: {
        expandTrigger: "hover",
        children: "sub_list",
        label: "name",
        value: "id",
        emitPath: false,
        checkStrictly: true,
      },
      tableData: [],

      device_voltageList: [],
      searchValue: "",
      visible: false,
      dropdownList: [],
      total: 0,
      errorData: {},
      selectVal: 1,
      options: [
        {
          value: 1,
          label: "模型",
        },
        {
          value: 2,
          label: "厂商",
        },
      ],
      placeholder: "模型名称/设备型号",
      //       status 必填字段 -1=删除 1= //待校验 2 //校验失败 3 比对失败 5 待修正
      // 6 修正中 7 待待发布 8 已发布
      statusList: [
        {
          label: "待校验",
          value: 1,
        },
        {
          label: "校验失败",
          value: 2,
        },
        {
          label: "待比对",
          value: 4,
        },
        {
          label: "比对失败",
          value: 3,
        },
        {
          label: "待修正",
          value: 5,
        },
        {
          label: "修正中",
          value: 6,
        },
        {
          label: "待发布",
          value: 7,
        },
        {
          label: "已发布",
          value: 8,
        },
      ],
      searchValueCompany: "",
      userID: sessionStorage.getItem("MODELUSERID") || 1000,
      pageSize: 15,
      currentPage: 1,
      debounceTime: null,
      row: {},
    };
  },
  computed: {},
  watch: {
    searchValue(val) {
      if (this.selectVal == 2) {
      }
    },
    form: {
      handler(newval) {
        this.myUploadlistHandler();
      },
      deep: true,
    },
  },
  created() {
    this.row = this.$route.query.query
      ? JSON.parse(this.$route.query.query)
      : {};
    console.log(this.row, "row");
    let modelBaseGroups = JSON.parse(sessionStorage.getItem("MODELBASEGROUPS"));
    this.device_voltageList = modelBaseGroups.device_voltageList;
    this.fileTypeList = modelBaseGroups.fileTypeList;
  },
  mounted() {
    this.table_ref = this.$refs.tableRef.$refs.table;
    this.myUploadlistHandler();
  },
  methods: {
    getfileType(file_type) {
      let par = null;
      this.fileTypeList.forEach((item) => {
        if (item.id == file_type) par = item.name;
        if (par == "默认") par = "FBX";
      });
      return par;
    },
    InputChange(params, isRun) {
      this.searchValue = params.searchValue;
      this.searchValueCompany = params.searchValueCompany;
      this.selectVal = params.selectVal;
      if (isRun) this.myUploadlistHandler();
    },
    pushHandlerBtn(name, params, nopush) {
      if (nopush) {
        return;
      } else if (params) {
        pushHandler(name, this, {
          id: params.model_id,
          status: params.status,
          file_type: params.file_type,
        });
      } else {
        pushHandler(name, this);
      }
    },
    deleteHandler(row, nodel) {
      if (nodel) return;
      this.delmyUploadlistHandler(row);
    },
    getTextByStatus(val) {
      let label = "";
      this.statusList.forEach((item) => {
        if (item.value == val) {
          label = item.label;
        }
      });
      return label;
    },
    delmyUploadlistHandler(row) {
      let params = {
        id: row.model_id,
        status: -1, //状态
      };
      updateModel(params).then((res) => {
        if (res.code == 0) {
          this.$message.success("删除成功");
          this.myUploadlistHandler();
        } else {
          this.$message.error("删除失败");
        }
      });
    },
    myUploadlistHandler() {
      let params = {
        patter_id: this.row.id,
        // uid: this.userID, //用户Id
        // site_name: this.form.site_name, //所属站点
        // device_type: this.form.device_type, //设备分类
        status: this.form.status, //状态
        device_voltage: this.form.device_voltage, //设备电压等级
        name: this.searchValue, //模型的名称
        // // device_num: this.form.device_num, //设备型号
        device_company: this.searchValueCompany, //生产厂商
        page: this.currentPage,
        page_size: this.pageSize,
      };
      myUploadlist(params).then((res) => {
        this.tableData = res.list ? res.list : [];
        this.total = res.pager.total_rows;
      });
    },
    statusHandler(row) {
      switch (row.status) {
        case 2:
          this.checkError(row);
          break;

        default:
          break;
      }
    },
    currentChange(currentPage) {
      this.currentPage = currentPage;
      this.myUploadlistHandler();
    },
    statusHandler(row) {
      switch (row.status) {
        case 2:
          this.checkError(row);
          break;

        default:
          break;
      }
    },
    checkError(row) {
      this.visible = true;
      this.errorData = row;
    },
  },
};
</script>

<style lang="less">
#ModelDisassembly {
  width: 100%;
  height: 100%;
  //   padding: 20px;
  box-sizing: border-box;
  .smallButton {
    height: 36px;
    padding: 0 10px;
    line-height: 36px;
  }
  .searchBtn {
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    right: 5px;
  }
  .centerBtn {
    top: calc(50% - 8px);
  }
  .bottomHeader {
    box-sizing: border-box;
    .bottomHeader_btn {
      display: flex;
      align-items: center;
      position: relative;
      .el-input__inner {
        border-radius: 4px 0 0 4px; /*no*/
      }
      .el-button.inputButton {
        border-radius: 0 4px 4px 0; /*no*/
      }
    }
    .form {
      //   width: 100%;
      // border: 1px solid var(--borderColor);
      //   margin-top: 20px;
      border-radius: 10px;
      padding: 0 20px 0 20px;
      display: flex;
      flex-wrap: wrap;
      > div {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
      }
      .example {
        font-size: 16px;
        margin-left: 20px;
      }
      .el-input {
        width: 210px;
      }
      .el-select {
        .el-input {
          width: 100%;
        }
      }
      .formlabel {
        font-size: 16px;
        text-align: right;
        color: #333;
        width: 120px;
        display: inline-block;
        margin-right: 20px;
      }
    }
  }
  .tableClass {
    width: 100%;
    height: calc(100% - 60px);
  }
  .rightList_main_pagination {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 10px;
    .info {
      margin: 0 20px;
    }
  }
  .isdisabled {
    color: rgb(144, 147, 153);
    cursor: not-allowed;
  }
  .fileSuccess {
    display: flex;
    align-items: center;
    background: rgb(240, 249, 235);
    padding: 10px;
    i {
      font-size: 30px;
      color: var(--shareColor);
      margin: 0 10px;
    }
    p {
      font-size: 14px;
      color: var(--shareColor);
    }
    .a {
      font-size: 16px;

      font-weight: bold;
    }
  }
  .fileError {
    i {
      color: red;
    }
  }
}
</style>
