<template>
  <div id="modeldetails">
    <!-- <Breadcrumb
      class="breadcrumb"
      :breadcrumb="['模型管理', '模型预览']"
    ></Breadcrumb>
    <div class="horLine"></div> -->
    <div class="shareHeader">
      <div class="title">三维模型智能管理平台</div>
    </div>
    <div class="horLine"></div>
    <DivSecond></DivSecond>
    <TabBar
      ref="taBar"
      class="tabBar"
      :data="fileTypeListh"
      @change="tabHandler"
    ></TabBar>
    <div class="contentWrap">
      <div @click="lookHandler">
        <img
          class="imgWH_192"
          v-show="detailFilterData.thumbnail_url == 'none'"
          src="../../assets/image/max.jpg"
          alt=""
        />
        <el-image
          class="imgWH_192"
          v-show="detailFilterData.thumbnail_url !== 'none'"
          :src="detailFilterData.thumbnail_url"
          style="cursor: pointer"
        >
          <div slot="error" class="image-slot">
            <i class="el-icon-picture-outline"></i>
            <span>暂无图片</span>
          </div>
        </el-image>
      </div>
      <div class="rightContent">
        <p>{{ detailData.name }}</p>
        <div class="rightContentCenter">
          <div>模型分类：{{ detailFilterData.file_type_text }}</div>
          <div>数据来源：自有/第三方</div>
          <div>
            最新版本：{{ detailFilterData.uploadTime }}
            <!-- <span class="moreVerClass" @click="moreVerHandler">更多</span> -->
          </div>
          <div>使用站点数：{{ detailData.num }}</div>
          <div>文件格式：{{ detailFilterData.fileformat }}</div>
          <div>设备型号：{{ detailData.device_num }}</div>
        </div>
        <div class="rightContentBottom">
          <span class="price marginRight20"
            >价格:￥{{
              detailFilterData.price ? detailFilterData.price : "--"
            }}</span
          >
          <span class="price marginRight20"
            >全部打包价格:￥{{
              detailData.price ? detailData.price : "--"
            }}</span
          >
          <el-button
            class="marginRight20"
            @click="pushHandlerBtn('区域分布', row)"
            >区域分布</el-button
          >
        </div>
      </div>
    </div>
    <p class="marginTB20" style="font-weight: bold">模型简介</p>
    <ModelInfo :data="modelInfoList"></ModelInfo>

    <el-dialog
      lock-scroll
      title="发布版本"
      :visible.sync="visible"
      width="60%"
      top="25vh"
    >
      <Table ref="tableRef" :data="tableData" style="width: 100%">
        <el-table-column prop="name" label="版本号"></el-table-column>
        <el-table-column prop="name" label="生成时间"></el-table-column>
        <el-table-column prop="name" label="默认"></el-table-column>
        <el-table-column prop="name" label="数字化移交"></el-table-column>
        <el-table-column prop="name" label="精细化模型"></el-table-column>
        <el-table-column prop="name" label="实景三维点云"></el-table-column>
      </Table>
    </el-dialog>
  </div>
</template>

<script>
import ModelInfo from "./components/modelInfo.vue";
import { modeldetails, addColletc, getGroups, uploadVerison } from "@/http/api";
import { pushHandler } from "@/utils/shUtils.js";
export default {
  name: "modeldetails",
  components: {
    ModelInfo,
  },
  data() {
    return {
      modelInfoList: [],
      tableData: [],
      detailData: {},
      detailFilterData: {},
      fileTypeText: [],
      modelId: null,
      row: {},
      visible: false,
      fileTypeListh: [],
    };
  },
  computed: {},
  watch: {},
  created() {
    this.row = this.$route.query.query
      ? JSON.parse(this.$route.query.query)
      : null;
    this.modelId = this.row ? this.row.id : "";
    let modelBaseGroups = JSON.parse(sessionStorage.getItem("MODELBASEGROUPS"));
    this.fileTypeText = modelBaseGroups.fileTypeList;
  },
  mounted() {
    console.log("后台详情");
    if (this.modelId) {
      this.getModeldetails();
      //   this.$nextTick(() => {
      this.fileTypeText.forEach((item) => {
        if (item.name == "默认") {
          item.name = "优化格式";
        }
      });
      //   });
    }
  },
  methods: {
    tabHandler(params) {
      this.filterHandler(params);
    },
    pushHandlerBtn(name, params) {
      if (params.id) {
        pushHandler(name, this, params);
      }
    },
    filterHandler(params) {
      this.detailFilterData = {};
      let detailFilterData = this.detailData.ModelVersionList.filter((item) => {
        let path = item.file_path ? item.file_path.split(".") : null;
        if (path) {
          item.fileformat = path[path.length - 1];
          if (item.fileformat == "max") {
            item.thumbnail_url = "none";
          }
        }
        if (params.id == item.file_type) {
          item.file_type_text = params.name;
          return true;
        }
        return false;
      });
      this.detailFilterData =
        detailFilterData.length > 0 ? detailFilterData[0] : {};
    },
    moreVerHandler() {
      uploadVerison({ model_id: this.modelId }).then((res) => {});
      this.visible = true;
    },
    lookHandler() {
      if (
        this.detailData.ModelVersionList &&
        this.detailData.ModelVersionList.length > 0
      ) {
        this.pushHandlerBtn("模型查看", {
          id: this.detailData.id,
          file_type: this.detailFilterData.file_type,
          file_path: this.detailFilterData.file_path,
          status: this.detailData.status,
          name: "发布管理",
        });
      }
    },
    getModeldetails() {
      modeldetails({ id: this.modelId, status: this.row.status }).then(
        (res) => {
          let data = res.data.ModelVersionList ? res.data.ModelVersionList : [];
          this.detailData = res.data;
          this.modelInfoList = [
            { name: "变电站电压等级", content: this.detailData.voltage },
            { name: "所属站点名称", content: this.detailData.site_name },
            { name: "设备间隔", content: this.detailData.device_space },
            { name: "设备电压等级", content: this.detailData.device_voltage },
            { name: "设备生产厂商", content: this.detailData.device_company },
          ];
          let bol = data.length == 4;
          let arr = [];
          this.$nextTick(() => {
            this.fileTypeText.forEach((item) => {
              data.forEach((m, n) => {
                if (item.id == m.file_type) {
                  //   item.aname = item.name;
                  arr.push(item);
                  if (bol && item.name == "默认") {
                    this.$refs.taBar.setIndex(item);
                    // item.name = "优化格式";
                    this.filterHandler(item);
                  }
                }
              });
              if (item.id == data[0].file_type && !bol) {
                this.$refs.taBar.setIndex(item);
                this.filterHandler(item);
              }
            });
            this.fileTypeListh = arr;
            if (!this.row.file_type && !bol) {
              this.$refs.taBar.setIndex(this.fileTypeListh[0]);
              this.filterHandler(this.fileTypeListh[0]);
            }
          });
        }
      );
    },
  },
};
</script>

<style lang="less">
#modeldetails {
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  .tabBar {
    margin: 20px 0;
    justify-content: center;
  }
  .contentWrap {
    width: 100%;
    height: auto;
    border: 1px solid var(--borderColor);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 20px 20px;
    .el-image {
      border-radius: 10px;
      border: 1px solid var(--borderColor);
    }
    img {
      border-radius: 10px;
      border: 1px solid var(--borderColor);
      cursor: pointer;
    }
    .rightContent {
      flex: 1;
      height: 192px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 20px;
      p {
        font-weight: bold;
        font-size: 20px;
      }
      .rightContentCenter {
        display: flex;
        flex-wrap: wrap;
        div {
          width: 30%;
          overflow: hidden;
          margin: 10px 0;
        }
      }
      .rightContentBottom {
        display: flex;
        align-items: center;
        .price {
          color: red;
          font-size: 20px;
        }
        .marginRight20 {
          margin-right: 20px;
        }
      }
    }
  }
}
.moreVerClass {
  margin-left: 20px;
  cursor: pointer;
  color: var(--shareColor);
}
</style>
