<template>
  <el-scrollbar class="scrollbar">
    <div id="modelRelease">
      <!-- <Breadcrumb
        class="breadcrumb"
        :breadcrumb="['模型列表', '模型发布']"
      ></Breadcrumb>
      <div class="horLine"></div> -->
      <div class="shareHeader">
        <div class="title">三维模型智能管理平台</div>
      </div>
      <div class="horLine"></div>
      <DivSecond></DivSecond>
      <p class="ptitle">模型名称：{{ row.name }}</p>
      <div class="contentWrap">
        <!-- <img class="imgWH_192" src="../../assets/image/gaibian.jpg" alt="" /> -->
        <div class="rightContent">
          <!-- <p>220V变电站</p> -->
          <div class="rightContentCenter">
            <div>设备分类：{{ detailData.device_type_name }}</div>
            <div>来源：自有/第三方</div>
            <div>生产厂商：{{ detailData.device_company }}</div>
            <div>设备型号：{{ detailData.device_num }}</div>
            <div>所属站点：{{ detailData.site_name }}</div>
            <!-- <div>上传者：牛牛</div>
            <div>最新版本：{{ detailData.uploadTime }}</div>
            <div>修订次数：12次</div>
            <div>文件类型：{{ getFileTypeByNum(detailData.fileType) }}</div> -->
            <div>使用站点数：{{ detailData.num }}</div>
            <div>最新版本：{{ detailData.update_time }}</div>
          </div>
        </div>
      </div>
      <!-- <p style="margin: 20px 0; font-weight: bold">模型简介</p>
      <ModelInfo :data="modelInfoList"></ModelInfo> -->
      <p class="ptitle">价格</p>
      <el-form ref="form" class="form" :rules="rules" :model="form">
        <el-form-item prop="all">
          <span class="formlabel"><i class="star">*</i>全部打包价格</span>
          <el-input
            v-model.number="form.all"
            placeholder="请输入内容"
          ></el-input>
        </el-form-item>
        <el-form-item prop="default">
          <span class="formlabel"><i class="star">*</i>YDM</span>
          <el-input
            v-model.number="form.default"
            placeholder="请输入内容"
          ></el-input>
        </el-form-item>
        <el-form-item prop="fbx">
          <span class="formlabel"><i class="star">*</i>FBX</span>
          <el-input
            v-model.number="form.fbx"
            placeholder="请输入内容"
          ></el-input>
        </el-form-item>
        <el-form-item prop="digitalHand">
          <span class="formlabel"><i class="star">*</i>数字化移交</span>
          <el-input
            v-model.number="form.digitalHand"
            placeholder="请输入内容"
          ></el-input>
        </el-form-item>
        <el-form-item prop="refineModel">
          <span class="formlabel"><i class="star">*</i>精细化模型</span>
          <el-input
            v-model.number="form.refineModel"
            placeholder="请输入内容"
          ></el-input>
        </el-form-item>
        <el-form-item prop="realPointcloud">
          <span class="formlabel"><i class="star">*</i>实景三维点云</span>
          <el-input
            v-model.number="form.realPointcloud"
            placeholder="请输入内容"
          ></el-input>
        </el-form-item>

        <el-form-item>
          <el-button
            class="margin10 bigPadd"
            type="primary"
            @click="onSubmit('form', 'send')"
            >发布</el-button
          >
          <!-- <el-button
            class="margin10 bigPadd"
            type="primary"
            @click="onSubmit('form', 'save')"
            >保存</el-button
          > -->
          <el-button @click="$router.back(-1)" class="margin10 bigPadd"
            >取消</el-button
          >
        </el-form-item>
      </el-form>
      <!-- <p class="ptitle">
        <span>最新版本</span>
        <span style="font-size: 16px; font-weight: normal; margin-left: 60px"
          >20211111</span
        >
        <el-input
          style="margin-left: 60px"
          v-model.number="form.version"
          placeholder="请输入最新版本"
        ></el-input>
      </p> -->
    </div>
  </el-scrollbar>
</template>

<script>
import ModelInfo from "./components/modelInfo.vue";
import { auditStanDetail, priceRelea, modeldetails } from "@/http/api";
import { pushHandler } from "@/utils/shUtils.js";
export default {
  name: "modelRelease",
  components: {
    ModelInfo,
  },
  data() {
    return {
      modelInfoList: [],
      form: {
        default: "",
        digitalHand: "",
        refineModel: "",
        realPointcloud: "",
        version: "",
        all: "",
        fbx: "",
      },
      rules: {
        all: [
          { required: true, message: "请输入全部打包价格" },
          { type: "number", message: "价格必须为数字值" },
        ],
        default: [
          { required: true, message: "请输入YDM价格" },
          { type: "number", message: "价格必须为数字值" },
        ],
        fbx: [
          { required: true, message: "请输入FBX价格" },
          { type: "number", message: "价格必须为数字值" },
        ],
        digitalHand: [
          { required: true, message: "请输入数字化移交价格" },
          { type: "number", message: "价格必须为数字值" },
        ],
        refineModel: [
          { required: true, message: "请输入精细化模型价格" },
          { type: "number", message: "价格必须为数字值" },
        ],
        realPointcloud: [
          { required: true, message: "请输入实景三维点云价格" },
          { type: "number", message: "价格必须为数字值" },
        ],
      },
      row: {},
      detailData: {},
      fileTypeList: [],
    };
  },
  computed: {},
  watch: {},
  created() {
    this.row = this.$route.query.query
      ? JSON.parse(this.$route.query.query)
      : null;
    // let modelBaseGroups = JSON.parse(sessionStorage.getItem("MODELBASEGROUPS"));
    // this.fileTypeList = modelBaseGroups.fileTypeList;
  },
  mounted() {
    if (this.row) {
      this.getModeldetails();
    }
  },
  methods: {
    priceReleaHandler() {
      let str = "";
      this.detailData.ModelVersionList.forEach((item, index) => {
        str += `model_verison_ids[${item.file_type}]=${item.id}&`;
      });
      if (!str.includes("model_verison_ids[8]")) {
        str += "model_verison_ids[8]=&";
      }
      str += `modle_id=${this.detailData.id}&price=${this.form.all}&gim_price=${this.form.digitalHand}&ydm_price=${this.form.default}&max_price=${this.form.refineModel}&fbx_price=${this.form.fbx}&point_price=${this.form.realPointcloud}&status=8`;
      console.log(str, "33333333333333333333");
      // version: this.form.version,
      priceRelea(str).then((res) => {
        if (res.code == 0) {
          this.$message.success("发布成功");
          sessionStorage.setItem("MODELVERINDEX", 8);
          pushHandler("发布管理", this);
        }
      });
    },
    getModeldetails() {
      modeldetails({
        id: this.row.id,
        status: 7,
      }).then((res) => {
        this.detailData = res.data;
        this.modelInfoList = [
          { name: "变电站电压等级", content: this.detailData.voltage },
          { name: "所属站点名称", content: this.detailData.site_name },
          { name: "设备间隔", content: this.detailData.device_space },
          { name: "设备电压等级", content: this.detailData.device_voltage },
          { name: "设备分类", content: this.detailData.device_type },
          { name: "模型名称", content: this.detailData.name },
          { name: "设备生产厂商", content: this.detailData.device_company },
          { name: "设备型号", content: this.detailData.device_num },
        ];
      });
    },
    onSubmit(formName, type) {
      // send 发布  save保存
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.priceReleaHandler();
        } else {
          return false;
        }
      });
    },
  },
};
</script>

<style lang="less">
#modelRelease {
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  .ptitle {
    font-size: 26px;
    font-weight: bold;
    margin: 20px 0;
    display: flex;
    align-items: center;
  }
  .contentWrap {
    width: 100%;
    height: auto;
    border: 1px solid var(--borderColor);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 20px 20px;
    img {
      border-radius: 10px;
    }
    .rightContent {
      flex: 1;
      height: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 20px;
      p {
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 20px;
      }
      .rightContentCenter {
        display: flex;
        flex-wrap: wrap;
        div {
          width: 25%;
          overflow: hidden;
          margin: 10px 0;
        }
      }
    }
  }
  .form {
    // margin-top: 20px;
    padding: 20px;
  }
  .el-input {
    width: 200px;
  }
  .el-form-item__error {
    left: 150px;
  }
  .formlabel {
    font-size: 16px;
    text-align: right;
    color: rgb(112, 188, 254);
    width: 130px;
    display: inline-block;
    margin-right: 20px;
  }
  .margin10 {
    margin: 0 30px;
  }
}
</style>
