<template>
  <div id="regDistribution">
    <!-- <Breadcrumb
      class="breadcrumb"
      :breadcrumb="['模型管理', { name: '模型预览', query }, '区域分布']"
    ></Breadcrumb> -->

    <div class="shareHeader">
      <div class="title">三维模型智能管理平台</div>
    </div>
    <div class="horLine"></div>
    <DivSecond></DivSecond>

    <!-- <div class="horLine"></div> -->
    <!-- <TabBar
      ref="taBar"
      class="tabBar"
      :data="fileTypeText"
      @change="tabHandler"
    ></TabBar> -->
    <div class="mapClass" id="mapId"></div>
  </div>
</template>

<script>
import { patternArea } from "@/http/api";
import * as echarts from "echarts";
import chinaMap from "@/utils/china.json";
export default {
  name: "regDistribution",
  data() {
    return {
      mapChart: null,
      fileTypeText: [],
      spotIcon: require("../../assets/image/dingwei.png"),
      spotData: [
        { name: "北京市", value: [116.403039, 39.914909] },
        { name: "天津市", value: [117.216419, 39.143831] },
        { name: "黑龙江省哈尔滨市", value: [126.637622, 45.766187] },
        { name: "吉林省长春市", value: [125.330606, 43.918866] },
        { name: "辽宁省沈阳市", value: [123.401674, 41.800522] },
        { name: "河北省石家庄市", value: [114.470479, 38.074112] },
        { name: "冀北", value: [117.369718, 41.526934] },
        { name: "内蒙古自治区呼和浩特市", value: [111.671565, 40.837895] },
        { name: "山西省太原市", value: [112.594097, 37.86707] },
        { name: "上海市", value: [121.480324, 31.236546] },
        { name: "浙江省杭州市", value: [120.18972, 30.248403] },
        { name: "福建省福州市", value: [119.326018, 26.121393] },
        { name: "广东省广州市", value: [113.263227, 23.154431] },
        { name: "海南省海口市", value: [110.16869, 20.034768] },
        { name: "安徽省合肥市", value: [117.324215, 31.889927] },
        { name: "河南省郑州市", value: [113.666819, 34.751785] },
        { name: "江苏省南京市", value: [118.804048, 32.095658] },
        { name: "山东省济南市", value: [117.126952, 36.662279] },
        { name: "甘肃省兰州市", value: [103.833182, 36.066455] },
        { name: "宁夏回族自治区银川市", value: [106.179082, 38.498117] },
        { name: "青海省西宁市", value: [101.857023, 36.511681] },
        { name: "陕西省西安市", value: [108.970163, 34.284398] },
        { name: "西藏自治区拉萨市", value: [91.179248, 29.660176] },
        { name: "新疆维吾尔族自治区乌鲁木齐市", value: [87.535452, 43.847314] },
        { name: "四川省成都市", value: [104.064264, 30.66394] },
        { name: "重庆市", value: [106.554988, 29.555927] },
        { name: "广西省南宁市", value: [108.321874, 22.832993] },
        { name: "贵州省贵阳市", value: [106.709874, 26.563191] },
        { name: "云南省昆明市", value: [102.728219, 25.022114] },
        { name: "湖北省武汉市", value: [114.308774, 30.548863] },
        { name: "湖南省长沙市", value: [112.94547, 28.235017] },
        { name: "江西省南昌市", value: [115.924376, 28.669681] },
        // 香港特别行政区香港特别行政区115.924376,28.669681澳门特别行政区澳门特别行政区113.54814,22.181782台湾省台北市121.528689,25.035679
      ],
      filterSpotData: [],
      modelId: null,
    };
  },
  computed: {},
  watch: {},
  created() {
    this.modelId = this.$route.query.query
      ? JSON.parse(this.$route.query.query).model_id
      : null;
    this.query = this.$route.query.query;
    let modelBaseGroups = JSON.parse(sessionStorage.getItem("MODELBASEGROUPS"));
    this.fileTypeText = modelBaseGroups.fileTypeList;
  },
  mounted() {
    this.patternAreaHandler();
  },
  methods: {
    patternAreaHandler() {
      patternArea().then((res) => {
        let data = res.data;
        if (res.code == 0) {
          let t = this.spotData.filter((item) => {
            let bol = false;
            for (const key in data) {
              if (item.name.indexOf(key) >= 0 && data[key] != 0) {
                bol = true;
                item.value[2] = data[key];
              }
            }
            return bol;
          });
          this.filterSpotData = t;
          this.initEchartMap();
        }
      });
    },
    fontSize(res) {
      let clientWidth =
        window.innerWidth ||
        document.documentElement.clientWidth ||
        document.body.clientWidth;
      if (!clientWidth) return;
      let fontSize = clientWidth / 1920;
      return res * fontSize;
    },
    tabHandler(params) {
      let { id } = { ...params };
    },
    initEchartMap() {
      let that = this;
      if (that.mapChart) {
        that.mapChart.clear();
      }
      let el = document.getElementById("mapId");
      that.mapChart = echarts.init(el);
      echarts.registerMap("china", chinaMap);
      let optionMap = {
        geo: {
          top: "10%",
          bottom: "10%",
          show: false,
          map: "china",
          roam: false,
          zoom: 1,
          // layoutCenter: ['30%', '30%'],
          layoutSize: 100,
          label: {
            emphasis: {
              show: false,
            },
          },
          itemStyle: {
            normal: {
              color: "rgb(231, 246, 252)", //地图背景色
              borderColor: "#3BAFDA", //省市边界线00fcff 516a89
              borderWidth: that.fontSize(1),
            },
            emphasis: {
              areaColor: "rgb(231, 246, 252)",
              borderWidth: 0,
            },
          },
        },
        series: [
          {
            type: "map",
            top: "10%",
            bottom: "10%",
            show: true,
            map: "china",
            roam: false,
            zoom: 1,
            // layoutCenter: ['30%', '30%'],
            layoutSize: 100,
            label: {
              emphasis: {
                show: false,
              },
            },
            itemStyle: {
              normal: {
                areaColor: "rgba(0, 161, 135,0.2)",
                borderColor: "#3BAFDA",
                borderWidth: that.fontSize(1),
              },
              emphasis: {
                areaColor: "rgba(0, 161, 135,0.5)",
                borderWidth: 0,
              },
            },
            select: {
              itemStyle: {
                areaColor: "#005EB5",
              },
              label: {
                show: false,
              },
            },
          },
          {
            type: "scatter",
            coordinateSystem: "geo",
            symbol: "image://" + that.spotIcon,
            symbolSize: [that.fontSize(20), that.fontSize(30)],
            symbolOffset: [0, that.fontSize(-15)],
            label: {
              normal: {
                formatter: function (params) {
                  //   return params.name + "\n" + params.value[2];
                  return params.value[2];
                },
                position: "top",
                show: true,
                color: "#000",
                fontSize: that.fontSize(16),
              },
              emphasis: {
                show: true,
              },
            },
            itemStyle: {
              normal: {
                color: "rgb(0, 161, 135)",
              },
            },
            data: that.filterSpotData,
          },
        ],
      };
      this.mapChart.setOption(optionMap);
      //   this.mapChart.on("click", mapClickHandler);
    },
  },
};
</script>

<style lang="less">
#regDistribution {
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  .tabBar {
    margin: 20px 0;
    justify-content: center;
  }
  .mapClass {
    width: 100%;
    height: calc(100% - 155px);
  }
}
</style>
