<template>
  <div id="versionUpdate">
    <!-- <Breadcrumb
      class="breadcrumb"
      :breadcrumb="['模型管理', '版本更新']"
    ></Breadcrumb>
    <div class="horLine"></div> -->
    <div class="shareHeader">
      <div class="title">三维模型智能管理平台</div>
    </div>
    <div class="horLine"></div>
    <DivSecond></DivSecond>
    <div class="main">
      <el-scrollbar class="scrollbar">
        <div class="mainM">
          <p class="btitle">
            <span>模型名称：220V变电站</span>
          </p>

          <div class="thth">
            <span class="waringClass">
              数字化移交/精细化模型/实景三维点云必须都上传才能发布
            </span>
            <Upload
              ref="upload0"
              fileTypeName="实景三维点云"
              fileTypes="las,laz,pcl,e57l"
              :model_id="modelId"
              @success="successHandler($event, 0)"
              @error="errorHandler($event, 0)"
              :isDisabledupload="false"
              :isAllowUpload="true"
              :all_sites="all_sites"
            ></Upload>
            <Upload
              ref="upload1"
              fileTypeName="精细化模型"
              fileTypes="max"
              :all_sites="all_sites"
              :model_id="modelId"
              @success="successHandler($event, 1)"
              @error="errorHandler($event, 1)"
              :isDisabledupload="false"
              :isAllowUpload="true"
            ></Upload>
            <Upload
              ref="upload2"
              fileTypeName="数字化移交"
              fileTypes="gim"
              :all_sites="all_sites"
              @success="successHandler($event, 2)"
              @error="errorHandler($event, 2)"
              :model_id="modelId"
              :isDisabledupload="false"
              :isAllowUpload="true"
            ></Upload>
          </div>

          <div style="margin-left: 100px">
            <!-- <el-button class="bigPadd" type="primary" @click="onSubmit('form')">
              确定
            </el-button> -->
            <!-- <el-button
              class="bigPadd"
              style="margin-left: 20px"
              @click="$router.back(-1)"
            >
              返回
            </el-button> -->
          </div>
          <p class="btitle">
            <span>版本历史</span>
          </p>
          <div class="marginLR80">
            <p class="marginTB20">三维点云</p>
            <VersionUpdateTable :data="tableData3"></VersionUpdateTable>
            <p class="marginTB20">精细化模型</p>
            <VersionUpdateTable :data="tableData2"></VersionUpdateTable>
            <p class="marginTB20">数字化移交</p>
            <VersionUpdateTable :data="tableData1"></VersionUpdateTable>
          </div>
        </div>
      </el-scrollbar>
    </div>

    <el-dialog
      lock-scroll
      title="模型上传"
      :visible.sync="visible"
      @close="closeHandler"
      width="30%"
      top="25vh"
    >
      <div class="fileSuccess" v-if="fileStatus == 'success'">
        <i class="el-icon-success"></i>
        <div>
          <p class="a">上传成功</p>
          <p>进入审核阶段，请注意查收审核邮件！</p>
        </div>
      </div>
      <div class="fileSuccess fileError" v-if="fileStatus == 'error'">
        <i class="el-icon-error"></i>
        <div>
          <p class="a">上传失败</p>
          <p>请重新上传</p>
        </div>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="visible = false">取 消</el-button>
        <el-button @click="visible = false" type="primary">{{
          okBtnText
        }}</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { uploadVerison } from "@/http/api";
import Upload from "@/components/upload.vue";
import VersionUpdateTable from "./components/versionUpdateTable.vue";
export default {
  name: "versionUpdate",
  components: {
    Upload,
    VersionUpdateTable,
  },
  data() {
    return {
      visible: false,
      fileStatus: "",
      okBtnText: "确 定",
      tableData1: [],
      tableData2: [],
      tableData3: [],
      fileSuccessList: [],
      modelId: null,
      row: null,
      all_sites: 1,
    };
  },
  computed: {},
  watch: {},
  created() {
    this.row = this.$route.query.query
      ? JSON.parse(this.$route.query.query)
      : null;
    if (this.row) {
      this.modelId = this.row.id;
      this.uploadVerisonHandler();
      this.all_sites = this.row.all_sites;
    }
  },
  mounted() {},

  methods: {
    uploadVerisonHandler() {
      uploadVerison({ model_id: this.modelId }).then((res) => {
        let data = res.list;
        for (const key in data) {
          let keys = "tableData" + key;
          this[keys] = data[key];
        }
      });
    },
    onSubmit() {},
    closeHandler() {
      this.fileStatus = "";
      this.okBtnText = "确 定";
    },
    errorHandler(params, type) {},
    successHandler(params, type) {
      let { file, response } = { ...params };
      if (response) {
        this.fileSuccessList[type] = response;
      }
      this.fileStatus = "success";
      this.visible = true;
    },
  },
};
</script>

<style lang="less">
#versionUpdate {
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  .btitle {
    margin-bottom: 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
  }
  .waringClass {
    color: #666;
    padding: 10px 0;
    border-radius: 5px;
    font-size: 16px;
    // margin-left: 50px;
  }
  .breadcrumb {
    margin: 0 20px 20px 20px;
  }
  .main {
    height: calc(100% - 150px);
    //   padding: 0 20px;
    .mainM {
      margin: 20px;
    }
  }
  .thth {
    margin: 20px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
</style>
