<template>
  <div id="memberManage">
    <div class="shareHeader">
      <div class="title">三维模型智能管理平台</div>
    </div>
    <div class="horLine"></div>
    <DivSecond></DivSecond>
    <div style="height: 100px">
      <Table ref="tableRef" :data="tableData" style="width: 100%">
        <el-table-column prop="name" label="ID"> </el-table-column>
        <el-table-column prop="name" label="用户名"></el-table-column>
        <el-table-column prop="name" label="类型"></el-table-column>
        <el-table-column width="150" align="center" label="操作">
          <template slot-scope="scope">
            <div class="operation">
              <span class="margin5">查看</span>|<span class="margin5"
                >设置上传</span
              >
              <!-- <span class="margin5">设置上传</span> -->
            </div>
          </template>
        </el-table-column>
      </Table>
    </div>
    <div class="rightList_main_pagination">
      <el-pagination
        background
        @current-change="currentChange"
        layout="prev, pager, next"
        :page-size="pageSize"
        :current-page="currentPage"
        :total="total"
      >
      </el-pagination>
      <span class="info"
        >当前显示{{ tableData.length }}条，当前记录共{{ total }}条</span
      >
    </div>
  </div>
</template>

<script>
export default {
  name: "",
  data() {
    return {
      tableData: [],
      total: 0,
      pageSize: 15,
      currentPage: 1,
    };
  },
  computed: {},
  watch: {},
  mounted() {},
  methods: {
    currentChange() {},
  },
};
</script>

<style lang="less">
#memberManage {
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}
</style>
