<template>
  <div id="layout">
    <!-- <div class="shareHeader">
      <div class="title">三维模型智能管理平台</div>
    </div>
    <div class="horLine"></div>
    <DivSecond></DivSecond>
    <MyTableBar></MyTableBar> -->
    <ShareHeader></ShareHeader>
    <div id="mainView">
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
// import MyTableBar from "@/views/modelManage/components/myTableBar.vue";
import ShareHeader from "./modelManage/shareHeader.vue";
export default {
  name: "",
  components: {
    // MyTableBar,
    ShareHeader,
  },
  data() {
    return {};
  },
  computed: {},
  watch: {},
  mounted() {},
  methods: {},
};
</script>

<style lang="less">
#layout {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 20px;
  #mainView {
    width: 100%;
    height: calc(100% - 215px);
  }
}
</style>
